---
title: О компании
---
<!-- [About page] -->
<div class="page--line page-overflow m-b-30">
	<div class="row columns">
		<div class="small-48 columns">

			<div class="about">
				
				<h1 class="about__title">
					о компании
				</h1>
				
				<div class="about__anons">
					<p>
						Работаем с 2005 года. Специализируемся на пленках различного назначения и делаем это хорошо
					</p>
				</div>

				<div class="row m-b-20">
					<div class="small-48 large-28 columns p-r-40">
						<p>
							«Armormarket» пытается сократить зависимость от российского рынка и рублевой выручки. Об этом на Саммите Рейтер в Москве рассказал глава и сооснователь компании Аркадий Волож:
						</p>
						<blockquote class="about__blockquote">
							<span>&laquo;</span>Если вдруг в экономике случится какой-нибудь очередной коллапс, и это абсолютно вне нашего влияния… я волнуюсь вот, за что: что, имея своей основной «кормовой» базой наш рынок России и рубли, будучи на интернет-рынке одной страны, если вдруг что-то случится, нам придется сокращать людей, и это страшно!<span>&raquo;</span>
						</blockquote>
						<p>
							Поэтому нам нужно найти свое применение, нам нужно найти бизнес-модели, партнеров, заказы, нам нужно научиться продавать свои уникальные умения на других рынках, чтобы не зависеть от одного. Поэтому так активно мы ищем разные схемы, разные другие источники дохода — и в интернете,
							и вне интернета, куда еще можно применить наши умения.
						</p>
					</div>
					<div class="small-48 large-20 columns about__anons-img-sm">
						<img class="about__anons-img" src="assets/img/pages-pictures/about/img-1.jpg" width="679" height="420" />
					</div>
				</div>

				<div class="about__anons">
					<p>
						«Armormarket» зарекомендовала себя как компания с надежным качественным исполнением. Поэтому мы можем смело давать длительную гарантию на свои работы. Поэтому нам доверяют известные компании.
					</p>
				</div>

			</div>

			<hr class="hline m-t-40 m-b-45 m-t-sm-35 m-b-sm-30" />

			<div class="us-brands">

				<h2 class="us-brands__header">
					Наши бренды
				</h2>
				
				<div class="row">
					<div class="small-48 large-12 columns p-r-40 p-r-sm-0">

						<div class="row us-brands__item">
							<div class="small-10 large-48 p-r-5 columns">
								<a class="us-brands__item-href" href="">
									<img src="assets/img/brands/usb.png" width="132" height="44" />
								</a>
							</div>
							<div class="small-38 large-48 columns">
								<strong class="us-brands__title">
									Ultrasolarblock
								</strong>
								<div class="us-brands__text">
									<p>
										Один из ведущих корейских производителей, который зарекомендовал себя наилучшим образом на российском рынке
									</p>
								</div>
							</div>
						</div>

					</div>
					<div class="small-48 large-12 columns p-r-40 p-r-sm-0">

						<div class="row us-brands__item">
							<div class="small-10 large-48 p-r-5 columns">
								<a class="us-brands__item-href" href="">
									<img src="assets/img/brands/llumar.png" width="132" height="44" />
								</a>
							</div>
							<div class="small-38 large-48 columns">
								<strong class="us-brands__title">
									Lumar
								</strong>
								<div class="us-brands__text">
									<p>
										Работа на большой высоте
										с использованием допуска и страховки
									</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="small-48 large-12 columns p-r-40 p-r-sm-0">

						<div class="row us-brands__item">
							<div class="small-10 large-48 p-r-5 columns">
								<a class="us-brands__item-href" href="">
									<img src="assets/img/brands/sun-gard.png" width="132" height="44" />
								</a>
							</div>
							<div class="small-38 large-48 columns">
								<strong class="us-brands__title">
									SunGuard
								</strong>
								<div class="us-brands__text">
									<p>
										Один из ведущих корейских производителей, который зарекомендовал себя наилучшим образом на российском рынке
									</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="small-48 large-12 columns p-r-40 p-r-sm-0">

						<div class="row us-brands__item">
							<div class="small-10 large-48 p-r-5 columns">
								<a class="us-brands__item-href" href="">
									<img src="assets/img/brands/bekaert.png" width="132" height="44" />
								</a>
							</div>
							<div class="small-38 large-48 columns">
								<strong class="us-brands__title">
									Bekaert
								</strong>
								<div class="us-brands__text">
									<p>
										Возможнось монтажа
										в кратчайшие сроки, работа в несколько смен 24 часа в сутки
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>

			</div>

			<hr class="hline m-t-40 m-b-45 m-t-sm-20 m-b-sm-30" />

			<div class="us-clients">
				<h2 class="us-clients__header">
					Среди наших клиентов
				</h2>

				<div class="row logotypes text-center">
					<div class="small-16 large-9 p-r-5 p-l-5 columns">
						<a href=""><img src="assets/img/logotypes/alpha-bank.png" width="142" height="84" /></a>
					</div>
					<div class="small-16 large-8 p-r-5 p-l-5 columns">
						<a href=""><img src="assets/img/logotypes/lucoil.png" width="142" height="84" /></a>
					</div>
					<div class="small-16 large-8 p-r-5 p-l-5 columns">
						<a href=""><img src="assets/img/logotypes/mvideo.png" width="142" height="84" /></a>
					</div>
					<div class="small-16 large-9 p-r-5 p-l-5 columns">
						<a href=""><img src="assets/img/logotypes/vtb-24.png" width="142" height="84" /></a>
					</div>						
					<div class="small-16 large-6 p-r-5 p-l-5 columns">
						<a href=""><img src="assets/img/logotypes/bp.png" width="142" height="84" /></a>
					</div>
					<div class="small-16 large-8 p-r-5 p-l-5 columns">
						<a href=""><img src="assets/img/logotypes/azbuka-vkusa.png" width="142" height="84" /></a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- [/About page] -->

<!-- [Slider Reviews] -->
<div class="page--line page-overflow m-b-25">
	<div class="row columns">
		<div class="small-48 columns">

			<div class="orbit reviews reviews--slide" role="region" aria-label="" data-orbit>

				<ul class="orbit-container m-b-10">
					{{#repeat 4}}
					<li class="orbit-slide">
						<div class="reviews__item">

							<div class="reviews__item-text">
								<p>
									«У меня в магазине дверь чем-то стукнули, треснула,
									но не посыпалась кусками. Хоть без жертв обошлось,
									не зря укрепили пленкой»
								</p>
							</div>

							<a class="reviews__item-author" href="">
								<span class="reviews__item-author-img">
									<img src="assets/img/reviews/persons/person-1.png" width="36" height="36" />
								</span>
								<strong class="reviews__item-author-name">
									Иван
								</strong>
								<span class="reviews__item-author-post">
									Исполнительный директор
									ГК СофтСервис
								</span>
							</a>

						</div>
					</li>
					{{/repeat}}
				</ul>

				<div class="text-center">

					<button class="orbit-previous" href="" aria-label="previous"><i class="icons icons--testimonial-arrow-left"></i></button>

					<nav class="orbit-bullets">
						<button class="is-active" data-slide="0"><i class="icons icons--testimonial-round"></i></button>
						<button data-slide="1"><i class="icons icons--testimonial-round"></i></button>
						<button data-slide="2"><i class="icons icons--testimonial-round"></i></button>
						<button data-slide="3"><i class="icons icons--testimonial-round"></i></button>
					</nav>
					
					<button class="orbit-next" href="" aria-label="next"><i class="icons icons--testimonial-arrow-right"></i></button>

				</div>

			</div>

		</div>
	</div>
</div>
<!-- [/Slider Reviews] -->