---
title: Статьи
---

<!-- [Article] -->
<div class="page--line page-overflow m-b-30 m-b-sm-5">
	<div class="row columns">
		<div class="small-48 columns">
			
			
			<div class="article">
				
				<h1 class="article__title">
					Монтаж пленки в квартирах
					и загородных домах
				</h1>
				
				<div class="row">
					<div class="small-48 large-44 columns">

						<div class="article__anons">
							<p>
								Работаем с 2005 года. Специализируемся на пленках различного назначения и делаем это хорошо
							</p>
						</div>

						<figure class="article__figure">
							<p>
								<img src="assets/img/pages-pictures/article/img-1.jpg" width="560" height="334" alt="" />
							</p>
							<figcaption class="article__figcaption">
								Название фотографии
							</figcaption>
						</figure>

						<div class="article__text">
							<p>
								Министерство культуры России подготовило поправки к закону «О защите детей от информации, причиняющей вред их здоровью и развитию», который позволяет продавцам билетов в кинотеатрах
								и контролерам требовать паспорта у граждан, чтобы подтвердить их возраст. Документ представлен на общественное обсуждение на федеральном портале проектов нормативно-правовых актов.
							</p>
							<p>
								«Организатор зрелищного мероприятия, на котором демонстрируется информационная продукция, запрещенная для детей, обязан принять меры, исключающие возможность нахождения на таком мероприятии лиц младше 18 лет», — подчеркивается в законопроекте.
							</p>
							<p>
								Кроме того, в киноанонсах, показываемых перед детскими сеансами, согласно документу, не должно быть рекламы картин для взрослых.
							</p>
							<p>
								Законопроект также предлагает не считать вредной для детей информацию, которая может вызвать желание заниматься бродяжничеством и попрошайничеством. Этот пункт действующего закона вызвал критику общественности, так как под запрет попадали такие детские книги, как «Колобок», «Приключения поросенка Фунтика», «Мцыри» Михаила Лермонтова, «Белый пудель» Александра Куприна и «Дети подземелья» Владимира Короленко. Кроме того, бродягами являются герои произведений Марка Твена и многих французских авторов.
							</p>
						</div>
						
						{{> back-to }}
					
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- [/Article] -->