---
title: Зеркальные пленки
---

{{> catalog-nav }}

{{> breadcrumbs }}

<!-- [Catalog item] -->
<!-- [Page] -->
<div class="page page--line">
	<div class="row catalog-item">
		<div class="small-48 large-30 columns">
			
			<h3 class="catalog-item__code show-for-small hide-for-large">
				Код продукта: <strong>SF 100 CL</strong>
			</h3>
			<h1 class="catalog-item__title">
				Laser Static Cling Stickers
				Светлое Зеркало
			</h1>
			<h3 class="catalog-item__code hide-for-small show-for-large">
				Код продукта: SF 100 CL
			</h3>

		</div>
		<div class="small-48 large-16 large-offset-2 columns">
			
			<!-- [Row] -->
			<div class="row catalog-item__price-block">
				<div class="small-19 large-48 columns">

					<!-- [Цена] -->
					<div class="catalog-item__price-title show-for-small hide-for-large">
						Стоимость 1 шт:
					</div>
					<div class="catalog-item__price">
						2 500<span class="rub">a</span>
					</div>
					<!-- [/Цена] -->
					
				</div>
				<div class="small-29 large-48 columns">

					<!-- [Количество] -->
					<div class="row">
						<div class="small-23 columns">
							
							<div class="catalog-item__custom-select">
								<select class="catalog-item__count custom" name="" id="">
									<option value="">1 шт</option>
									<option value="">2 шт</option>
									<option value="">3 шт</option>
									<option value="">4 шт</option>
									<option value="">5 шт</option>
								</select>
							</div>

						</div>
						<div class="small-22 small-offset-2 columns">

							<button class="button catalog-item__button">Купить</button>

						</div>
					</div>
					<!-- [/Количество] -->

				</div>
			</div>
			<!-- [/Row] -->

		</div>
	</div>
	<div class="page page-line row catalog-item">
		<div class="small-48 large-30 columns">

		<!-- [Slider]
		    <div class="ninja-slider__box">
		        <div id="ninja-slider" class="ninja-slider">
		            <div class="slider-inner">
		                <ul>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-1.jpg"></a><div class="caption">Авиапарк установлена пленка 112 мкм-5000</div></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-2.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-3.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-4.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-5.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-6.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-7.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-8.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-9.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-10.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-11.jpg"></a></li>
		                    <li><a class="ns-img" href="assets/img/slider/catalog-slider/img-12.jpg"></a></li>
		                </ul>
		                <div class="fs-icon" title="Увеличить/Закрыть"></div>
		            </div>
		        </div>
		        <div id="thumbnail-slider">
		            <div class="inner">
		                <ul>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-1.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-2.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-3.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-4.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-5.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-6.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-7.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-8.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-9.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-10.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-11.jpg"></a>
		                    </li>
		                    <li>
		                        <a class="thumb" href="assets/img/slider/catalog-slider/previews/img-12.jpg"></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		[/Slider] -->
		
		<!-- [Slider] -->
		    <div id="fscreen" class="fscreen">
		        
				<div id="fscreen-slider" class="fscreen-slider">
					
		            <div class="fscreen-slider-inner">
		                <ul>
		                    <li><a href="assets/img/slider/catalog-slider/img-1.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-2.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-3.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-4.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-5.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-6.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-7.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-8.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-9.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-10.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-11.jpg"></a></li>
		                    <li><a href="assets/img/slider/catalog-slider/img-12.jpg"></a></li>
		                </ul>
		            </div>
					
					<div class="fscreen-slider-title">
						<ul>
							<li>
								Laser Static Cling Stickers Светлое Зеркало
							</li>
							<li>
								Laser Static Cling Stickers
							</li>
							<li>
								Laser Static Cling
							</li>
							<li>
								Laser Static Cling Stickers Светлое
							</li>
							<li>
								Laser Static
							</li>
							<li>
								Laser Static Cling Stickers Светлое Зеркало
							</li>
							<li>
								Laser Static Cling
							</li>
							<li>
								Laser Static Cling Stickers Светлое
							</li>
							<li>
								Laser Static Cling Stickers
							</li>
							<li>
								Laser Static Cling Stickers Светлое Зеркало
							</li>
							<li>
								Laser Static Cling Stickers Светлое
							</li>
							<li>
								Laser Static Cling
							</li>
						</ul>
					</div>
					
		        </div>
				
		        <div id="fscreen-thumbs" class="fscreen-thumbs fscreen-thumbs--vertical">
		            <div class="fscreen-thumbs-inner">
		                <ul>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-1.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-2.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-3.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-4.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-5.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-6.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-7.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-8.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-9.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-10.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-11.jpg"></a>
		                    </li>
		                    <li>
		                        <a href="assets/img/slider/catalog-slider/previews/img-12.jpg"></a>
		                    </li>
		                </ul>
		            </div>
		        </div>
				
		    </div>
		<!-- [/Slider] -->
		
		</div>
		<div class="small-48 large-16 large-offset-2 columns">

			<div class="catalog-item__props">
				<p class="catalog-item__props-line">
					<span class="catalog-item__prop">
						<span class="decorate">
							Бренд:
						</span>
					</span>
					<strong class="catalog-item__value">
						USB
					</strong>
				</p>
				<p class="catalog-item__props-line">
					<span class="catalog-item__prop">
						<span class="decorate">
							Цвет:
						</span>
					</span>
					<strong class="catalog-item__value">
						Светлое зеркало
					</strong>
				</p>
				<div class="catalog-item__props-line">
					<div class="catalog-item__prop">
						<div class="decorate">
							ПВС<i class="icons icons--question qtip-tip m-l-5" data-qtip="top left"></i><div class="qtip-titlebar">
													<div class="qtip-title">
														Коэффициент отражения
														<br />
														тепловой солнечной энергии
													</div>
													<div>
														<p>
															Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
														</p>
													</div>
												</div>
						</div>
					</div>
					<strong class="catalog-item__value">
						7
					</strong>
				</div>
				<div class="catalog-item__props-line">
					<div class="catalog-item__prop">
						<div class="decorate">
							ОЭС<i class="icons icons--question qtip-tip m-l-5" data-qtip="top left"></i><div class="qtip-titlebar">
													<div class="qtip-title">
														Коэффициент отражения
														<br />
														тепловой солнечной энергии
													</div>
													<div>
														<p>
															Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
														</p>
													</div>
												</div>
						</div>
					</div>
					<strong class="catalog-item__value">
						25
					</strong>
				</div>
				<p class="catalog-item__props-line">
					<span class="catalog-item__prop">
						<span class="decorate">
							Размер, (м.):
						</span>
					</span>
					<strong class="catalog-item__value">
						1,50 x 2,40
					</strong>
				</p>
				<p class="catalog-item__props-line">
					<span class="catalog-item__prop">
						<span class="decorate">
							Гарантия:
						</span>
					</span>
					<strong class="catalog-item__value">
						5 лет
					</strong>
				</p>
			</div>

			<div class="catalog-item__service">
				<span class="catalog-item__service-title">
					Оплата
				</span>
				<p>
					Бесплатная доставка по Москве и области в течении двух дней.
				</p>
			</div>

			<div class="catalog-item__service">
				<span class="catalog-item__service-title">
					Доставка
				</span>
				<p>
					Бесплатная доставка по Москве и области в течении двух дней.
				</p>
			</div>

			<div class="catalog-item__service">
				<span class="catalog-item__service-title">
					Монтаж
				</span>
				<p>
					Вы можете заказать монтаж пленки.
					Выезд менеджера для замера и консультации
					по Москве бесплатный. Для заказа замера воспользуйтесь <a href="">онлайн формой</a> или звоните
					<br />
					<strong>+7 (495) 781-23-45</strong>
				</p>
			</div>

		</div>
	</div>
	<!-- [/Catalog item] -->

	<!-- [Catalog table-view] -->
	<div class="page--line hide-for-small show-for-large">
		<div class="row columns">
			<div class="small-48 columns relative">

				<hr class="hline m-b-35" />
				
				<div class="catalog catalog--table-view">
					
					<h2 class="catalog__title">
						Популярные пленки:
					</h2>
					
					<div class="catalog__rows">
						<!-- [Row] -->
						<div class="row catalog__rows-row">
							<div class="small-48 large-12 columns">

								<div class="catalog__element">
									<a href="" class="catalog__element-name ">
										Чёрная тонировочная оконная пленка Black Out
									</a>						
									<div class="row">
										<div class="small-16 large-48 columns">
											<a href="" class="catalog__element-href">
												<i class="icons icons--green icons--catalog-protective-films-sm"></i>
												<span class="black catalog__element-img"></span>
											</a>
											<div class="catalog__element-sect-1">
												<span class="catalog__element-artikul">USB</span>
												<a href="" class="catalog__element-name">
													Чёрная тонировочная оконная пленка Black Out
												</a>
											</div>
										</div>
										<div class="small-28 small-offset-4 large-48 columns">
											<div class="catalog__element-sect-2">
												<div class="row">
													<div class="small-13 large-13 columns">
														<span class="catalog__element-prop-title">
															ПВС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															8
														</span>
													</div>
													<div class="small-15 large-15 columns">
														<span class="catalog__element-prop-title">
															ОЭС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															27
														</span>
													</div>
													<div class="small-20 large-20 columns">
														<span class="catalog__element-prop-title">
															Размер, (м.):
														</span>
														<span class="catalog__element-prop-value">
															2,23 х 3
														</span>
													</div>
												</div>
											</div>
											<div class="catalog__element-sect-3">
												<span class="catalog__element-price">
													1 000<span class="rub">a</span>
												</span>
											</div>
											<button class="button catalog__element-btn">Купить</button>
										</div>
									</div>
								</div>

							</div>
							<div class="small-48 large-12 columns">

								<div class="catalog__element">
									<a href="" class="catalog__element-name ">
										Тонировочная оконная пленка 100mic Silver 20
									</a>						
									<div class="row">
										<div class="small-16 large-48 columns">
												<a href="" class="catalog__element-href">
												<i class="icons icons--marine icons--catalog-decorative-films-sm"></i>
												<span class="silver catalog__element-img"></span>
											</a>
											<div class="catalog__element-sect-1">
												<span class="catalog__element-artikul">USB</span>
												<a href="" class="catalog__element-name">
													Тонировочная оконная пленка 100mic Silver 20
												</a>
											</div>
										</div>
										<div class="small-28 small-offset-4 large-48 columns">
											<div class="catalog__element-sect-2">
												<div class="row">
													<div class="small-13 large-13 columns">
														<span class="catalog__element-prop-title">
															ПВС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															8
														</span>
													</div>
													<div class="small-15 large-15 columns">
														<span class="catalog__element-prop-title">
															ОЭС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															27
														</span>
													</div>
													<div class="small-20 large-20 columns">
														<span class="catalog__element-prop-title">
															Размер, (м.):
														</span>
														<span class="catalog__element-prop-value">
															2,23 х 3
														</span>
													</div>
												</div>
											</div>
											<div class="catalog__element-sect-3">
												<span class="catalog__element-price">
													33 000<span class="rub">a</span>
												</span>
											</div>
											<button class="button catalog__element-btn">Купить</button>
										</div>
									</div>
								</div>
			
							</div>
							<div class="small-48 large-12 columns">

								<div class="catalog__element">
									<a href="" class="catalog__element-name ">
										Тёмно-зеленая оконная пленка Energy 30
									</a>
									<div class="row">
										<div class="small-16 large-48 columns">
											<a href="" class="catalog__element-href">
												<i class="icons icons--red icons--catalog-heat-reflective-films-sm"></i>
												<span class="dark-green catalog__element-img"></span>
											</a>
											<div class="catalog__element-sect-1">
												<span class="catalog__element-artikul">USB</span>
												<a href="" class="catalog__element-name">
													Тёмно-зеленая оконная пленка Energy 30
												</a>
											</div>
										</div>
										<div class="small-28 small-offset-4 large-48 columns">
											<div class="catalog__element-sect-2">
												<div class="row">
													<div class="small-13 large-13 columns">
														<span class="catalog__element-prop-title">
															ПВС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															8
														</span>
													</div>
													<div class="small-15 large-15 columns">
														<span class="catalog__element-prop-title">
															ОЭС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															27
														</span>
													</div>
													<div class="small-20 large-20 columns">
														<span class="catalog__element-prop-title">
															Размер, (м.):
														</span>
														<span class="catalog__element-prop-value">
															2,23 х 3
														</span>
													</div>
												</div>
											</div>
											<div class="catalog__element-sect-3">
												<span class="catalog__element-price">
													4 800<span class="rub">a</span>
												</span>
											</div>
											<button class="button catalog__element-btn">Купить</button>
										</div>
									</div>
								</div>

							</div>
							<div class="small-48 large-12 columns">

								<div class="catalog__element">
									<a href="" class="catalog__element-name ">
										Салатовая пленка для окон HP lr chr 35 ams
									</a>						
									<div class="row">
										<div class="small-16 large-48 columns">
											<a href="" class="catalog__element-href">
												<i class="icons icons--blue icons--catalog-slr-films-sm"></i>
												<span class="light-green catalog__element-img"></span>
											</a>
											<div class="catalog__element-sect-1">
												<span class="catalog__element-artikul">USB</span>
												<a href="" class="catalog__element-name">
													Салатовая пленка для окон HP lr chr 35 ams
												</a>
											</div>
										</div>
										<div class="small-28 small-offset-4 large-48 columns">
											<div class="catalog__element-sect-2">
												<div class="row">
													<div class="small-13 large-13 columns">
														<span class="catalog__element-prop-title">
															ПВС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															8
														</span>
													</div>
													<div class="small-15 large-15 columns">
														<span class="catalog__element-prop-title">
															ОЭС<i class="icons icons--question qtip-tip" data-qtip="top left"></i><div class="qtip-titlebar">
																<div class="qtip-title">
																	Коэффициент отражения
																	<br />
																	тепловой солнечной энергии
																</div>
																<div>
																	<p>
																		Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																	</p>
																</div>
															</div>:
														</span>
														<span class="catalog__element-prop-value">
															27
														</span>
													</div>
													<div class="small-20 large-20 columns">
														<span class="catalog__element-prop-title">
															Размер, (м.):
														</span>
														<span class="catalog__element-prop-value">
															2,23 х 3
														</span>
													</div>
												</div>
											</div>
											<div class="catalog__element-sect-3">
												<span class="catalog__element-price">
													12 000<span class="rub">a</span>
												</span>
											</div>
											<button class="button catalog__element-btn">Купить</button>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- [/Row] -->
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- [Catalog list-view] -->
</div>
<!-- [/Page] -->

<!-- [Make Request] -->
<div class="page--line page--dark page--overflow m-t-55">
  <div class="row columns">
    <div class="small-48 columns">
		
		<!-- [For mobile only] -->
		<div class="mobphone show-for-small hide-for-large">
			<div class="mobphone__text">
				<p>
					Вы можете оформить
					<br />
					заявку на покупку и монтаж
					<br />
					пленки <a href=""><strong>онлайн</strong></a> или по тел.:
				</p>
			</div>
			<a class="mobphone__phone" href="">8 (495) <strong>781-23-45</strong></a>
		</div>
		<!-- [/For mobile only] -->
		
		<!-- [For desctop only] -->
		<div class="make-request hide-for-small show-for-large">
		
			<img class="make-request__img" src="assets/img/pages-pictures/application/img-1.jpg" width="1090" height="480" />

      		<a class="sticker__order" href="">
      			<span class="sticker__order-info clearfix">
					<i class="icons icons--ordering"></i>
					<span class="badge badge-round">5</span>
					<span class="sticker__order-price">на 270 000 <strong class="rub">a</strong></span>
      			</span>
      			<span class="sticker__order-title">
      				Оформление
      				<br />
					заказ
      			</span>
      		</a>

			<div class="make-request__content">
				<div class="make-request__text">
					<p>
						Вы можете оформить заявку
						на покупку и монтаж пленки онлайн
						или по телефону:
					</p>
				</div>
				<span class="make-request__phone">8 (495) <strong>781-23-45</strong></span>


	      	</div>
		</div>
		<!-- [/For desctop only] -->

    </div>
  </div>
</div>
<!-- [/Make Request] -->
