---
layout: default-new-index
title: New Index Page
description: New Index Page
---

{{> breadcrumbs }}

<!-- [Стоимость монтажа] -->
<div class="catalog-item-new">
	<div class="row">
		<div class="small-48 column">
			
			<!-- [Paper start] -->
			<div class="paper__page m-t-10 m-b-60 m-l-0 m-r-0">
      			<div class="paper__page-in">
					
					<h1 class="catalog-item-new__title">
						Зеркальная солнцезащитная тонировочная пленка. Бронза/Серебро 8%
					</h1>
					
					<div class="row m-b-40">
						<div class="small-48 large-24 columns p-r-40 p-r-sm-0">
							
							<div class="m-l-sm--10 m-r-sm--10">
							<!-- [Slider] -->
								<div id="fscreen" class="fscreen fscreen--sm">
									
									<div id="fscreen-slider" class="fscreen-slider">
										
										<div class="fscreen-slider-inner">
											<ul>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
												<li><a href="assets/img/slider/catalog-slider/img-new-1.jpg"></a></li>
											</ul>
										</div>
										
										<div class="fscreen-slider-title">
											<ul>
												<li>
													Laser Static Cling Stickers Светлое Зеркало
												</li>
												<li>
													Laser Static Cling Stickers
												</li>
												<li>
													Laser Static Cling
												</li>
												<li>
													Laser Static Cling Stickers Светлое
												</li>
												<li>
													Laser Static
												</li>
												<li>
													Laser Static Cling Stickers Светлое Зеркало
												</li>
												<li>
													Laser Static Cling
												</li>
												<li>
													Laser Static Cling Stickers Светлое
												</li>
												<li>
													Laser Static Cling Stickers
												</li>
												<li>
													Laser Static Cling Stickers Светлое Зеркало
												</li>
												<li>
													Laser Static Cling Stickers Светлое
												</li>
												<li>
													Laser Static Cling
												</li>
											</ul>
										</div>
										
									</div>
									
									<div id="fscreen-thumbs" class="fscreen-thumbs fscreen-thumbs--vertical">
										<div class="fscreen-thumbs-inner">
											<ul>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-1.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-2.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-3.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-4.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-5.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-6.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-7.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-8.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-9.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-10.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-11.jpg"></a>
												</li>
												<li>
													<a href="assets/img/slider/catalog-slider/previews/img-12.jpg"></a>
												</li>
											</ul>
										</div>
									</div>
									
								</div>
							<!-- [/Slider] -->
							</div>
							
						</div>
						<div class="small-48 large-24 columns">
							
							<div class="catalog-item-new__anons">
								<p>
									Самая мощная солнцезащитная и солнцеотражающая пленка от Solarblock – отражение энергии солнца до 92%, повышенный срок эксплуатации, суперпрочный клей
								</p>
							</div>
							<ul>
								<li>
									Значительно уменьшается количество попадающей внутрь здания солнечной энергии, поэтому улучшается температурный баланс в помещении,
								</li>
								<li>
									обеспечивается приватность за счет односторонней видимости.
								</li>
							</ul>
							
						</div>
					</div>
					
					<form action="" method="post">
						<div class="catalog-item-new__table">
							<div class="catalog-item-new__table-header">
								<div class="row">
									<div class="small-10 medium-16 columns">
										<span class="hide-for-small-only">
											&nbsp;
											<br />
											&nbsp;
											<br />
										</span>
										<span class="hide-for-small-only">Производитель</span>
										<span class="show-for-small-only qtip-tip has-tip" data-qtip="bottom left">Пр-ль</span><div class="qtip-titlebar">      													<div>
      														<p>
      															Производитель
      														</p>
      													</div></div>
									</div>
									<div class="small-18 medium-12 columns">
										<div class="row">
											<div class="small-48 columns">
												Размер рулона
												<span class="catalog-item-new__table-distance"></span>											
											</div>
										</div>
										<div class="row">
											<div class="small-16 columns">
												<span class="hide-for-small-only">Ширина, м</span>
												<span class="show-for-small-only qtip-tip has-tip" data-qtip="bottom right">W, м</span><div class="qtip-titlebar">      													<div>
      														<p>
      															Ширина, м
      														</p>
      													</div></div>
											</div>
											<div class="small-16 columns">
												<span class="hide-for-small-only">Длина, м</span>
												<span class="show-for-small-only qtip-tip has-tip" data-qtip="bottom right">L, м</span><div class="qtip-titlebar">      													<div>
      														<p>
      															Длина, м
      														</p>
      													</div></div>
											</div>
											<div class="small-16 columns">
												<span class="hide-for-small-only">Площадь, м<sup>2</sup></span>
												<span class="show-for-small-only qtip-tip has-tip" data-qtip="bottom right">S, м<sup>2</sup></span><div class="qtip-titlebar">      													<div>
      														<p>
      															Площадь, м<sup>2</sup>
      														</p>
      													</div></div>
											</div>
										</div>
									</div>
									<div class="small-9 small-offset-1 medium-8 medium-offset-4 columns">
										<span class="hide-for-small-only">
											&nbsp;
											<br />
											&nbsp;
											<br />
										</span>
										<span class="hide-for-small-only">Цена рулона, руб.</span>
										<span class="show-for-small-only qtip-tip has-tip" data-qtip="bottom right">Цена</span><div class="qtip-titlebar">      													<div>
													<p>
														Цена рулона, руб.
													</p>
												</div></div>
									</div>
									<div class="small-10 medium-8 columns">
										<span class="hide-for-small-only">
											Цена монтажа, руб. за м<sup>2</sup>.
											<br />
											Пленка и работа включены
											<br />
											в стоимость
										</span>
										<span class="show-for-small-only qtip-tip has-tip" data-qtip="bottom right">Цена монтажа, руб. за м<sup>2</sup>.</span><div class="qtip-titlebar">      													<div>
													<p>
														Цена монтажа, руб. за м<sup>2</sup>.
														<br />
														Пленка и работа включены
														<br />
														в стоимость
													</p>
												</div></div>
									</div>
								</div>
							</div>
							<div class="catalog-item-new__table-body">
								<div class="catalog-item-new__table-row">
									<div class="row">
										<div class="small-10 medium-16 columns">
											<input id="USB" type="checkbox" /><span class="catalog-item-new__table-row-bg"></span><label for="USB" class="m-l-10">USB</label>
										</div>
										<div class="small-6 medium-4 columns">
											<span>1.52</span>
										</div>
										<div class="small-6 medium-4 columns">
											<span>30</span>
										</div>
										<div class="small-6 medium-4 columns">
											<span>42</span>
										</div>
										<div class="small-9 small-offset-1 medium-8 medium-offset-4 columns">
											<span>1 500</span>
										</div>
										<div class="small-10 medium-8 columns">
											<span>2 500</span>
										</div>
									</div>
								</div>
								<div class="catalog-item-new__table-row">
									<div class="row">
										<div class="small-10 medium-16 columns">
											<input id="Armolan" type="checkbox" /><span class="catalog-item-new__table-row-bg"></span><label for="Armolan" class="m-l-10">Armolan</label>
										</div>
										<div class="small-6 medium-4 columns">
											<span>1.52</span>
										</div>
										<div class="small-6 medium-4 columns">
											<span>30</span>
										</div>
										<div class="small-6 medium-4 columns">
											<span>42</span>
										</div>
										<div class="small-9 small-offset-1 medium-8 medium-offset-4 columns">
											<span>9 200</span>
										</div>
										<div class="small-10 medium-8 columns">
											<span>11 000</span>
										</div>
									</div>
								</div>
								<div class="catalog-item-new__table-row">
									<div class="row">
										<div class="small-10 medium-16 columns">
											<input id="Sparks" type="checkbox" /><span class="catalog-item-new__table-row-bg"></span><label for="Sparks" class="m-l-10">Sparks</label>
										</div>
										<div class="small-6 medium-4 columns">
											<span>1.52</span>
										</div>
										<div class="small-6 medium-4 columns">
											<span>30</span>
										</div>
										<div class="small-6 medium-4 columns">
											<span>42</span>
										</div>
										<div class="small-9 small-offset-1 medium-8 medium-offset-4 columns">
											<span>12 000</span>
										</div>
										<div class="small-10 medium-8 columns">
											<span>15 000</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog-item-new__colorform m-l-sm--10 m-r-sm--10">
							<div class="row">
								<div class="small-48 medium-20 columns p-r-20 p-r-sm-0">
									<label for="name">
										Ваше имя <sup>*</sup>
									</label>
									<input id="name" class="form-control form-control--sm m-b-0" name="name" type="text" placeholder="" />
								</div>
								<div class="small-48 medium-12 columns p-r-20 p-r-sm-0">
									<label for="name">
										Телефон <sup>*</sup>
									</label>
									<input id="phone" class="form-control form-control--sm m-b-0" name="phone" type="text" placeholder="" />
								</div>
								<div class="small-48 medium-16 columns">
									<label for="name">
										Эл. почта <sup>*</sup>
									</label>
									<input id="email" class="form-control form-control--sm m-b-0" name="email" type="text" placeholder="email@site.ru" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="small-48 medium-24 columns p-t-10">
								<span class="catalog-item-new__comment">
									<span class="info m-r-10"></span>Наш менеджер свяжется с вами через 5 минут
								</span>
							</div>
							<div class="small-48 medium-24 columns text-right">
								<button type="button" class="button button--blue button--sm p-l-20 p-r-20 m-l-sm-10 m-r-sm-10 m-b-sm-15">Купить рулон</button><button type="button" class="button button--red button--sm p-l-20 p-r-20 m-l-25 m-l-sm-10 m-r-sm-10 m-b-sm-15">Заказать монтаж</button>
							</div>
						</div>
					</form>
					
				</div>
			</div>
			<!-- [/Paper start] -->
			
			<div class="catalog-item-new__content">
				<div class="row m-b-5">
					<div class="small-48 columns">
						<h3 class="catalog-item-new__subtitle">
							Оплата
						</h3>
						<ul>
							<li>
								Наличными при доставке или монтаже пленки.
							</li>
							<li>
								Безналичный расчет по договору и выставленному счету
							</li>
						</ul>
					</div>
				</div>
				
				<div class="row">
					<div class="small-48 medium-12 columns">
						<h3 class="catalog-item-new__subtitle">
							Доставка
						</h3>
						<p>
							Бесплатная доставка по Москве и области в течении двух дней
						</p>
					</div>
					<div class="small-48 medium-32 medium-offset-4 columns">
						<h3 class="catalog-item-new__subtitle">
							Монтаж
						</h3>
						<p>
							Вы можете заказать монтаж пленки. Выезд менеджера для замера
							и консультации по Москве бесплатный. Для заказа замера воспользуйтесь <a href=""><span class="decorate">онлайн формой</a></a> или звоните
							<br />
							<strong>
								+7 (495) 781-23-45
							</strong>
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- [/Стоимость монтажа] -->

