---
layout: default-new-inner
title: New Index Page
description: New Index Page
---

<!-- [Стоимость монтажа] -->
<div class="catalog-new">
	<div class="row">
		<div class="small-48 column">
			
			<h1 class="catalog-new__title">
				Солцезащитная пленка
			</h1>
			
			<div class="catalog-new__filter">
				<form class="catalog-new__filter__form" action="#" method="post">
					
					<div class="row">
						<div class="small-48 medium-12 column p-r-45">
							<label class="catalog-new__filter__form-label">
								&#160;
								<br />
								Пропускание света,<b>%</b><i class="icons icons--question qtip-tip m-l-5" data-qtip="middle left"></i><div class="qtip-titlebar">
      													<div>
      														<p>
      															Пропускание видимового света,
																Коэффициент <a href="#">ПВС</a>
      														</p>
      													</div>
      												</div>

							</label>
							<div class="row m-t-15">
								<div class="small-24 column p-r-10">
									<span class="catalog-new__filter__from">от</span>
									<input class="form-control form-control--sm" type="text" name="from" placeholder="5" />
								</div>
								<div class="small-24 column p-l-5">
									<span class="catalog-new__filter__from">до</span>
									<input class="form-control form-control--sm" type="text" name="to" placeholder="50" />
								</div>
							</div>
						</div>
						<div class="small-48 medium-12 column p-r-45">
							<label class="catalog-new__filter__form-label">
								Отражение
								<br />
								энергии солнца,<b>%</b><i class="icons icons--question qtip-tip m-l-5" data-qtip="middle left"></i><div class="qtip-titlebar">
      													<div>
      														<p>
      															Пропускание видимового света,
																Коэффициент <a href="#">ПВС</a>
      														</p>
      													</div>
      												</div>

							</label>
							<div class="row m-t-15">
								<div class="small-24 column p-r-10">
									<span class="catalog-new__filter__from">от</span>
									<input class="form-control form-control--sm" type="text" name="price-from" placeholder="0" />
								</div>
								<div class="small-24 column p-l-5">
								<span class="catalog-new__filter__from">до</span>
									<input class="form-control form-control--sm" type="text" name="price-to" placeholder="1 500" />
								</div>
							</div>
						</div>
						<div class="small-48 medium-24 column">
							<label class="catalog-new__filter__form-label">
								&#160;
								<br />
								Производитель<i class="icons icons--question qtip-tip m-l-5" data-qtip="middle left"></i><div class="qtip-titlebar">
      													<div>
      														<p>
      															Пропускание видимового света,
																Коэффициент <a href="#">ПВС</a>
      														</p>
      													</div>
      												</div>

							</label>
							<div class="m-t-15">
								<label class="catalog-new__filter__form-button"><input type="checkbox" checked="checked" /><span class="button button--frame button--xs">Не важно</span></label><label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="button button--frame button--xs">USB</span></label><label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="button button--frame button--xs">Armolan</span></label><label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="button button--frame button--xs">Sparks</span></label>
							</div>
						</div>
					</div>
					
					<div class="row m-t-20">
						<div class="small-48 column">
							<label class="catalog-new__filter__form-label">
								Цвет
							</label>
							<div class="m-t-15">
								<label class="catalog-new__filter__form-button"><input type="checkbox" checked="checked" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/black.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/gray.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/red.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/orange.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/yellow.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/green.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/marine.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/blue.png" width="21" height="21" alt="" /></span></label>
								<label class="catalog-new__filter__form-button"><input type="checkbox" checked="checked" /><span class="catalog-new__filter__colors"><img src="assets/img/catalog-filter/violet.png" width="21" height="21" alt="" /></span></label>
							</div>
						</div>
					</div>
					
				</form>
			</div>
			
			<div class="catalog--list-view">
				<div class="catalog__element catalog__element--inverse">
					<div class="row">
						<div class="small-16 large-48 columns columns--45">
							<a href="" class="catalog__element-href catalog__element-href--sm">
								<img src="assets/img/catalog-filter/black-big.png" width="110" width="110" alt="" />
							</a>
							<div class="catalog__element-sect-1">
								<a href="" class="catalog__element-name-bold">
									Чёрная тонировочная оконная пленка Black Out
								</a>
								<div class="catalog__element-production">
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">USB</span>
									</span>
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">Armolan</span>
									</span>
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">Sparks</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog__element catalog__element--inverse">
					<div class="row">
						<div class="small-16 large-48 columns columns--45">
							<a href="" class="catalog__element-href catalog__element-href--sm">
								<img src="assets/img/catalog-filter/gray-big.png" width="110" width="110" alt="" />
							</a>
							<div class="catalog__element-sect-1">
								<a href="" class="catalog__element-name-bold">
									Зеркальная солнцезащитная тонировочная пленка. Бронза/Серебро 8%.
								</a>
								<div class="catalog__element-production">
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">USB</span>
									</span>
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">Armolan</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog__element catalog__element--inverse">
					<div class="row">
						<div class="small-16 large-48 columns columns--45">
							<a href="" class="catalog__element-href catalog__element-href--sm">
								<img src="assets/img/catalog-filter/green-big.png" width="110" width="110" alt="" />
							</a>
							<div class="catalog__element-sect-1">
								<a href="" class="catalog__element-name-bold">
									Зеркальная оконная пленка Black Out
								</a>
								<div class="catalog__element-production">
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">USB</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog__element catalog__element--inverse">
					<div class="row">
						<div class="small-16 large-48 columns columns--45">
							<a href="" class="catalog__element-href catalog__element-href--sm">
								<img src="assets/img/catalog-filter/marine-big.png" width="110" width="110" alt="" />
							</a>
							<div class="catalog__element-sect-1">
								<a href="" class="catalog__element-name-bold">
									Зеркальная синяя. Серебро 15%
								</a>
								<div class="catalog__element-production">
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">USB</span>
									</span>
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">Armolan</span>
									</span>
									<span class="catalog-new__filter__form-button">
										<span class="button button--frame button--xs">Sparks</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- [/Стоимость монтажа] -->

