
<!-- [Top block] -->
<div class="page--line page--overflow mounting m-b-60 m-b-sm-0">
	<div class="row columns">
		<div class="small-48 columns relative">
			
			<span class="mounting__square mounting__square-dark hide-for-small show-for-large"></span>
			<span class="mounting__square mounting__square-light hide-for-small show-for-large"></span>
			<span class="mounting__square mounting__square-white hide-for-small show-for-large"></span>
			<span class="mounting__square mounting__square-white-out hide-for-small show-for-large"></span>
			
			<div class="catalog__content">
				<div class="relative">
					<img class="catalog__content-img show-for-small hide-for-large" src="assets/img/mobile/catalog-bg.jpg" width="640" height="240" alt="" />
					<img class="catalog__content-img hide-for-small show-for-large" src="assets/img/pages-pictures/catalog/img-3.jpg" width="960" height="240" alt="" />
					<span class="catalog__content-title">
						Каталог пленки
					</span>
				</div>
				<div class="catalog__content-text">
					<p>
						Наша компания представляет широкий ассортимент пленок различного 
						назначения от ведущих производителей. В каталоге вы можете выбрать 
						и заказать себе пленку онлайн. Если нужна <a href="">консультация</a>, то наши 
						специалисты с удовольствием помогут.
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Top block] -->

<!-- [orbit] -->
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="fxduqt-orbit">
	
	<div class="page--line page--light page--overflow m-b-50 m-b-sm-30">
		<div class="row columns">
			<div class="small-48 columns">
		
				<div class="orbit-bullets orbit-bullets--catalog">
					<div class="catalog-nav hide-for-small show-for-large">
						<div class="small-48 large-6 columns catalog-nav__item">
							<button data-slide="0" class="catalog-nav__title is-active"><span class="decorate">Защитная</span><span></span></button>
						</div>
						<div class="small-48 large-11 columns catalog-nav__item">
							<button data-slide="1" class="catalog-nav__title"><span class="decorate">Солнцезащитная</span></button>
						</div>
						<div class="small-48 large-10 columns catalog-nav__item">
							<button data-slide="2" class="catalog-nav__title"><span class="decorate">Декоративная</span></button>
						</div>
						<div class="small-48 large-13 columns catalog-nav__item">
							<button data-slide="3" class="catalog-nav__title"><span class="decorate">Теплоотражающая</span></button>
						</div>
						<div class="small-48 large-8 columns catalog-nav__item">
							<button data-slide="4" class="catalog-nav__title"><span class="decorate">Зеркальная</span></button>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- [Catalog anons] -->
	<div class="page page--line hide-for-small show-for-large">
		<div class="row columns">
			<div class="small-48 columns relative">

				<ul class="orbit-container" tabindex="0">
					<li class="orbit-slide" data-slide="0">
						<div class="row catalog-anons">
							<div class="small-48 large-13 columns">
								
								<h2 class="catalog-anons__title">
									Зеркальная пленка
								</h2>

								<div class="catalog-anons__text">
									<p>
										Защита от яркого света, перегрева, ультрафиолета, обеспечение 
										односторонней видимости и приватности - эти и многие другие свойства придаст вашему остеклению зеркальная пленка для тонирования окон UltraSolarBlock.
									</p>
									<p>
										Проведены все тесты и испытания, получены разрешительные документы
									</p>
								</div>
								<a class="catalog-anons__href" href=""><i class="icons icons--to-catalog"></i>Перейти в каталог</a>

							</div>
							<div class="small-48 large-23 columns">
								<img class="catalog-anons__img" src="assets/img/pages-pictures/catalog/img-1.png" width="540" height="504" alt="" />
							</div>
							<div class="small-48 large-12 columns">
								
								<h3 class="catalog-anons__subtitle">
									Зеркальная пленка
								</h3>
								
								<div class="catalog-anons__text">
									<ul>
										<li>
											улучшается температурный баланс в помещении;
										</li>
										<li>
											уменьшается количество попадающей внутрь здания солнечной энергии;
										</li>
										<li>
											создаются благоприятные условия для жизнедеятельности людей и работы техники, повышаются производительность труда и срок эксплуатации оборудования.
										</li>
									</ul>
									<p>
										<a href="">Узнать больше об этих пленках</a>
									</p>
								</div>

							</div>
						</div>
					</li>
					<li class="orbit-slide" data-slide="1">
						<div class="row catalog-anons">
							<div class="small-48 large-13 columns">
								
								<h2 class="catalog-anons__title">
									Зеркальная пленка
								</h2>

								<div class="catalog-anons__text">
									<p>
										Защита от яркого света, перегрева, ультрафиолета, обеспечение 
										односторонней видимости и приватности - эти и многие другие свойства придаст вашему остеклению зеркальная пленка для тонирования окон UltraSolarBlock.
									</p>
									<p>
										Проведены все тесты и испытания, получены разрешительные документы
									</p>
								</div>
								<a class="catalog-anons__href" href=""><i class="icons icons--to-catalog"></i>Перейти в каталог</a>

							</div>
							<div class="small-48 large-23 columns">
								<img class="catalog-anons__img" src="assets/img/pages-pictures/catalog/img-1.png" width="540" height="504" alt="" />
							</div>
							<div class="small-48 large-12 columns">
								
								<h3 class="catalog-anons__subtitle">
									Зеркальная пленка
								</h3>
								
								<div class="catalog-anons__text">
									<ul>
										<li>
											улучшается температурный баланс в помещении;
										</li>
										<li>
											уменьшается количество попадающей внутрь здания солнечной энергии;
										</li>
										<li>
											создаются благоприятные условия для жизнедеятельности людей и работы техники, повышаются производительность труда и срок эксплуатации оборудования.
										</li>
									</ul>
									<p>
										<a href="">Узнать больше об этих пленках</a>
									</p>
								</div>

							</div>
						</div>
					</li>
					<li class="orbit-slide" data-slide="2">
						<div class="row catalog-anons">
							<div class="small-48 large-13 columns">
								
								<h2 class="catalog-anons__title">
									Зеркальная пленка
								</h2>

								<div class="catalog-anons__text">
									<p>
										Защита от яркого света, перегрева, ультрафиолета, обеспечение 
										односторонней видимости и приватности - эти и многие другие свойства придаст вашему остеклению зеркальная пленка для тонирования окон UltraSolarBlock.
									</p>
									<p>
										Проведены все тесты и испытания, получены разрешительные документы
									</p>
								</div>
								<a class="catalog-anons__href" href=""><i class="icons icons--to-catalog"></i>Перейти в каталог</a>

							</div>
							<div class="small-48 large-23 columns">
								<img class="catalog-anons__img" src="assets/img/pages-pictures/catalog/img-1.png" width="540" height="504" alt="" />
							</div>
							<div class="small-48 large-12 columns">
								
								<h3 class="catalog-anons__subtitle">
									Зеркальная пленка
								</h3>
								
								<div class="catalog-anons__text">
									<ul>
										<li>
											улучшается температурный баланс в помещении;
										</li>
										<li>
											уменьшается количество попадающей внутрь здания солнечной энергии;
										</li>
										<li>
											создаются благоприятные условия для жизнедеятельности людей и работы техники, повышаются производительность труда и срок эксплуатации оборудования.
										</li>
									</ul>
									<p>
										<a href="">Узнать больше об этих пленках</a>
									</p>
								</div>

							</div>
						</div>
					</li>
					<li class="orbit-slide" data-slide="3">
						<div class="row catalog-anons">
							<div class="small-48 large-13 columns">
								
								<h2 class="catalog-anons__title">
									Зеркальная пленка
								</h2>

								<div class="catalog-anons__text">
									<p>
										Защита от яркого света, перегрева, ультрафиолета, обеспечение 
										односторонней видимости и приватности - эти и многие другие свойства придаст вашему остеклению зеркальная пленка для тонирования окон UltraSolarBlock.
									</p>
									<p>
										Проведены все тесты и испытания, получены разрешительные документы
									</p>
								</div>
								<a class="catalog-anons__href" href=""><i class="icons icons--to-catalog"></i>Перейти в каталог</a>

							</div>
							<div class="small-48 large-23 columns">
								<img class="catalog-anons__img" src="assets/img/pages-pictures/catalog/img-1.png" width="540" height="504" alt="" />
							</div>
							<div class="small-48 large-12 columns">
								
								<h3 class="catalog-anons__subtitle">
									Зеркальная пленка
								</h3>
								
								<div class="catalog-anons__text">
									<ul>
										<li>
											улучшается температурный баланс в помещении;
										</li>
										<li>
											уменьшается количество попадающей внутрь здания солнечной энергии;
										</li>
										<li>
											создаются благоприятные условия для жизнедеятельности людей и работы техники, повышаются производительность труда и срок эксплуатации оборудования.
										</li>
									</ul>
									<p>
										<a href="">Узнать больше об этих пленках</a>
									</p>
								</div>

							</div>
						</div>
					</li>
					<li class="orbit-slide" data-slide="4">
						<div class="row catalog-anons">
							<div class="small-48 large-13 columns">
								
								<h2 class="catalog-anons__title">
									Зеркальная пленка
								</h2>

								<div class="catalog-anons__text">
									<p>
										Защита от яркого света, перегрева, ультрафиолета, обеспечение 
										односторонней видимости и приватности - эти и многие другие свойства придаст вашему остеклению зеркальная пленка для тонирования окон UltraSolarBlock.
									</p>
									<p>
										Проведены все тесты и испытания, получены разрешительные документы
									</p>
								</div>
								<a class="catalog-anons__href" href=""><i class="icons icons--to-catalog"></i>Перейти в каталог</a>

							</div>
							<div class="small-48 large-23 columns">
								<img class="catalog-anons__img" src="assets/img/pages-pictures/catalog/img-1.png" width="540" height="504" alt="" />
							</div>
							<div class="small-48 large-12 columns">
								
								<h3 class="catalog-anons__subtitle">
									Зеркальная пленка
								</h3>
								
								<div class="catalog-anons__text">
									<ul>
										<li>
											улучшается температурный баланс в помещении;
										</li>
										<li>
											уменьшается количество попадающей внутрь здания солнечной энергии;
										</li>
										<li>
											создаются благоприятные условия для жизнедеятельности людей и работы техники, повышаются производительность труда и срок эксплуатации оборудования.
										</li>
									</ul>
									<p>
										<a href="">Узнать больше об этих пленках</a>
									</p>
								</div>

							</div>
						</div>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
	<!-- [/Catalog anons] -->
</div>
<!-- [orbit] -->

<!-- [Catalog table-view] -->
<div class="page--line">
	<div class="row columns">
		<div class="small-48 columns relative">
			
			<hr class="hline m-t-0 m-b-35 hide-for-small show-for-large" />

			<div class="catalog catalog--table-view">
				
				<h2 class="catalog__title">
					Популярные пленки:
				</h2>
				
				
				<div class="catalog__rows">
					<!-- [Row] -->
					<div class="row catalog__rows-row">
						<div class="small-48 large-12 columns">

							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Чёрная тонировочная оконная пленка Black Out
								</a>						
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--green icons--catalog-protective-films-sm"></i>
											<span class="black catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Чёрная тонировочная оконная пленка Black Out
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												1 000<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>

						</div>
						<div class="small-48 large-12 columns">

							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Тонировочная оконная пленка 100mic Silver 20
								</a>						
								<div class="row">
									<div class="small-16 large-48 columns">
											<a href="" class="catalog__element-href">
											<i class="icons icons--marine icons--catalog-decorative-films-sm"></i>
											<span class="silver catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Тонировочная оконная пленка 100mic Silver 20
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												33 000<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>
		
						</div>
						<div class="small-48 large-12 columns">

							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Тёмно-зеленая оконная пленка Energy 30
								</a>
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--red icons--catalog-heat-reflective-films-sm"></i>
											<span class="dark-green catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Тёмно-зеленая оконная пленка Energy 30
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												4 800<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>

						</div>
						<div class="small-48 large-12 columns">

							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Салатовая пленка для окон HP lr chr 35 ams
								</a>						
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--blue icons--catalog-slr-films-sm"></i>
											<span class="light-green catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Салатовая пленка для окон HP lr chr 35 ams
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												12 000<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- [/Row] -->

					<!-- [Row] -->
					<div class="row catalog__rows-row">
						<div class="small-48 large-12 columns">

							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Чёрная тонировочная оконная пленка Black Out
								</a>
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--green icons--catalog-protective-films-sm"></i>
											<span class="black catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Чёрная тонировочная оконная пленка Black Out
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												1 000<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>

						</div>
						<div class="small-48 large-12 columns">
							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Тонировочная оконная пленка 100mic Silver 20
								</a>						
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--marine icons--catalog-decorative-films-sm"></i>
											<span class="silver catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Тонировочная оконная пленка 100mic Silver 20
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												33 000<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>
		
						</div>
						<div class="small-48 large-12 columns">
							<div class="catalog__element">
								<a href="" class="catalog__element-name ">
									Тёмно-зеленая оконная пленка Energy 30
								</a>						
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--red icons--catalog-heat-reflective-films-sm"></i>
											<span class="dark-green catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Тёмно-зеленая оконная пленка Energy 30
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												4 800<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>

						</div>
						<div class="small-48 large-12 columns">

							<div class="catalog__element catalog__element--last">
								<a href="" class="catalog__element-name ">
									Салатовая пленка для окон HP lr chr 35 ams
								</a>						
								<div class="row">
									<div class="small-16 large-48 columns">
										<a href="" class="catalog__element-href">
											<i class="icons icons--blue icons--catalog-slr-films-sm"></i>
											<span class="light-green catalog__element-img"></span>
										</a>
										<div class="catalog__element-sect-1">
											<span class="catalog__element-artikul">USB</span>
											<a href="" class="catalog__element-name">
												Салатовая пленка для окон HP lr chr 35 ams
											</a>
										</div>
									</div>
									<div class="small-28 small-offset-4 large-48 columns">
										<div class="catalog__element-sect-2">
											<div class="row">
												<div class="small-13 large-13 columns">
													<span class="catalog__element-prop-title">
														ПВС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														8
													</span>
												</div>
												<div class="small-15 large-15 columns">
													<span class="catalog__element-prop-title">
														ОЭС<i class="icons icons--question qtip-tip"></i><div class="qtip-titlebar">
															<div class="qtip-title">
																Коэффициент отражения
																<br />
																тепловой солнечной энергии
															</div>
															<div>
																<p>
																	Так называемый вакуумный спаттеринг металлизирует полиэтилентерефталат с помощью цветных и драгоценных металлов. Значения показателей пропускание видимого света (ПВС) и отражения тепловой солнечной энергии  (ОТЭС) как правило варьируются в следующих значениях: у плёнок серого оттенка ПВС 30%, ОТЭС 65%, у материалов голубых тонов ПВС 50%, ОТЭС 60%.
																</p>
															</div>
														</div>:
													</span>
													<span class="catalog__element-prop-value">
														27
													</span>
												</div>
												<div class="small-20 large-20 columns">
													<span class="catalog__element-prop-title">
														Размер, (м.):
													</span>
													<span class="catalog__element-prop-value">
														2,23 х 3
													</span>
												</div>
											</div>
										</div>
										<div class="catalog__element-sect-3">
											<span class="catalog__element-price">
												12 000<span class="rub">a</span>
											</span>
										</div>
										<button class="button catalog__element-btn">Купить</button>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- [/Row] -->
				</div>
					
				<hr class="hline hline--sm m-t-45 m-b-50 m-t-sm-30 m-b-sm-40" />

			</div>

		</div>
	</div>
</div>
<!-- [Catalog list-view] -->

<!-- [Catalog section list] -->
<div class="page page--line hide-for-small show-for-large">
	<div class="row columns">
		<div class="small-48 columns relative">

			<div class="catalog-sections">
				
				<h2 class="catalog-sections__title">
					Посмотреть каталог:
				</h2>

				<div class="row">
					<div class="small-10 columns">

						<a class="catalog-sections__item" href="">
							<i class="icons icons--green icons--catalog-protective-films"></i>
							<span class="catalog-sections__item-name">
								Защитные<br />пленки
							</span>
						</a>

					</div>
					<div class="small-10 columns">

						<a class="catalog-sections__item" href="">
							<i class="icons icons--yellow icons--catalog-sunscreen-films"></i>
							<span class="catalog-sections__item-name">
								Солнцезащитные<br />пленки
							</span>
						</a>

					</div>
					<div class="small-10 columns">

						<a class="catalog-sections__item" href="">
							<i class="icons icons--marine icons--catalog-decorative-films"></i>
							<span class="catalog-sections__item-name">
								Декоративные<br />пленки
							</span>
						</a>
						
					</div>
					<div class="small-10 columns">

						<a class="catalog-sections__item" href="">
							<i class="icons icons--red icons--catalog-heat-reflective-films"></i>
							<span class="catalog-sections__item-name">
								Теплоотражающие<br />пленки
							</span>
						</a>
						
					</div>
					<div class="small-8 columns">

						<a class="catalog-sections__item" href="">
							<i class="icons icons--blue icons--catalog-slr-films"></i>
							<span class="catalog-sections__item-name">
								Зеркальные<br />пленки
							</span>
						</a>
						
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Catalog section list] -->

<!-- [Advantages] -->
<div class="page--line m-b-40 m-b-sm-20">
  <div class="row columns">
    <div class="small-48 columns">
		
		<hr class="hline m-t-80 m-b-60 hide-for-small show-for-large" />

    	<div class="page__title">
    		<span class="icons-block">
				<i class="icons icons--svg icons--advantages">
					<svg viewBox="0 0 60 60">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_plus"></use>
					</svg>
				</i>
			</span>
    		<span class="page__title-text">
    			Преимущества
    			<br />
				работы
				<br />
				с Ultrablock
    		</span>
    	</div>
		
		<div class="advantages">
			<div class="advantages--loss">
				<div class="row">
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--ordering">
				          <svg viewBox="0 0 54 54">
				            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_ok"></use>
				          </svg>
				        </i>
						<div class="advantages__text">
							<p>
								Только лучшие проверенные
								<br />
								пленки
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--retail-installation">
							<svg viewBox="0 0 47 51">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_doc1"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Розничная продажа
								<br />
								и быстрая установка
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--professional-installers">
							<svg viewBox="0 0 54 54">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_pro"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Профессиональные
								<br />
								монтажники
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--any-form-payment">
							<svg viewBox="0 0 44 46">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_percent"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Любая форма оплаты, 
								<br />
								скидки, акции
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--free-shipping">
							<svg viewBox="0 0 45 55">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_divider"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Бесплатная доставка
								<br />
								и выезд замерщика
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--certificates-warranty">
							<svg viewBox="0 0 43 54">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_doc"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Все сертификаты
								<br />
								и гарантия на работы
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
  </div>
</div>
<!-- [/Advantages] -->

<!-- [Make Request] -->
<div class="page--line page--dark page--overflow m-t-55 m-t-sm-0">
  <div class="row columns">
    <div class="small-48 columns">
		
		<!-- [For mobile only] -->
		<div class="mobphone show-for-small hide-for-large">
			<div class="mobphone__text">
				<p>
					Вы можете оформить
					<br />
					заявку на покупку и монтаж
					<br />
					пленки <a href=""><strong>онлайн</strong></a> или по тел.:
				</p>
			</div>
			<a class="mobphone__phone" href="">8 (495) <strong>781-23-45</strong></a>
		</div>
		<!-- [/For mobile only] -->
		
		<!-- [For desctop only] -->
		<div class="make-request hide-for-small show-for-large">
		
			<img class="make-request__img" src="assets/img/pages-pictures/application/img-1.jpg" width="1090" height="480" />

      		<a class="sticker__order" href="">
      			<span class="sticker__order-info clearfix">
					<i class="icons icons--ordering"></i>
					<span class="badge badge-round">5</span>
					<span class="sticker__order-price">на 270 000 <strong class="rub">a</strong></span>
      			</span>
      			<span class="sticker__order-title">
      				Оформление
      				<br />
					заказ
      			</span>
      		</a>

			<div class="make-request__content">
				<div class="make-request__text">
					<p>
						Вы можете оформить заявку
						на покупку и монтаж пленки онлайн
						или по телефону:
					</p>
				</div>
				<span class="make-request__phone">8 (495) <strong>781-23-45</strong></span>


	      	</div>
		</div>
		<!-- [/For desctop only] -->

    </div>
  </div>
</div>
<!-- [/Make Request] -->
