
---
title: Доставка
---

<div class="page page--line delivery">
	<div class="delivery__bg hide-for-small show-for-large"><span class="delivery__bg-line"></span></div>
	<div class="row">
		<div class="small-48 columns">
			
			<h1 class="delivery__title hide-for-small show-for-large">
				Доставка и оплата
			</h1>
			
			<div class="row">
				<div class="small-48 large-36 columns">

					<div class="delivery__anons">
						<p class="hide-for-small show-for-large">
							Мы <strong>бесплатно</strong> доставляем продукцию по г. Москва
							на сумму заказа <strong>от 3000 рублей</strong>.
							Заказы на доставку
							принимаются в будни с 11<sup>00</sup> до 17<sup>00</sup>
						</p>
						<p class="show-for-small hide-for-large">
							Мы <strong>бесплатно</strong> доставляем продукцию по г. Москва
							на сумму заказа <strong>от 3000 рублей</strong>.
						</p>
						<p class="show-for-small hide-for-large">
							Заказы на доставку
							принимаются в будни с 11<sup>00</sup> до 17<sup>00</sup>
						</p>
					</div>

					<div class="delivery__text p-r-100 p-r-sm-0">
						<p>
							Если товар оплачен по безналичному pасчету, то доставка будет на следующий рабочий день после зачисления платежа. Если товар оплачивается наличными при получении, то доставка на следующий рабочий день от заказа.
						</p>
						<p>
							Мы бесплатно доставляем продукцию до склада выбранной Вами транспортной компании в г. Москве для дальнейшей отправки в регионы страны. Заказчик самостоятельно оплачивает услуги транспортной компании при получении груза в своем городе.
						</p>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
