---
title: Вопрос-ответ
---

<!-- [Faq] -->
<div class="page--line">
	<div class="row columns">
		<div class="small-48 columns">
			
			<h1 class="page__delim-title hide-for-small show-for-large">
				справка<span>/</span>вопрос-ответ
			</h1>

			<div class="row">
				<div class="small-48 large-13 columns hide-for-small show-for-large">
					
					<div class="left-nav">
						
						<ul class="menu vertical">
							<li class="left-nav__item"><a href="#">Типы пленок</a></li>
							<li class="left-nav__item"><a href="#">Рекомендации</a></li>
							<li class="left-nav__item"><a href="#">Документы и ГОСТы</a></li>
							<li class="left-nav__item left-nav__item-active"><a href="#">Вопрос-ответ</a></li>
						</ul>

					</div>

				</div>
				<div class="small-48 large-32 large-offset-3 columns">
					<div class="faq">
						
						<ul class="faq__list">
							<li>
								<a href="#faq1">
									Чем ваши пленки отличаются от остальных?
								</a>
							</li>
							<li>
								<a href="#faq2">
									Какое минимальное количество пленки я могу приобрести?
								</a>
							</li>
							<li>
								<a href="#faq3">
									Производите ли вы тонировку автомобиля?
								</a>
							</li>
							<li>
								<a href="#faq4">
									Правда ли, что стекло укреплённое защитной плёнкой нельзя разбить?
								</a>
							</li>
							<li>
								<a href="#faq5">
									Есть ли пуленепробиваемая защитная плёнка?
								</a>
							</li>
							<li>
								<a href="#faq6">
									Есть ли пуленепробиваемая защитная плёнка?
								</a>
							</li>
							<li>
								<a href="#faq7">
									Можно ли самостоятельно наклеить купленную у вас пленку?
								</a>
							</li>
							<li>
								<a href="#faq8">
									Существует ли пленка, через которую я буду видеть, а меня - нет?
								</a>
							</li>
							<li>
								<a href="#faq8">
									Может ли защитная пленка заменить решетки?
								</a>
							</li>
						</ul>
						
						<hr class="hline m-b-25 hide-for-small show-for-large" />
						
						<div class="faq__item">
							<a name="faq1"></a>
							<h2 class="faq__item-title">
								Чем ваши пленки отличаются от остал
							</h2>
							<div class="faq__item-text">
								<p>
									Тонировочные и защитные пленки всех производителей примерно одинаковы. Сырье, технология производства и свойства у всех пленок аналогичны. Существуют незначительные различия в конструктиве пленок, но эти нюансы важны для установщиков пленок, а не для конечного потребителя. Наши
									пленки прошли различные испытания (в том числе и на полигонах МЧС в Красноармейске и МО в Сергиевом Посаде) и получили необходимые сертификаты соответствия. Косвенным показателем качества наших пленок может служить тот факт, что ООО «Солар Блок» допущено к участию в Программе «Взрывобезопасное остекление г. Москвы» в качестве подрядной
									организации МЧС РФ. При установке нашими специалистами мы даем
									гарантию на сохранение свойств пленок на срок не менее 5 лет.
								</p>
							</div>

						</div>
						
						<div class="faq__item">
							<a name="faq2"></a>
							<h2 class="faq__item-title">
								Какое минимальное количество пленки я могу приобрести?
							</h2>
							<div class="faq__item-text">
								<p>
									Мы продаем пленку от рулона (1,52х30 м, 45 м2, или 1,52х10, 15м2). Если вам нужно приобрести меньшее количество пленки, обратитесь в наш розничный магазин. Если вам нужно затонировать окна, воспользуйтесь нашей услугой по установке пленки
								</p>
							</div>

						</div>
						
						<div class="faq__item">
							<a name="faq3"></a>
							<h2 class="faq__item-title">
								Производите ли вы тонировку автомобиля?
							</h2>
							<div class="faq__item-text">
								<p>
									Нет, мы не тонируем автомобили. Мы можем продать вам рулон автомобильной пленки.
								</p>
							</div>

						</div>
						
						<div class="faq__item">
							<a name="faq4"></a>
							<h2 class="faq__item-title">
								Правда ли, что стекло укреплённое защитной плёнкой нельзя разбить?
							</h2>
							<div class="faq__item-text">
								<p>
									Нет, это не так. Разбить можно любое стекло (особенно, если постараться).
									Но стекло с установленной плёнкой, даже будучи разбитым, сохранит целостность и свои функции по защите помещения от проникновения.
									Плёнка не позволит стеклу разлететься на осколки и ранить людей
								</p>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Faq] -->