---
layout: default-new-index
title: New Index Page
description: New Index Page
---

<!-- [Заказ монтажа] -->
<div class="mounting-order">
	<div class="row">
		<div class="small-48 column">
			
			<h1 class="mounting-order__title m-t-80">
				Монтаж
				<br />
				солнцезащитной
				<br />
				пленки
			</h1>
			<div class="row">
				<div class="small-36 column">
					<div class="row">
						<div class="small-27 column">
							
							<div class="mounting-order__price clearfix">
								<strong class="mounting-order__price__num">
									500 <span class="rub">c</span>
								</strong>
								<a href="#" class="button button--blue button--lg button--square mounting-order__price__btn">
									Заказать
								</a>
							</div>
							
						</div>
						<div class="small-21 column">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="small-12 column">
					<hr class="hline hline--blue m-t-95" />
				</div>
			</div>
			<div class="row">
				<div class="small-36 column">
					<div class="row">
						<div class="small-27 column">
							
							<div class="mounting-order__prop">
								
								<div class="mounting-order__prop__title">
									<p>
										В стоимость монтажа
										<br />
										солнцезащитной пленки входит:
									</p>
								</div>
								
								<div class="row">
									<div class="small-16 column">
										<i class="icons icons--box mounting-order__prop-icon"></i>
										<p>
											цена пленки
											<br />
											и ее доставка
											<br />
											на объект
										</p>
									</div>
									<div class="small-16 column">
										<i class="icons icons--install m-b-25 mounting-order__prop-icon"></i>
										<p>
											работа
											<br />
											по монтажу
											<br />
											пленки 
										</p>
									</div>
									<div class="small-16 column">
										<i class="icons icons--trash m-b-25 mounting-order__prop-icon"></i>
										<p>
											уборка
											<br />
											мусора
										</p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="small-21 column">
							
							<div class="mounting-order__anons">
								<p>
									Если вы еще не выбрали пленку,
									то наш менеджер готов бесплатно
									к вам выехать с каталогом пленки. Вы сможете выбрать пленку на основе образцов, а  менеджер измерит объект и подготовит для вас подробную смету.
								</p>
								<a class="readmore" href="#">
									<i class="icons icons--readmore m-r-10"></i><span class="decorate">Заказать вызов менеджера</span>
								</a>
							</div>
							
						</div>
					</div>
				</div>
				<div class="small-12 column">
					
					<form class="mounting-order__form" action="#">
						
						<span class="mounting-order__form__title">
							Заявка на монтаж
							<br />
							пленки:
						</span>
						
						<input class="form-control form-control--sm m-b-15" type="text" placeholder="Ваше имя..." />
						<input class="form-control form-control--sm m-b-25" type="text" placeholder="Телефон..." />
						
						<button type="submit" class="button button--blue button--sm p-l-20 p-r-20">
							Оставить заявку
						</button>
						
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [Заказ монтажа] -->

<div class="row">
	<div class="small-48 column">
		<hr class="hline m-t-45 m-b-55" />
	</div>
</div>

<!-- [Стоимость монтажа] -->
<div class="mounting-price">
	<div class="row">
		<div class="small-48 column">
			
			<h1 class="mounting-price__title">
				Стоимость монтажа
				<br />
				разных видов пленки
			</h1>
			<div class="mounting-price__anons">
				<p>
					В указанную стоимость уже включены все работы и сама пленка
				</p>
			</div>
			
			<div class="paper__page">
				<div class="paper__page-in">
					<h3 class="mounting-price__subtitle">
						Солнцезащитная
					</h3>
					
					<table class="mounting-price__table">
						<colgroup>
							<col width="10%" />
							<col width="90%" />
						</colgroup>
						<thead>
							<tr>
								<th>
									Цена за м<sup>2</sup>
								</th>
								<th>
									Тип пленки
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<strong>500 <span class="rub">a</span></strong>
								</td>
								<td>
									Зеркальные. Серебро. С пропусканием видимосго света (ПВС) 8.15. 21, 40  %
								</td>
							</tr>
							<tr>
								<td>
									<strong>500 <span class="rub">a</span></strong>
								</td>
								<td>
									Цветные зеркальные пленки. Бронза, синий, зеленый, малиновый, красный 
								</td>
							</tr>
						</tbody>
					</table>
					
					<h3 class="mounting-price__subtitle">
						Декоративная
					</h3>
					
					<table class="mounting-price__table">
						<colgroup>
							<col width="10%" />
							<col width="90%" />
						</colgroup>
						<thead>
							<tr>
								<th>
									Цена за м<sup>2</sup>
								</th>
								<th>
									Тип пленки
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<strong>600 <span class="rub">a</span></strong>
								</td>
								<td>
									Белые, матовые
								</td>
							</tr>
							<tr>
								<td>
									<strong>600 <span class="rub">a</span></strong>
								</td>
								<td>
									Узоры, полоски, дождь
								</td>
							</tr>
							<tr>
								<td>
									<strong>600 <span class="rub">a</span></strong>
								</td>
								<td>
									Квадраты, шахматы, полупрозрачные
								</td>
							</tr>
						</tbody>
					</table>
					
					<h3 class="mounting-price__subtitle">
						Бронирующая
					</h3>
					
					<table class="mounting-price__table">
						<colgroup>
							<col width="10%" />
							<col width="90%" />
						</colgroup>
						<thead>
							<tr>
								<th>
									Цена за м<sup>2</sup>
								</th>
								<th>
									Тип пленки
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<strong>500 <span class="rub">a</span></strong>
								</td>
								<td>
									100 мкм
								</td>
							</tr>
							<tr>
								<td>
									<strong>600 <span class="rub">a</span></strong>
								</td>
								<td>
									200 мкм
								</td>
							</tr>
							<tr>
								<td>
									<strong>900 <span class="rub">a</span></strong>
								</td>
								<td>
									300 мкм
								</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- [/Стоимость монтажа] -->





