
<!-- [Top slider] -->
<div class="page--line page--dark page--overflow m-b-60 hide-for-small show-for-large">
  <div class="row columns">
    <div class="small-48 columns">
		
		<div class="orbit slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
			<ul class="orbit-container slider__container">
				{{#repeat 4}}
				<li class="orbit-slide slider__item">

					<img class="slider__img" src="assets/img/slider/index-slider/img-1.jpg" width="720" height="480" />
					<span class="slider__square"></span>
					<span class="slider__square"></span>
					<span class="slider__square"></span>
					<span class="slider__square"></span>
					<div class="slider__content">
						<span class="slider__subtitle">
							<span>Предлагаем</span>
							<span>лучшее</span>
						</span>
						<span class="slider__title">
							Теплоотражающая
							<br />
							пленка сохранит тепло
							<br />
							зимой<span class="slider__title-detail"> + Быстрая установка</span>
						</span>
						<a href="" class="readmore"><span>Подробнее</span> ...</a>
					</div>

				</li>
				{{/repeat}}
			</ul>
			<nav class="orbit-bullets slider__direct">
				<ul>
					<li>
						<button class="is-active" data-slide="0"><img src="assets/img/slider/index-slider/previews/preview-1.png" width="40" height="40" /></button>
					</li>
					<li>
						<button data-slide="1"><img src="assets/img/slider/index-slider/previews/preview-1.png" width="40" height="40" /></button>
					</li>
					<li>
						<button data-slide="2"><img src="assets/img/slider/index-slider/previews/preview-1.png" width="40" height="40" /></button>
					</li>
					<li>
						<button data-slide="3"><img src="assets/img/slider/index-slider/previews/preview-1.png" width="40" height="40" /></button>
					</li>
				</ul>
			</nav>
		</div>

    </div>
  </div>
</div>
<!-- [/Top slider] -->

<!-- [Advantages] -->
<div class="page--line m-b-40 m-b-sm-20">
  <div class="row columns">
    <div class="small-48 columns">

    	<div class="page__title">
    		<span class="icons-block">
				<i class="icons icons--svg icons--advantages">
					<svg viewBox="0 0 60 60">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_plus"></use>
					</svg>
				</i>
			</span>
    		<span class="page__title-text">
    			Преимущества
    			<br />
				работы
				<br />
				с Ultrablock
    		</span>
    	</div>
		
		<div class="advantages">
			<div class="advantages--loss">
				<div class="row">
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--ordering">
				          <svg viewBox="0 0 54 54">
				            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_ok"></use>
				          </svg>
				        </i>
						<div class="advantages__text">
							<p>
								Только лучшие проверенные
								<br />
								пленки
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--retail-installation">
							<svg viewBox="0 0 47 51">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_doc1"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Розничная продажа
								<br />
								и быстрая установка
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--professional-installers">
							<svg viewBox="0 0 54 54">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_pro"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Профессиональные
								<br />
								монтажники
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--any-form-payment">
							<svg viewBox="0 0 44 46">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_percent"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Любая форма оплаты, 
								<br />
								скидки, акции
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--free-shipping">
							<svg viewBox="0 0 45 55">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_divider"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Бесплатная доставка
								<br />
								и выезд замерщика
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--certificates-warranty">
							<svg viewBox="0 0 43 54">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_doc"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Все сертификаты
								<br />
								и гарантия на работы
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
  </div>
</div>
<!-- [/Advantages] -->

<!-- [Help select] -->
<div class="page--line page--light p-t-50 p-b-80 m-b-25 hide-for-small show-for-large">
  <div class="row columns">
    <div class="small-48 columns">

		<div class="orbit help-select" role="region" aria-label="Favorite Space Pictures" data-orbit>
			
			<div class="row">
				<div class="small-44 columns">
					<div class="right">
						<button class="orbit-previous help-select__prev" aria-label="previous"><i class="icons icons--arrow-left"></i></button>
						<button class="orbit-next help-select__next" aria-label="next"><i class="icons icons--arrow-right"></i></button>
					</div>

			    	<div class="page__title left">
			    		<i class="icons icons--help-choosing"></i>
			    		<span class="page__title-text">
			    			Помощь
			    			<br />
							в вашем
							<br />
							выборе
			    		</span>
			    	</div>
		    	</div>
	    	</div>
    	
			<ul class="orbit-container">
				{{#repeat 4}}
				<li class="is-active orbit-slide">
					
					<div class="row">

						<div class="small-12 columns">

							<div class="help-select__item">
								<a class="help-select__item-href" href="">
									<img class="help-select__item-img" src="assets/img/pages-pictures/help-your-selection/img-2.jpg" width="240" height="160" alt="" />
									<span class="help-select__item-title">
										Как выбрать пленку для дома
									</span>
								</a>
								<div class="help-select__item-text">
									<p>
										Простой путеводитель по выбору пленки для загородской квартиры или 
										загородного дома.
									</p>
								</div>
								<a class="readmore" href=""><span>Читать</span> ...</a>
							</div>

						</div>
						<div class="small-12 small-offset-4 columns">

							<div class="help-select__item">
								<a class="help-select__item-href" href="">
									<img class="help-select__item-img" src="assets/img/pages-pictures/help-your-selection/img-1.jpg" width="240" height="160" alt="" />
									<span class="help-select__item-title">
										Использование защитных пленок и стандарты их производства
									</span>
								</a>
								<div class="help-select__item-text">
									<p>
										Варианты использования защитных 
										пленок для домашних нужн и для 
										потребностей уличной торговли.
									</p>
								</div>
								<a class="readmore" href=""><span>Читать</span> ...</a>
							</div>

						</div>
						<div class="small-12 small-offset-4 columns left">

							<div class="help-select__item">
								<a class="help-select__item-href" href="">
									<img class="help-select__item-img" src="assets/img/pages-pictures/help-your-selection/img-3.jpg" width="240" height="160" alt="" />
									<span class="help-select__item-title">
										Правильный замер оконного
										проема
									</span>
								</a>
								<div class="help-select__item-text">
									<p>
										Несколько секретов того, как правильно 
										замерить оконный проем. чтобы при 
										заказе пленки вам ее хватило.
									</p>
								</div>
								<a class="readmore" href=""><span>Читать</span> ...</a>
							</div>

						</div>

					</div>

				</li>
				{{/repeat}}
			</ul>

		</div>

    </div>
  </div>
</div>
<!-- [/Help select] -->

<!-- [Client reviews] -->
<div class="page--line p-t-35 p-b-35 hide-for-small show-for-large">
  <div class="row columns">
    <div class="small-48 columns">
		
    	<div class="page__title">
    		<i class="icons icons--customer-reviews"></i>
    		<span class="page__title-text">
    			ОТЗЫВЫ
    			<br />
				НАШИХ
				<br />
				КЛИЕНТОВ
    		</span>
    	</div>

		<div class="row reviews">
			<div class="small-12 columns">
				<div class="reviews__item">
					<div class="reviews__item-text">
						<p>
							В офисе стало значительно лучше. Спасибо.
						</p>
					</div>
					<span class="reviews__item-line"></span>
					<a class="reviews__item-author" href="">
						<span class="reviews__item-author-img">
							<img src="assets/img/reviews/persons/person-1.png" width="36" height="36" />
						</span>
						<strong class="reviews__item-author-name">
							Иван
						</strong>
						<span class="reviews__item-author-post">
							Исполнительный директор
							ГК СофтСервис
						</span>
					</a>
				</div>
			</div>
			<div class="small-12 small-offset-4 columns">
				<div class="reviews__item">
					<div class="reviews__item-text">
						<p>
							У меня в магазине дверь чем-то стукнули, треснула, но не посыпалась кусками. Хоть без жертв обошлось, не зря укрепили пленкой
						</p>
					</div>
					<span class="reviews__item-line"></span>
					<a class="reviews__item-author" href="">
						<span class="reviews__item-author-img">
							<img src="assets/img/reviews/persons/person-2.png" width="36" height="36" />
						</span>
						<strong class="reviews__item-author-name">
							Сергей
						</strong>
						<span class="reviews__item-author-post">
							Главный инженер ТЦ Весна
						</span>
					</a>
				</div>
			</div>
			<div class="small-12 small-offset-4 columns left">
				<div class="reviews__item">
					<div class="reviews__item-text">
						<p>
							Большое спасибо. Работой довольны.
						</p>
					</div>
					<span class="reviews__item-line"></span>
					<a class="reviews__item-author" href="">
						<span class="reviews__item-author-img">
							<img src="assets/img/reviews/persons/person-2.png" width="36" height="36" />
						</span>
						<strong class="reviews__item-author-name">
							Наталья
						</strong>
						<span class="reviews__item-author-post">
							Директор сети салонов
							Цветы Подмосковья
						</span>
					</a>
				</div>
			</div>
		</div>
		

    </div>
  </div>
</div>
<!-- [/Client reviews] -->

<!-- [Brands] -->
<div class="page--line p-t-35 p-b-35 hide-for-small show-for-large">
  <div class="row columns">
    <div class="small-48 columns">

		<div class="row logotypes text-center">
			<div class="small-9 columns">
				<a href=""><img src="assets/img/logotypes/alpha-bank.png" width="142" height="84" /></a>
			</div>
			<div class="small-8 columns">
				<a href=""><img src="assets/img/logotypes/lucoil.png" width="142" height="84" /></a>
			</div>
			<div class="small-8 columns">
				<a href=""><img src="assets/img/logotypes/mvideo.png" width="142" height="84" /></a>
			</div>
			<div class="small-6 columns">
				<a href=""><img src="assets/img/logotypes/bp.png" width="142" height="84" /></a>
			</div>
			<div class="small-9 columns">
				<a href=""><img src="assets/img/logotypes/vtb-24.png" width="142" height="84" /></a>
			</div>						
			<div class="small-8 columns">
				<a href=""><img src="assets/img/logotypes/azbuka-vkusa.png" width="142" height="84" /></a>
			</div>
		</div>

    </div>
  </div>
</div>
<!-- [/Brands] -->

<!-- [Make Request] -->
<div class="page--line page--dark page--overflow m-t-55 hide-for-small show-for-large">
  <div class="row columns">
    <div class="small-48 columns">
		
		<div class="make-request">
		
			<img class="make-request__img" src="assets/img/pages-pictures/application/img-1.jpg" width="1090" height="480" />

      		<a class="sticker__order" href="">
      			<span class="sticker__order-info clearfix">
					<i class="icons icons--svg icons--ordering">
						<svg viewBox="0 0 54 54">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_ok"></use>
						</svg>
					</i>
      			</span>
      			<span class="sticker__order-title">
      				Оформление
      				<br />
					заказа
      			</span>
      		</a>

			<div class="make-request__content">
				<div class="make-request__text">
					<p>
						Вы можете оформить заявку
						на покупку и монтаж пленки онлайн
						или по телефону:
					</p>
				</div>
				<span class="make-request__phone">8 (495) <strong>781-23-45</strong></span>


	      	</div>
		</div>

    </div>
  </div>
</div>
<!-- [/Make Request] -->
