
<!-- [Top block] -->
<div class="page--line page--overflow mounting">
	<div class="row columns">
		<div class="small-48 columns relative">
			
			<span class="mounting__square mounting__square-dark hide-for-small show-for-large"></span>
			<span class="mounting__square mounting__square-light hide-for-small show-for-large"></span>
			<span class="mounting__square mounting__square-white hide-for-small show-for-large"></span>
			<span class="mounting__square mounting__square-white-out hide-for-small show-for-large"></span>
			
			<div class="mounting__content">

				<div class="relative">
					<img class="mounting__content-img hide-for-small show-for-large" src="assets/img/pages-pictures/installation-film/img-1.jpg" width="960" height="240" alt="" />
					<img class="mounting__content-img show-for-small hide-for-large" src="assets/img/mobile/mounting-bg.jpg" width="640" height="240" alt="" />
					<span class="mounting__content-subtitle hide-for-small show-for-large">
						Услуги
					</span>
					<span class="mounting__content-title">
						Монтаж пленки
					</span>
				</div>

				<div class="mounting__content-text">
					<p>
						Наша компания для организаций и населения оказывает услуги
						по установке (наклейке, тонировке, тонированию) профессиональных архитектурных пленок UltraSolarBlock
					</p>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- [/Top block] -->

<!-- [Three block] -->
<div class="page--line page--overflow m-b-45 m-b-sm-20">
	<div class="row columns">
		<div class="small-48 columns relative">

			<div class="row mounting__blocks">
				<div class="small-48 large-16 columns">

					<a class="mounting__blocks-item" href="">
						<span class="mounting__blocks-img-frame"><img class="mounting__blocks-img" src="assets/img/pages-pictures/installation-film/img-2.jpg" width="310" height="160" /></span>
						<div class="mounting__blocks-text">
							<span class="decorate">
								Монтаж пленки в квартирах 
								и загородных домах
							</span>
						</div>
					</a>

				</div>
				<div class="small-48 large-16 columns">

					<a class="mounting__blocks-item" href="">
						<span class="mounting__blocks-img-frame"><img class="mounting__blocks-img" src="assets/img/pages-pictures/installation-film/img-3.jpg" width="310" height="160" /></span>
						<div class="mounting__blocks-text">
							<span class="decorate">
								Монтаж пленки в офисах
								и банках
							</span>
						</div>
					</a>
					
				</div>
				<div class="small-48 large-16 columns">

					<a class="mounting__blocks-item" href="">
						<span class="mounting__blocks-img-frame"><img class="mounting__blocks-img" src="assets/img/pages-pictures/installation-film/img-4.jpg" width="310" height="160" /></span>
						<div class="mounting__blocks-text">
							<span class="decorate">
								Монтаж пленки
								в торговых центрах
							</span>
						</div>
					</a>
					
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Three block] -->

<!-- [Advantages] -->
<div class="page--line m-b-40 m-b-sm-25">
  <div class="row columns">
    <div class="small-48 columns">
		
		<h2 class="advantages__title">
    		Почему выбирают Ultrablock?
    	</h2>

		<div class="advantages advantages--big">
			<div class="advantages--loss">
				<div class="row">
					<div class="small-48 large-16 columns">
						<div class="advantages__num">
							1
						</div>
						<div class="advantages__text">
							<p>
								Только лучшие проверенные
								<br />
								пленки
							</p>
							<div class="advantages__text-comment">
								<p>
									Мы эксклюзивные поставщики
									со стабильным складским запасом
								</p>
							</div>
						</div>
					</div>
					<div class="small-48 large-16 columns">
						<div class="advantages__num">
							2
						</div>
						<div class="advantages__text">
							<p>
								Розничная продажа
								<br />
								и быстрая установка
							</p>
							<div class="advantages__text-comment">
								<p>
									Оформление Гарантийного Талона
								</p>
							</div>
						</div>
					</div>
					<div class="small-48 large-16 columns">
						<div class="advantages__num">
							3
						</div>
						<div class="advantages__text">
							<p>
								Профессиональные
								<br />
								монтажники
							</p>
							<div class="advantages__text-comment">
								<p>
									Экономьте время, покажем образцы
									и дадим советы на вашем объекте
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-48 large-16 columns">
						<div class="advantages__num">
							4
						</div>
						<div class="advantages__text">
							<p>
								Любая форма оплаты, 
								<br />
								скидки, акции
							</p>
							<div class="advantages__text-comment">
								<p>
									Проведены все тесты и испытания, 
									получены разрешительные документы
								</p>
							</div>
						</div>
					</div>
					<div class="small-48 large-16 columns">
						<div class="advantages__num">
							5
						</div>
						<div class="advantages__text">
							<p>
								Бесплатная доставка
								<br />
								и выезд замерщика
							</p>
							<div class="advantages__text-comment">
								<p>
									Наличный и безналичный расчет,
									услуги посредников оплачиваются
								</p>
							</div>
						</div>
					</div>
					<div class="small-48 large-16 columns">
						<div class="advantages__num">
							6
						</div>
						<div class="advantages__text">
							<p>
								Все сертификаты
								<br />
								и гарантия на работы
							</p>
							<div class="advantages__text-comment">
								<p>
									При необходимости работаем
									24 часа в сутки
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
  </div>
</div>
<!-- [/Advantages] -->

<!-- [Three block] -->
<div class="page--line m-b-25 m-b-sm-25">
	<div class="row columns">
		<div class="small-48 columns relative">
			<hr class="hline m-b--sm-10 show-for-small hide-for-large">
			<div class="row mounting__anons">
				<div class="small-48 large-28 columns">
					<h2 class="mounting__anons-title">
					Тонировка окон и стекол</h2>
					<div class="mounting__anons-text hide-for-small show-for-large">
						<p>
							<b>1.</b> Вы подаете заявку по телефону 8 (495) 68-444-68 или через <a class="mounting__anons-img-popup" href="/vyzvat-zamershchika/" target="blank"> форму</a> на сайте, она справа.
						</p>
						<p>
							<b>2.</b> Мы консультируем Вас и даем примерную стоимость работы под ключ (пленка + монтаж).
						</p>
						<p>
							<b>3.</b> К вам приезжает консультант-замерщик с <a class="mounting__anons-img-popup" href="/vyzvat-zamershchika/" target =blank>буклетом пленок</a>, чтобы оценить объем и условия проведения работ, и помочь вам с выбором подходящей для вашей задачи пленки.
						</p>
						<p>
							<b>4.</b> По результатам визита замерщика мы формируем смету и согласовываем её с вами.
						</p>
						<p>
							<b>5.</b> Приезжают монтажники с пленкой и проводят тонировку: моют стекла + устанавливают пленку + вывозят мусор.
						</p>
						<p>
							<b>6.</b> Вы принимаете работу и рассчитываетесь.
						</p>
						<p>
							<b>7.</b> Обычно в течение недели после завершения работы наш контролер звонит Вам, чтобы узнать Ваше мнение о работе и если после ухода бригады вы заметили брак, то расскажите ему об этом.
						</p>
					</div>
				</div>
				<div class="small-48 large-16 small-offset-4 columns">
					 <!-- [Consult Block] -->
					<div class="mounting__consult m-b-20">
						<div class="mounting__consult-price">
							<span class="mounting__consult-price-title">
							Стоимость установки, от: </span> <strong class="mounting__consult-price-value">600<span class="rub">a</span><span>=M<sup>2</sup></span></strong>
						</div>
						<div class="mounting__consult-time">
							<span class="mounting__consult-time-title">
							Время установки: </span>
							<div class="mounting__consult-time-value">
								<div class="row">
									<div class="small-48 columns">
										<i class="icons icons--clock"></i> <strong class="mounting__consult-time-value-num">24</strong> <span class="mounting__consult-time-value-comm">
										При необходимости<br>
										 работаем 24 часа<br>
										 в сутки </span>
									</div>
								</div>
							</div>
						</div>
						<div class="mounting__consult-btn">
							<span class="mounting__consult-btn-title">
							Вы можете бесплатно вызвать нашего консультанта с <a href ="/images/bukletplenok.jpg" target=blank>каталогом продукции</a> <sup>*</sup> </span> <a href="/vyzvat-zamershchika/" class="button mounting__consult-btn-btn" type="submit">Вызвать консультанта</a> <span class="mounting__consult-btn-ref">* Услуга действует для жителей Москвы</span>
						</div>
					</div>
					 <!-- [/Consult Block] -->
				</div>
			</div>
		</div>
		<p>
			<b>Наша компания оказывает услуги по профессиональной тонировке окон и стекол как в квартирах, загородных домах, так и в офисных и административных зданиях, магазинах и торговых центрах.</b> Мы устанавливаем любые виды пленок на окна и стекла фасадов зданий, балконы, офисные перегородки, витрины, двери и входные группы магазинов.
		</p>
		<p>
			Наши специалисты помогут в выборе пленки. В зависимости от поставленной задачи: уменьшить нагрев и блики, сэкономить расходы на электроэнергию: уменьшить нагрев и блики, сэкономить расходы на электроэнергию или блокировать воздействие вредного ультрафиолетового излучения, защитить и бронировать стекло от разбития – наши профессионалы порекомендуют вам соответствующую пленку, которая будет полностью отвечать вашим потребностям.
		</p>
		<p>
			Пленка наносится на поверхность стекла, обращенную внутрь помещения, поэтому демонтировать его не требуется. Весь процесс занимает совсем немного времени, поэтому не причиняет беспокойства проживающим или работающим в помещении людям. Мы уберем и вывезем мусор за собой.
		</p>
		<p>
			<b>При необходимости монтаж пленки, например в офисных помещениях, может производиться ночью или в выходные дни.</b>
		</p>
		<p>
			<b>В среднем, за один рабочий день стандартная бригада (два человека) монтирует 50 кв. метров пленки. Если речь идет о тонировке окон в квартире, то установка занимает всего несколько часов.</b>
		</p>
		<p>
			Хотя на первый взгляд установка пленки проста, но тонировку все же следует доверить профессионалам во избежание ошибок и дефектов, которые могут всплыть на разных этапах работы. Чтобы сэкономить время на переделку, лучше поручить это дело нашим высококвалифицированным специалистам, которые не только окажут качественные услуги, но и предоставят гарантии на выполненную работу. Выезд специалистов нашей компании бесплатен.
		</p>
		<p>
			Наша бригада профессионалов выполнит работы любой степени сложности, вне зависимости от того, где должна быть установлена пленка, будь то окна квартиры, балкона, лоджии, фасада здания, перегородок или дверей офиса. Мы гарантируем идеальное соотношение цены и качества, а также предоставляем систему гибких скидок в зависимости от метража.
		</p>
		<p>
			<b>Обратившись в нашу компанию, вы получите в свое распоряжение:</b> <br>
			&mdash; широкий выбор пленок <br>
			&mdash; гарантированную поставку выбранных позиций товара <br>
			&mdash; получение сертифицированной продукции самого высокого качества <br>
			&mdash; гарантию на продукцию и выполненные работы по монтажу сроком от 5 лет <br>
			&mdash; скидки, а также возможность как наличного, так и безналичного расчета <br>
			&mdash; бесплатный выезд эксперта с каталогом товара и замер объекта <br>
			&mdash; стоимость монтажа – от 600 рублей за кв. метр.
		</p>
		<p>
			<b>В стоимость установки пленки включены следующие виды работ:</b> <br>
			&mdash; очистка (мойка) поверхности <br>
			&mdash; монтаж пленки <br>
			&mdash; уборка отходов
		</p>
		<p>
			Наша компания стремится удовлетворить все потребности наших клиентов и готова идти навстречу всем пожеланиям наших Заказчиков.
		</p>
	</div>
</div>
 <!-- [/Three block] -->

<!-- [Mounting office] -->
<div class="mounting__office">
	<div class="page--line">
		<div class="row columns">
			<div class="small-48 columns relative">
				
				<hr class="hline m-b-45 m-t-sm-0 m-b-sm-15" />

				<h2 class="mounting__office-title">
					Монтаж пленки в офисах и банках
				</h2>

			</div>
		</div>
	</div>
	<div class="page--line page--overflow page--toodark m-b-45 hide-for-small show-for-large">
		<div class="row columns">
			<div class="small-24 columns relative">

				<div class="mounting__office-text">
					<p>
						Для ситуаций, когда нужно
						проводить монтаж на сложных
						объектах
					</p>
				</div>

			</div>
			<div class="small-24 columns relative">
				
				<img class="mounting__office-img" src="assets/img/pages-pictures/installation-film/img-5.jpg" width="720" height="240" />

			</div>
		</div>
	</div>
</div>
<!-- [/Mounting office] -->

<!-- [Mounting works] -->
<div class="page--line">
	<div class="row columns">
		<div class="small-48 columns relative">
			
			<div class="row mounting__stage">
				<div class="small-48 large-12 columns mounting__stage-item">
					<i class="icons icons--svg icons--large-surface">
						<svg viewBox="0 0 49 51">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_arrows"></use>
						</svg>
					</i>
					<p>
						Монтаж пленки на больших поверхностях - от 1000 м<sup>2</sup>
					</p>
				</div>
				<div class="small-48 large-12 columns mounting__stage-item">
					<i class="icons icons--svg icons--high-altitude">
						<svg viewBox="0 0 54 54">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_snap"></use>
						</svg>
					</i>
					<p>
						Работа на большой высоте с использованием допуска и страховки
					</p>
				</div>
				<div class="small-48 large-12 columns mounting__stage-item">
					<span class="mounting__stage-num">15</span>
					<p>
						Гарантия на работы до 15 лет
					</p>
				</div>
				<div class="small-48 large-12 columns mounting__stage-item">
					<i class="icons icons--svg icons--soon-possible">
						<svg viewBox="0 0 54 55">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_time"></use>
						</svg>
					</i>
					<p>
						Возможнось монтажа в кратчайшие сроки, работа в несколько смен 24 часа в сутки
					</p>
				</div>
			</div>

			<div class="row mounting__info m-b-30 m-b-sm-20">
				<div class="small-48 large-28 columns">

					<div class="mounting__info-text hide-for-small show-for-large">
						<p>
							Опытные специалисты СоларБлок справятся с установкой архитектурных пленок на элементы остекления любой степени сложности, будь то тонирование окон в квартире, тонировка фасадов зданий, тонировка окон в офисе,  тонирование стеклянных дверей, тонировка стеклянных перегородок, тонировка стекол в офисе, тонировка лоджии и балкона, тонировка коттеджей - любая тонировка стекла в Москве и области.
						</p>
					</div>

				</div>
				<div class="small-48 large-16 large-offset-4 columns">
					
					<div class="mounting__info-sticker">
							
						Вы можете получить консультации по 
						<br />
						промышленному монтажу по телефону
						<br />
						<strong>8 (499) 666-44-33</strong> или написав на
						<br />
						почту <a href="mailto:sale@site.com">sale@site.com</a>

					</div>

					<hr class="hline show-for-small hide-for-large" />

				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Mounting works] -->

<!-- [Sample works] -->
<div class="page--line m-b-75 hide-for-small show-for-large">
	<div class="row columns">
		<div class="small-48 columns">

			<div class="mounting__works">
				<h3 class="mounting__works-title">
					Примеры выполненных работ:
				</h3>
				<div class="row">
					<div class="small-12 columns">
						<a href="" class="mounting__works-item"><img src="assets/img/pages-pictures/installation-film/img-6.jpg" width="220" height="150" alt="" /><span>Высотный монтаж</span></a>
					</div>
					<div class="small-12 columns">
						<a href="" class="mounting__works-item"><img src="assets/img/pages-pictures/installation-film/img-7.jpg" width="220" height="150" alt="" /><span>Монтаж пленки для кафе</span></a>
					</div>
					<div class="small-12 columns">
						<a href="" class="mounting__works-item"><img src="assets/img/pages-pictures/installation-film/img-8.jpg" width="220" height="150" alt="" /><span>Монтаж для завода</span></a>
					</div>
					<div class="small-12 columns">
						<a href="" class="mounting__works-item"><img src="assets/img/pages-pictures/installation-film/img-9.jpg" width="220" height="150" alt="" /><span>Монтаж теплозащитной пленки</span></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Sample works] -->

<!-- [Advantages] -->
<div class="page--line m-b-40 m-b-sm-20">
  <div class="row columns">
    <div class="small-48 columns">

    	<div class="page__title">
    		<span class="icons-block">
				<i class="icons icons--svg icons--advantages">
					<svg viewBox="0 0 60 60">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_plus"></use>
					</svg>
				</i>
			</span>
    		<span class="page__title-text">
    			Преимущества
    			<br />
				работы
				<br />
				с Ultrablock
    		</span>
    	</div>
		
		<div class="advantages">
			<div class="advantages--loss">
				<div class="row">
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--ordering">
				          <svg viewBox="0 0 54 54">
				            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_ok"></use>
				          </svg>
				        </i>
						<div class="advantages__text">
							<p>
								Только лучшие проверенные
								<br />
								пленки
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--retail-installation">
							<svg viewBox="0 0 47 51">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_doc1"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Розничная продажа
								<br />
								и быстрая установка
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--professional-installers">
							<svg viewBox="0 0 54 54">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_pro"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Профессиональные
								<br />
								монтажники
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--any-form-payment">
							<svg viewBox="0 0 44 46">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_percent"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Любая форма оплаты, 
								<br />
								скидки, акции
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--free-shipping">
							<svg viewBox="0 0 45 55">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_divider"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Бесплатная доставка
								<br />
								и выезд замерщика
							</p>
						</div>
					</div>
					<div class="small-48 medium-16 columns">
						<i class="icons icons--svg icons--certificates-warranty">
							<svg viewBox="0 0 43 54">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_doc"></use>
							</svg>
						</i>
						<div class="advantages__text">
							<p>
								Все сертификаты
								<br />
								и гарантия на работы
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
  </div>
</div>
<!-- [/Advantages] -->

<!-- [Make Request] -->
<div class="page--line page--dark page--overflow m-t-55 m-t-sm-0">
  <div class="row columns">
    <div class="small-48 columns">
		
		<!-- [For mobile only] -->
		<div class="mobphone show-for-small hide-for-large">
			<div class="mobphone__text">
				<p>
					Вы можете оформить
					<br />
					заявку на покупку и монтаж
					<br />
					пленки <a href=""><strong>онлайн</strong></a> или по тел.:
				</p>
			</div>
			<a class="mobphone__phone" href="">8 (495) <strong>781-23-45</strong></a>
		</div>
		<!-- [/For mobile only] -->
		
		<!-- [For desctop only] -->
		<div class="make-request hide-for-small show-for-large">
		
			<img class="make-request__img" src="assets/img/pages-pictures/application/img-1.jpg" width="1090" height="480" />

      		<a class="sticker__order hide-for-small show-for-large" href="">
      			<span class="sticker__order-info clearfix">
					<i class="icons icons--ordering"></i>
					<span class="badge badge-round">5</span>
					<span class="sticker__order-price">на 270 000 <strong class="rub">a</strong></span>
      			</span>
      			<span class="sticker__order-title">
      				Оформление
      				<br />
					заказ
      			</span>
      		</a>

			<div class="make-request__content">
				<div class="make-request__text">
					<p>
						Вы можете оформить заявку
						на покупку и монтаж пленки онлайн
						или по телефону:
					</p>
				</div>
				<span class="make-request__phone">8 (495) <strong>781-23-45</strong></span>


	      	</div>
		</div>
		<!-- [/For desctop only] -->

    </div>
  </div>
</div>
<!-- [/Make Request] -->
