---
title: Новости
---
<!-- [News] -->
<div class="page--line page-overflow m-b-30 m-b-sm-0">
	<div class="row columns">
		<div class="small-48 columns">
			
			<div class="news m-b-40 m-b-sm-20">
				
				<h1 class="news__title hide-for-small show-for-large">
					Новости
				</h1>
				
				<div class="row news__item news__item--first">
					<div class="small-48 large-5 columns">
						
						<div class="news__date">
							<span class="news__date-day">
								25
							</span>
							<span class="news__date-month">
								Сентября
							</span>
							<span class="news__date-year">
								2015
							</span>
						</div>

					</div>
					<div class="small-48 large-43 columns">
						
						<h2 class="news__item-title">
							<a href="">Монтаж пленки в квартирах и загородных домах</a>
						</h2>
							
						<div class="news__item-text">
							<p>
								Солнцезащитные пленки могут быть установлены на любые стеклянные поверхности – фасадное остекление административных и общественных зданий, окна и балконы квартиры или загородного дома, витрины магазина, беседку зимнего сада, офисные перегородки, входные двери.
							</p>
						</div>

					</div>
				</div>
				
				<div class="row news__item">
					<div class="small-48 large-5 columns">
						
						<div class="news__date">
							<span class="news__date-day">
								20
							</span>
							<span class="news__date-month">
								Сентября
							</span>
							<span class="news__date-year">
								2015
							</span>
						</div>

					</div>
					<div class="small-48 large-43 columns">
						
						<h2 class="news__item-title">
							<a href="">Новые декоративные пленки</a>
						</h2>
							
						<div class="news__item-text">
							<p>
								В продажу поступили новые интересные декоративные пленки
							</p>
						</div>

					</div>
				</div>
				
				<div class="row news__item">
					<div class="small-48 large-5 columns">
						
						<div class="news__date">
							<span class="news__date-day">
								5
							</span>
							<span class="news__date-month">
								Сентября
							</span>
							<span class="news__date-year">
								2015
							</span>
						</div>

					</div>
					<div class="small-48 large-43 columns">
						
						<h2 class="news__item-title">
							<a href="">Европейский опыт по переработке пленки ПВХ</a>
						</h2>
							
						<div class="news__item-text">
							<p>
								Традиционно в Европе много внимания уделяют вопросам экологической безопасности, вторичной переработке отходов, экономному расходованию природных ресурсов. 
							</p>
						</div>

					</div>
				</div>
				
				<div class="row news__item">
					<div class="small-48 large-5 columns">
						
						<div class="news__date">
							<span class="news__date-day">
								19
							</span>
							<span class="news__date-month">
								Августа
							</span>
							<span class="news__date-year">
								2015
							</span>
						</div>

					</div>
					<div class="small-48 large-43 columns">
						
						<h2 class="news__item-title">
							<a href="">Замена или ремонт? Новые возможности</a>
						</h2>
							
						<div class="news__item-text">
							<p>
								Одна из американских лабораторий недавно предложила новое решение для автовладельцев, ветровые стекла на транспортных средствах которых получили незначительные повреждения.
							</p>
						</div>

					</div>
				</div>
				
				<div class="row news__item">
					<div class="small-48 large-5 columns">
						
						<div class="news__date">
							<span class="news__date-day">
								8
							</span>
							<span class="news__date-month">
								Августа
							</span>
							<span class="news__date-year">
								2015
							</span>
						</div>

					</div>
					<div class="small-48 large-43 columns">
						
						<h2 class="news__item-title">
							<a href="">Монтаж пленки в квартирах и загородных домах</a>
						</h2>
							
						<div class="news__item-text">
							<p>
								Солнцезащитные пленки могут быть установлены на любые стеклянные поверхности – фасадное остекление административных и общественных зданий, окна и балконы квартиры или загородного дома, витрины магазина, беседку зимнего сада, офисные перегородки, входные двери.
							</p>
						</div>

					</div>
				</div>

			</div>

			{{> pagination }}

		</div>
	</div>
</div>
<!-- [/News] -->
