
<div class="page page--line page--toodark relative m-b-55 m-b-sm-0">
	<img class="notfound__img hide-for-small show-for-large" src="assets/img/notfound/img-1.png" width="960" height="240" />
	<div class="row">
		<div class="small-48 columns">
			
			<div class="notfound">
				
				<span class="notfound__subtitle">
					Ошибка 404
				</span>
				<div class="clearfix notfound__title">
					<div class="left notfound__title-big">
						Страница
						<br />
						не найдена
					</div>
					<div class="right notfound__title-toobig hide-for-small show-for-large">
						404
					</div>
				</div>

				<div class="show-for-small hide-for-large">
					<p>
						Страница, которую вы запрашиваете не существует.
						<br />
						Возможно, она была удалена или перемещена на другой адрес,
						<br />
						но сейчас мы не можем вам подсказать точно, что произошло.
					</p>
					<p>
						Воспользуйтесь навигацией или поиском чтобы попасть в нужный вам раздел 
					</p>
				</div>

			</div>

		</div>
	</div>
</div>

<div class="page page--line">
	<div class="row">
		<div class="small-48 columns">
			
			<div class="notfound__form">

				<div class="hide-for-small show-for-large">
					<p>
						Страница, которую вы запрашиваете не существует.
						<br />
						Возможно, она была удалена или перемещена на другой адрес,
						<br />
						но сейчас мы не можем вам подсказать точно, что произошло.
					</p>
					<p>
						Воспользуйтесь навигацией или поиском чтобы попасть в нужный вам раздел 
					</p>
				</div>

				<form class="notfound__form" action="" method="post">
					<div class="row">
						<div class="small-48 large-40 columns p-r-10">
							<button class="button notfound__form-button show-for-small hide-for-large"><i class="icons icons--svg icons--mob-search">
							<svg viewBox="0 0 34 34">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_search"></use>
							</svg>
							</i></button>							
							<input class="notfound__form-input" type="text" placeholder="Поиск по сайту...">
						</div>
						<div class="small-8 columns p-l-10 hide-for-small show-for-large">
							<button class="button notfound__form-button hide-for-small show-for-large">Найти</button>
						</div>
					</div>
				</form>

			</div>

		</div>
	</div>
</div>
