
<hr class="hline hline--red hline--fill-50 m-b-35 m-t-sm-0 m-b-sm-35" />

<!-- [Order] -->
<div class="page page--line order">
	<div class="row">
		<div class="small-48 columns">

			<h1 class="order__title">
				оформление заказа
			</h1>
			
			<form action="">
				<div class="order__anons">

					<p>
						При оформлении заказа вы можете выбрать материалы и услуги,
						которые вам нужно или просто указать контактные данные и тогда
						все детали заказа сможет уточнить наш менеджер
					</p>

				</div>

				<hr class="hline m-t-40 m-b-45 m-t-sm-35 m-b-sm-30" />
				
				<h2 class="order__table-name">
					Материалы:
				</h2>

				<div class="order__table">
					<div class="row order__table-row">
						<div class="small-48 large-24 columns">

							<div class="row">
								<div class="small-10 large-8 columns">
									<a class="order__table-element" href="">
										<span class="black order__table-img"></span>
									</a>
								</div>
								<div class="small-38 large-40 columns">
									<div class="order__table-section-1 hide-for-small show-for-large">
										<span class="order__table-prop">ПВС:</span>
										<span class="order__table-value">27</span>
										<span class="order__table-prop">ОЭС:</span>
										<span class="order__table-value">8</span>
										<span class="order__table-prop">Ultrasolarblock</span>
									</div>
									<a class="order__table-element-name" href="">
										Чёрная тонировочная оконная пленка Black Out
									</a>
								</div>
							</div>

						</div>
						<div class="small-48 large-6 columns">
							<div class="order__table-section-2 clearfix">

								<span class="show-for-small hide-for-large">
									<span class="order__table-prop">ПВС:</span>
									<span class="order__table-value">27</span>
									<span class="order__table-prop">ОЭС:</span>
									<span class="order__table-value">8</span>
								</span>

								<span class="order__table-prop">Размер, (м.):</span>
								<span class="order__table-value">2,23 х 3,00</span>

							</div>
						</div>
						<div class="small-48 large-14 columns order__table-row--gray">
						
							<div class="row">
								<div class="small-24 columns">
									<div class="order__table-section-3">
										<div class="mdCustomSelect">
											<select name="" id="" class="custom">
												<option value="">250 шт</option>
												<option value="">125 шт</option>
												<option value="">100 шт</option>
												<option value="">50 шт</option>
												<option value="">25 шт</option>
											</select>
										</div>
									</div>
									<a class="order__table-refresh hide-for-small show-for-large" href=""><i class="icons icons--refresh"></i><span class="decorate">Обновить</span></a>
								</div>
								<div class="small-24 columns">
									<div class="order__table-section-4">
										<span class="order__table-price-label show-for-small hide-for-large">Стоимость</span>
										<span class="order__table-price">533 000<span class="rub">a</span></span>
									</div>
								</div>
							</div>

						</div>
						<div class="small-48 large-4 columns text-right">
							<div class="order__table-section-5">
								<a class="order__table-refresh left show-for-small hide-for-large" href=""><i class="icons icons--refresh"></i><span class="decorate">Обновить</span></a>
								<a class="order__table-remove right" href=""><i class="icons icons--basket"></i><span class="decorate">Удалить</span></a>
							</div>
						</div>
					</div>
					<div class="row order__table-row">
						<div class="small-48 large-24 columns">
							
							<div class="row">
								<div class="small-10 large-8 columns">
									<a class="order__table-element" href="">
										<span class="dark-green order__table-img"></span>
									</a>
								</div>
								<div class="small-38 large-40 columns">
									<div class="order__table-section-1 hide-for-small show-for-large">
										<span class="order__table-prop">ПВС:</span>
										<span class="order__table-value">27</span>
										<span class="order__table-prop">ОЭС:</span>
										<span class="order__table-value">8</span>
										<span class="order__table-prop">Ultrasolarblock</span>
									</div>
									<a class="order__table-element-name" href="">
										Темно-зелёная оконная пленка Energy 30
									</a>
								</div>
							</div>

						</div>
						<div class="small-48 large-6 columns">
							<div class="order__table-section-2">
								<span class="show-for-small hide-for-large">
									<span class="order__table-prop">ПВС:</span>
									<span class="order__table-value">27</span>
									<span class="order__table-prop">ОЭС:</span>
									<span class="order__table-value">8</span>
								</span>
								<span class="order__table-prop">Размер, (м.):</span>
								<span class="order__table-value">2,50 х 1,50</span>
							</div>
						</div>
						<div class="small-48 large-14 columns order__table-row--gray">

							<div class="row">
								<div class="small-24 columns">
									<div class="order__table-section-3">
										<div class="mdCustomSelect">
											<select name="" id="" class="custom">
												<option value="">250 шт</option>
												<option value="">125 шт</option>
												<option value="">100 шт</option>
												<option value="">50 шт</option>
												<option value="">25 шт</option>
											</select>
										</div>
									</div>
									<a class="order__table-refresh hide-for-small show-for-large" href=""><i class="icons icons--refresh"></i><span class="decorate">Обновить</span></a>
								</div>
								<div class="small-24 columns">
									<div class="order__table-section-4">
										<span class="order__table-price">3 500<span class="rub">a</span></span>
									</div>
								</div>
							</div>

						</div>
						<div class="small-48 large-4 columns text-right">
							
							<div class="order__table-section-5">
								<a class="order__table-refresh left show-for-small hide-for-large" href=""><i class="icons icons--refresh"></i><span class="decorate">Обновить</span></a>
								<a class="order__table-remove right" href=""><i class="icons icons--basket"></i><span class="decorate">Удалить</span></a>
							</div>
						</div>
					</div>
				</div>
			</form>

			<hr class="hline m-t-25 m-b-45" />
			
			<h2 class="order__list-name">
				Услуги:
			</h2>

			<div class="order__list">
				<div class="row order__list-item">
					<div class="small-6 medium-3 large-2 columns">
						<input id="order-list-1" name="order-list" type="checkbox" checked="checked" />
					</div>
					<div class="small-42 medium-45 large-46 columns">
						<label for="order-list-1" class="order__list-label">
							Бесплатный выезд мастера для замера
							<span>
								Бесплатный выезд мастера для замера и демонстрации каталога пленок	
							</span>
						</label>
					</div>
				</div>
				<div class="row order__list-item">
					<div class="small-6 medium-3 large-2 columns">
						<input id="order-list-2" name="order-list" type="checkbox" />
					</div>
					<div class="small-42 medium-45 large-46 columns">
						<label for="order-list-2" class="order__list-label">
							Монтаж пленки
							<span>
								Детали монтажа вы сможете оговорить с нашим менеджером, который назовет вам окончательную стоимость работ. Стоимость монтажа пленки от 300 a за квадратный метр.
							</span>
						</label>
					</div>
				</div>
			</div>

			<div class="order__form">
				<h2 class="order__form-title">
					Контактные данные:
				</h2>
				<span class="order__form-comment">
					<span class="star">*</span> отмеченные поля обязательные для заполнения
				</span>
				<div class="row order__form-line">
					<div class="small-48 large-6 columns">
						<label for="name">
							Ваше имя <span class="star">*</span>
						</label>
					</div>
					<div class="small-48 large-26 left columns">
						<input id="name" name="name" type="text" />
					</div>
				</div>
				<div class="row order__form-line">
					<div class="small-48 large-6 columns">
						<label for="phone">
							Телефон <span class="star">*</span>
						</label>
					</div>
					<div class="small-48 large-10 columns">
						<input id="phone" name="phone" type="text" />
					</div>
					<div class="small-48 large-6 columns">
						<label class="text-center" for="name">
							Email
						</label>
					</div>
					<div class="small-48 large-20 left columns">
						<input id="name" name="name" type="email" />
					</div>
				</div>
				<div class="row order__form-line">
					<div class="small-48 large-6 columns">
						<label for="name">
							Адрес
						</label>
					</div>
					<div class="small-48 large-36 left columns">
						<textarea class="textarea textarea--sm" name="" id="" cols="30" rows="2">Астраханская область, Икрянинский район, с. Икряное, ул. Комсомольская, 42, квартира 71</textarea>
						<p class="order__form-comment order__form-comment--line">
							Введите адрес доставки, или проведения работ.
							<br />
							Например: г. Москва, пос. Нахабино, ул. Комсомольская, 54, кв. 7
						</p>
					</div>
				</div>
				<div class="row order__form-line">
					<div class="small-48 large-6 columns">
						<label for="name">
							Комментарий
							<br />
							к заказу <span class="star">*</span>
						</label>
					</div>
					<div class="small-48 large-36 left columns">
						<textarea class="textarea textarea--big" name="" id="" cols="30" rows="2"></textarea>
					</div>
				</div>
			</div>

			<div class="row order__buttons m-t-60 m-b-60 m-t-sm-20 m-b-sm-0">
				<div class="small-48 large-17 columns p-t-15 hide-for-small show-for-large">
					{{> back-to}}
				</div>
				<div class="small-48 large-14 columns left text-center">
					<button type="submit" class="button">Оформить заказ</button>
				</div>
				<div class="small-48 large-17 columns show-for-small hide-for-large">
					{{> back-to}}
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Order] -->
