
<hr class="hline hline--fill-100 m-b-55 m-t-sm-0 m-b-sm-20" />

<!-- [Order] -->
<div class="page page--line order-finish">
	<div class="row">
		<div class="small-48 columns">

			<h1 class="order-finish__title">
				Спасибо за заказ
			</h1>
			
			<div class="row">
				<div class="small-48 large-32 columns">

					<div class="order-finish__anons">
						<span class="order-finish__num">Заказ № 1562 оформлен</span>
						<span class="order-finish__data">06.10.2015, 15:58</span>
					</div>

					<div class="order-finish__text">
						<p>
							Наши менеджеры свяжутся с вами в рабочее время.
							<br />
							Мы работаем с понедельника по пятницу с 11 до 20 часов.
							<br />
							Если у вас есть вопросы по работе нашей компании или по вашему заказу, то вы можете нам написать на <a href="">info@site.com</a> или позвонить в офис 
							по телефону: <strong>8 (495) 781-23-45</strong>
						</p>
					</div>
					
					<div class="m-b-25 m-b-sm-5">
						{{> back-to }}
					</div>
				
				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Order] -->
