---
title: Отзывы
---

<!-- [News] -->
<div class="page--line page-overflow m-b-30 m-b-sm-0">
	<div class="row columns">
		<div class="small-48 columns">
			
			<div class="reviews-list m-b-50 m-b-sm-10">
				
				<h1 class="reviews-list__title hide-for-small show-for-large">
					Отзывы
				</h1>
				
				<div class="reviews-list__anons">
					<p>
						Работаем с 2005 года. Специализируемся на пленках различного назначения и делаем это хорошо
					</p>
				</div>

				<div class="reviews-list__item">
					<div class="row">
						<div class="small-48 large-32 columns">
							
							<div class="reviews-list__item-text">
								<p>
									Прекрасная компания, замечательная работа!
								</p>
							</div>

						</div>
						<div class="small-48 large-16 columns">
							
							<div class="reviews-list__item-author">
								<span class="reviews-list__item-author-img"><img src="assets/img/reviews-list/persons/person-1.png" width="60" height="60" alt="" /></span>
								<p class="reviews-list__item-author-name">
									Сергей Мельников
								</p>
								<p class="reviews-list__item-author-post">
									<span>
										Главный инженер ТЦ Весна
										г. Москва
									</span>
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="reviews-list__item">
					<div class="row">
						<div class="small-48 large-32 columns">
							
							<div class="reviews-list__item-text">
								<p>
									Обслуживание хорошие все приятно общаются, подбирают запчасти быстро и без каких либо проблем. Доставка работает быстро мне во сколько сказали привезут запасть так и получилась, без каких либо поздней!!
								</p>
							</div>

						</div>
						<div class="small-48 large-16 columns">
							
							<div class="reviews-list__item-author">
								<span class="reviews-list__item-author-img"><img src="assets/img/reviews-list/persons/person-2.png" width="60" height="60"></span>
								<p class="reviews-list__item-author-name">
									Иван Константинопольский
								</p>
								<p class="reviews-list__item-author-post">
									<span>
										Исполнительный директор
										ГК Софт-Сервис
									</span>
									<span>
										г. Санкт-Петербург
									</span>
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="reviews-list__item">
					<div class="row">
						<div class="small-48 large-32 columns">
							
							<div class="reviews-list__item-text">
								<p>
									Привезли вовремя, все отлично. Спасибо менеджеру Максиму (очень рекомендую)
								</p>
							</div>

						</div>
						<div class="small-48 large-16 columns">
							
							<div class="reviews-list__item-author">
								<span class="reviews-list__item-author-img"><img src="assets/img/reviews-list/persons/person-3.png" width="60" height="60" alt="" /></span>
								<p class="reviews-list__item-author-name">
									Наталья Подоконникова
								</p>
								<p class="reviews-list__item-author-post">
									<span>
										Директор сети салонов Цветы Подмосковья
									</span>
									<span>
										г. Санкт-Петербург
									</span>
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="reviews-list__item">
					<div class="row">
						<div class="small-48 large-32 columns">
							
							<div class="reviews-list__item-text">
								<p>
									Прекрасная компания, замечательная работа!
								</p>
							</div>

						</div>
						<div class="small-48 large-16 columns">
							
							<div class="reviews-list__item-author">
								<span class="reviews-list__item-author-img"><img src="assets/img/reviews-list/persons/person-4.png" width="60" height="60" alt="" /></span>
								<p class="reviews-list__item-author-name">
									Сергей Мельников
								</p>
								<p class="reviews-list__item-author-post">
									<span>
										Главный инженер ТЦ Весна
									</span>
									<span>
										г. Москва
									</span>
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="reviews-list__item">
					<div class="row">
						<div class="small-48 large-32 columns">
							
							<div class="reviews-list__item-text">
								<p>
									Обслуживание хорошие все приятно общаются, подбирают запчасти быстро и без каких либо проблем. Доставка работает быстро мне во сколько сказали привезут запасть так и получилась, без каких либо поздней!!
								</p>
							</div>

						</div>
						<div class="small-48 large-16 columns">
							
							<div class="reviews-list__item-author">
								<span class="reviews-list__item-author-img"><img src="assets/img/reviews-list/persons/person-5.png" width="60" height="60" alt="" /></span>
								<p class="reviews-list__item-author-name">
									Иван Константинопольский
								</p>
								<p class="reviews-list__item-author-post">
									<span>
										Исполнительный директор
										ГК Софт-Сервис
									</span>
									<span>
										г. Санкт-Петербург
									</span>
								</p>
							</div>

						</div>
					</div>
				</div>

				<div class="reviews-list__item">
					<div class="row">
						<div class="small-48 large-32 columns">
							
							<div class="reviews-list__item-text">
								<p>
									Привезли вовремя, все отлично. Спасибо менеджеру Максиму (очень рекомендую)
								</p>
							</div>

						</div>
						<div class="small-48 large-16 columns">
							
							<div class="reviews-list__item-author">
								<span class="reviews-list__item-author-img"><img src="assets/img/reviews-list/persons/person-6.png" width="60" height="60" alt="" /></span>
								<p class="reviews-list__item-author-name">
									Наталья Подоконникова
								</p>
								<p class="reviews-list__item-author-post">
									<span>
										Директор сети салонов Цветы Подмосковья
									</span>
									<span>
										г. Санкт-Петербург
									</span>
								</p>
							</div>

						</div>
					</div>
				</div>

			</div>

			{{> pagination }}

		</div>
	</div>
</div>
<!-- [/News] -->
