---
title: Примеры работ
---


<!-- [Three block] -->
<div class="page--line page--overflow">
	<div class="row columns">
		<div class="small-48 columns relative">
			
			<div class="sample-works">
				<div class="row">
					<div class="small-48 large-26 columns">
						<h1 class="sample-works__title hide-for-small show-for-large">
							Примеры работ
						</h1>
						<span class="sample-works__count">
							Всего позиций: <strong>24</strong>
						</span>
					</div>
					<div class="small-48 large-22 columns">

						<form class="sample-works__form" action="">
							<div class="row">
								<div class="small-48 large-12 columns sample-works__form-comment hide-for-small show-for-large">
									Подобрать
									<br />
									по типу пленки:
								</div>
								<div class="small-48 large-25 columns p-r-10 p-r-sm-0">
									<div class="mdCustomSelect"> 
										<select id="" class="custom" name="">
											<option value="">Все пленки</option>
											<option value="">Прозрачные</option>
											<option value="">Не прозрачные</option>
											<option value="">Все пленки</option>
											<option value="">Прозрачные</option>
											<option value="">Не прозрачные</option>
											<option value="">Все пленки</option>
											<option value="">Прозрачные</option>
											<option value="">Не прозрачные</option>
											<option value="">Все пленки</option>
											<option value="">Прозрачные</option>
											<option value="">Не прозрачные</option>
											<option value="">Все пленки</option>
											<option value="">Прозрачные</option>
											<option value="">Не прозрачные</option>
										</select>
									</div>
								</div>
								<div class="small-48 large-11 columns hide-for-small show-for-large">
									<button class="button sample-works__form-button" type="submit">показать</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row sample-works__blocks">
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-1.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Установка тонирующей пленки
								BR15T
							</span>
						</div>
					</a>

				</div>
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-2.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки в офисах
								и банках
							</span>
						</div>
					</a>
					
				</div>
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-3.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки
								в торговых центрах
							</span>
						</div>
					</a>
					
				</div>
			</div>

			<div class="row sample-works__blocks m-t-15">
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-4.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки в квартирах 
								и загородных домах
							</span>
						</div>
					</a>

				</div>
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-5.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки в офисах
								и банках
							</span>
						</div>
					</a>
					
				</div>
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-6.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки
								в торговых центрах
							</span>
						</div>
					</a>
					
				</div>
			</div>

			<div class="row sample-works__blocks m-t-15">
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-7.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки в квартирах 
								и загородных домах
							</span>
						</div>
					</a>

				</div>
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-8.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки в офисах
								и банках
							</span>
						</div>
					</a>
					
				</div>
				<div class="small-48 large-16 columns">

					<a class="sample-works__blocks-item" href="">
						<img class="sample-works__blocks-img" src="assets/img/pages-pictures/works/img-9.jpg" width="310" height="160" alt="" />
						<div class="sample-works__blocks-text">
							<span class="decorate">
								Монтаж пленки
								в торговых центрах
							</span>
						</div>
					</a>
					
				</div>
			</div>
			
			<div class="text-center m-t-40 m-t-sm-0 m-b-sm-10">
				<button class="button sample-works__form-button-more">Показать ещё</button>
			</div>

		</div>
	</div>
</div>
<!-- [/Three block] -->

