
<hr class="hline hline--fill-50 m-b-35 hide-for-small show-for-large" />

<div class="page page--line">
	<div class="row">
		<div class="small-48 columns">
			
			<div class="search">
				
				<h1 class="search__title">
					Поиск по сайту
				</h1>

				<div class="search__form m-b-0">
					<form action="" method="post">
						<div class="row">
							<div class="small-48 large-40 columns p-r-10">
								<button class="button search__form-button show-for-small hide-for-large"><i class="icons icons--svg icons--mob-search">
								  <svg viewBox="0 0 34 34">
								    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons_search"></use>
								  </svg>
								</i></button>								
								<input class="search__form-input" type="text" placeholder="Поиск по сайту...">
							</div>
							<div class="small-48 large-8 columns p-l-10 hide-for-small show-for-large">
								<button class="button search__form-button">Найти</button>
							</div>
						</div>
					</form>
					<p class="search__form-comment search__form-comment-btmborder">
						<span>Найдено страниц: </span><strong class="search__form-num">3</strong>
					</p>
				</div>

				<div class="search__item">
					<h2 class="search__item-title m-b-25 m-b-sm-10">
						<a href="">
							Монтаж пленки в квартирах и загородных домах
						</a>
					</h2>
						
					<div class="search__item-text">
						<p>
							Солнцезащитные пленки могут быть установлены на любые стеклянные поверхности – фасадное остекление административных и общественных зданий, окна и балконы квартиры или загородного дома, витрины магазина, беседку зимнего сада, офисные перегородки, входные двери.
						</p>
					</div>
				</div>

				<div class="search__item">
					<h2 class="search__item-title m-b-25 m-b-sm-10">
						<a href="">
							Новые декоративные пленки
						</a>
					</h2>
						
					<div class="search__item-text">
						<p>
							В продажу поступили новые интересные декоративные пленки
						</p>
					</div>
				</div>

				<div class="search__item search__item--no-border">
					<h2 class="search__item-title m-b-25 m-b-sm-10">
						<a href="">
							Европейский опыт по переработке пленки ПВХ
						</a>
					</h2>
						
					<div class="search__item-text">
						<p>
							Традиционно в Европе много внимания уделяют вопросам экологической безопасности, вторичной переработке отходов, экономному расходованию природных ресурсов.
						</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
