---
title: Типы пленок
backUrl: types.html
---

<!-- [Faq] -->
<div class="page--line">
	<div class="row columns">
		<div class="small-48 columns">
			
			<h1 class="page__delim-title hide-for-small show-for-large">
				справка<span>/</span>типы пленок
			</h1>

			<div class="row">
				<div class="small-48 large-13 columns hide-for-small show-for-large">
					
					<div class="left-nav">
						
						<ul class="menu vertical">
							<li class="left-nav__item left-nav__item-active"><a href="types.html">Типы пленок</a></li>
							<li class="left-nav__item"><a href="#">Рекомендации</a></li>
							<li class="left-nav__item"><a href="#">Документы и ГОСТы</a></li>
							<li class="left-nav__item"><a href="faq.html">Вопрос-ответ</a></li>
						</ul>

					</div>

				</div>
				<div class="small-48 large-32 large-offset-3 columns">
					
					<div class="types">

						<div class="types__item">
							<h2 class="types__item-title m-b-25 m-b-sm-10">
								<a href="types-article.html">
									Защитная плёнка
								</a>
							</h2>
								
							<div class="types__item-text">
								<p>
									Полвека назад человечество не представляло себе, что оконные решётки из металла, железные ставни и громоздкие жалюзи можно чем-то заменить. Но технический прогресс не стоял на месте, и после энергетического кризиса 70-х, на рынке остекления появилась первая полимерная оконная пленка. 
									Лёгкий материал с удивительными свойствами быстро завоевал доверие потребителей и заметно потеснил конкурентов из каменного века. 
								</p>
							</div>
						</div>

						<div class="types__item">
							<h2 class="types__item-title m-b-25 m-b-sm-10">
								<a href="types-article.html">
									Тонирующая плёнка
								</a>
							</h2>
								
							<div class="types__item-text">
								<p>
									Вопрос об актуальности тонирующих плёнок имеет довольно простой ответ. Главный резон их установки в экономии энергопотребления, ведь тонировка регулирует теплообмен помещений, а теплоизоляция стекла вырастает на 90%. При активном использовании климатических систем это способствует снижению расхода электроэнергии. За границей вашего комфорта остаётся 80% «прямого солнца». Тем самым внутри зданий, офисов и квартир, коттеджей и бутиков легко можно добиться приятной атмосферы и естественного ненавязчивого света
								</p>
							</div>
						</div>

						<div class="types__item">
							<h2 class="types__item-title m-b-25 m-b-sm-10">
								<a href="types-article.html">
									Солнцезащитные плёнки
								</a>
							</h2>
								
							<div class="types__item-text">
								<p>
									О том, что солнечная радиация - агрессивная среда, известно давно
								</p>
							</div>
						</div>

						<div class="types__item">
							<h2 class="types__item-title m-b-25 m-b-sm-10">
								<a href="types-article.html">
									Декоративные пленки
								</a>
							</h2>
								
							<div class="types__item-text">
								<p>
									Качественный плёночный материал изготавливается из термопластичного ПЭТФ (полиэтилентерефталат) на предприятиях соответствующих стандарту ISO-9001:2000. Гранулированный или волоконный ПЭТФ в свой время был создан в лаборатории высокомолекулярных соединений при академии наук. Кстати, благодаря месту рождения полимер и получил название лавсан
								</p>
							</div>
						</div>

						<div class="types__item types__item--no-border">
							<h2 class="types__item-title m-b-25 m-b-sm-10">
								<a href="types-article.html">
									Энергосберегающие плёнки
								</a>
							</h2>
								
							<div class="types__item-text">
								<p>
									Знаете ли вы, что «слабое звено» современных строительных конструкций, связанное с безвозвратными потерями тепла, это стеклянные поверхности зданий? По данным тепловизионного мониторинга ФБУ «ГосНИИЭНП», потери для стеклопакетов с двойными камерами составляют от 70 до 
									120Вт/м², а двухрамная «советская классика» отдаёт улице до 135Вт/м².
								</p>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Faq] -->