---
title: Типы пленок
backUrl: types.html
---

<!-- [Type Article] -->
<div class="page--line">
	<div class="row columns">
		<div class="small-48 columns">
			
			<h1 class="page__delim-title hide-for-small show-for-large">
				справка<span>/</span>защитная пленка
			</h1>

			<div class="row">
				<div class="small-48 large-13 columns hide-for-small show-for-large">
					
					<div class="left-nav">
						<ul class="menu vertical">
							<li class="left-nav__item left-nav__item-active"><a href="types.html">Типы пленок</a></li>
							<li class="left-nav__item"><a href="#">Рекомендации</a></li>
							<li class="left-nav__item"><a href="#">Документы и ГОСТы</a></li>
							<li class="left-nav__item"><a href="faq.html">Вопрос-ответ</a></li>
						</ul>
					</div>

				</div>
				<div class="small-48 large-32 large-offset-3 columns">
					
					<div class="types">
						
						<h2 class="types__detail-title">
							Защитные пленки
						</h2>

						<div class="content content--border-top m-b-40  m-b-sm-0">
							
							<p>
								Полвека назад человечество не представляло себе, что оконные решётки из металла, железные ставни и громоздкие жалюзи можно чем-то заменить. Но технический прогресс не стоял на месте, и после энергетического кризиса 70-х, на рынке остекления появилась первая полимерная оконная пленка.
								Лёгкий материал с удивительными свойствами быстро завоевал доверие потребителей и заметно потеснил конкурентов из каменного века.
							</p>
							<p>
								Что же представляет собой защитная плёнка? Это композит из нескольких слоёв полиэфирного пластика или лавсана, с адгезивной пропиткой. Молекулярное клеящее вещество заполняет все микронеровности рабочих поверхностей, из-за чего площадь склеивания максимально увеличивается.
							</p>
							<p>
								Применение противоосколочных плёнок практичная альтернатива дорогим бронированным стёклам или традиционной механической защите.
							</p>
							<p>
								Строгие параметры эксплуатационных свойств регламентированы более 15 лет назад. Нормативы Госстандарта (ГОСТ Р 51136–98) классифицируют защитную плёнку как:
							</p>
							<ul>
								<li>
									класс А1, толщина 300 микрон — энергия удара 141 Дж, выдерживает трехкратное падение шара массой 4 кг с высоты 3,5 м;
								</li>
								<li>
									класс А2, толщина 400 микрон — энергия удара 262 Дж, выдерживает трехкратное падение шара массой 4 кг с высоты 6,5 м;
								</li>
								<li>
									класс А3, толщина 600 микрон — энергия удара 382 Дж, выдерживает трехкратное падение шара массой 4 кг с высоты 9,5 м
								</li>
							</ul>
							<p>
								Помимо обозначенных стандартов существуют ещё несколько видов плёночной защиты, в частности:
							</p>
							<ul>
								<li>
									К4/ДВ2, толщина 112 микрон - противоосколочная пленка для стекол толщиной от 10 мм.
								</li>
								<li>
									К4/Р1А, толщина 200 микрон, противоосколочная пленка для стекол толщиной до 10 мм.
								</li>
							</ul>
							<p>
								Что касается свойств полимерной плёнки, защищающих стекло от воздействия взрыва, то и здесь имеются чёткие стандарты:
							</p>
							<ul>
								<li>
									Д5 - толщина 224 мкм, выдерживает взрыв 200 г тротила на расстоянии 3 метров;
								</li>
								<li>
									Д4 - толщина 600 мкм, выдерживает взрыв 400 г тротила на расстоянии 3 метров;
								</li>
								<li>
									Д3 - толщина 500 мкм, выдерживает взрыв 200 г тротила на расстоянии 3 метров, используется для внутренних помещений;
								</li>
								<li>
									Д2 - толщина 380 мкм, выдерживает взрыв 150 г тротила на расстоянии 3 метров;
								</li>
								<li>
									Д1 - толщина 300 мкм, выдерживает взрыв 100 г тротила на расстоянии 3 метров.
								</li>
							</ul>
							<p>
								В практике применения бронирующих плёнок есть особые позиции, поддержанные МВД. Например, все защитные плёнки стеклянных конструкций государственных зданий, офисов и кредитных учреждений должны иметь параметры не менее 350 мк.
							</p>
							<p>
								Крайние температурные значения «работоспособности» полимерного композита от минус 40°С до плюс 80°С. Высокий тепловой порог установленного на стекло материала позволяет создать эффективную противопожарную систему. Плёнка 112 мк способна «продержаться» в открытом пламени до 35 минут и при этом не образуется ядовитых продуктов горения.
							</p>
							<p>
								Важно учесть ещё одно экологическое качество защитных плёнок — оклеивание внутренней стороны стеклопакета, вкупе с межстекольной воздушной прослойкой, даёт эффект шумоизоляции в пределах 29дБ.
							</p>

						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- [/Type Article] -->