/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$advantages-name: 'advantages';
$advantages-x: 98px;
$advantages-y: 171px;
$advantages-offset-x: -98px;
$advantages-offset-y: -171px;
$advantages-width: 36px;
$advantages-height: 36px;
$advantages-total-width: 381px;
$advantages-total-height: 343px;
$advantages-image: '../img/sprites/sprites.png';
$advantages: (98px, 171px, -98px, -171px, 36px, 36px, 381px, 343px, '../img/sprites/sprites.png', 'advantages', );
$any-form-payment-name: 'any-form-payment';
$any-form-payment-x: 278px;
$any-form-payment-y: 0px;
$any-form-payment-offset-x: -278px;
$any-form-payment-offset-y: 0px;
$any-form-payment-width: 34px;
$any-form-payment-height: 36px;
$any-form-payment-total-width: 381px;
$any-form-payment-total-height: 343px;
$any-form-payment-image: '../img/sprites/sprites.png';
$any-form-payment: (278px, 0px, -278px, 0px, 34px, 36px, 381px, 343px, '../img/sprites/sprites.png', 'any-form-payment', );
$arrow-left-hover-name: 'arrow-left-hover';
$arrow-left-hover-x: 322px;
$arrow-left-hover-y: 199px;
$arrow-left-hover-offset-x: -322px;
$arrow-left-hover-offset-y: -199px;
$arrow-left-hover-width: 10px;
$arrow-left-hover-height: 23px;
$arrow-left-hover-total-width: 381px;
$arrow-left-hover-total-height: 343px;
$arrow-left-hover-image: '../img/sprites/sprites.png';
$arrow-left-hover: (322px, 199px, -322px, -199px, 10px, 23px, 381px, 343px, '../img/sprites/sprites.png', 'arrow-left-hover', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 322px;
$arrow-left-y: 232px;
$arrow-left-offset-x: -322px;
$arrow-left-offset-y: -232px;
$arrow-left-width: 10px;
$arrow-left-height: 23px;
$arrow-left-total-width: 381px;
$arrow-left-total-height: 343px;
$arrow-left-image: '../img/sprites/sprites.png';
$arrow-left: (322px, 232px, -322px, -232px, 10px, 23px, 381px, 343px, '../img/sprites/sprites.png', 'arrow-left', );
$arrow-right-hover-name: 'arrow-right-hover';
$arrow-right-hover-x: 348px;
$arrow-right-hover-y: 0px;
$arrow-right-hover-offset-x: -348px;
$arrow-right-hover-offset-y: 0px;
$arrow-right-hover-width: 10px;
$arrow-right-hover-height: 23px;
$arrow-right-hover-total-width: 381px;
$arrow-right-hover-total-height: 343px;
$arrow-right-hover-image: '../img/sprites/sprites.png';
$arrow-right-hover: (348px, 0px, -348px, 0px, 10px, 23px, 381px, 343px, '../img/sprites/sprites.png', 'arrow-right-hover', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 348px;
$arrow-right-y: 33px;
$arrow-right-offset-x: -348px;
$arrow-right-offset-y: -33px;
$arrow-right-width: 10px;
$arrow-right-height: 23px;
$arrow-right-total-width: 381px;
$arrow-right-total-height: 343px;
$arrow-right-image: '../img/sprites/sprites.png';
$arrow-right: (348px, 33px, -348px, -33px, 10px, 23px, 381px, 343px, '../img/sprites/sprites.png', 'arrow-right', );
$basket-hover-name: 'basket-hover';
$basket-hover-x: 368px;
$basket-hover-y: 25px;
$basket-hover-offset-x: -368px;
$basket-hover-offset-y: -25px;
$basket-hover-width: 13px;
$basket-hover-height: 15px;
$basket-hover-total-width: 381px;
$basket-hover-total-height: 343px;
$basket-hover-image: '../img/sprites/sprites.png';
$basket-hover: (368px, 25px, -368px, -25px, 13px, 15px, 381px, 343px, '../img/sprites/sprites.png', 'basket-hover', );
$basket-name: 'basket';
$basket-x: 368px;
$basket-y: 0px;
$basket-offset-x: -368px;
$basket-offset-y: 0px;
$basket-width: 13px;
$basket-height: 15px;
$basket-total-width: 381px;
$basket-total-height: 343px;
$basket-image: '../img/sprites/sprites.png';
$basket: (368px, 0px, -368px, 0px, 13px, 15px, 381px, 343px, '../img/sprites/sprites.png', 'basket', );
$best-film-name: 'best-film';
$best-film-x: 50px;
$best-film-y: 171px;
$best-film-offset-x: -50px;
$best-film-offset-y: -171px;
$best-film-width: 38px;
$best-film-height: 38px;
$best-film-total-width: 381px;
$best-film-total-height: 343px;
$best-film-image: '../img/sprites/sprites.png';
$best-film: (50px, 171px, -50px, -171px, 38px, 38px, 381px, 343px, '../img/sprites/sprites.png', 'best-film', );
$box-name: 'box';
$box-x: 90px;
$box-y: 221px;
$box-offset-x: -90px;
$box-offset-y: -221px;
$box-width: 35px;
$box-height: 35px;
$box-total-width: 381px;
$box-total-height: 343px;
$box-image: '../img/sprites/sprites.png';
$box: (90px, 221px, -90px, -221px, 35px, 35px, 381px, 343px, '../img/sprites/sprites.png', 'box', );
$catalog-decorative-films-sm-name: 'catalog-decorative-films-sm';
$catalog-decorative-films-sm-x: 180px;
$catalog-decorative-films-sm-y: 50px;
$catalog-decorative-films-sm-offset-x: -180px;
$catalog-decorative-films-sm-offset-y: -50px;
$catalog-decorative-films-sm-width: 40px;
$catalog-decorative-films-sm-height: 40px;
$catalog-decorative-films-sm-total-width: 381px;
$catalog-decorative-films-sm-total-height: 343px;
$catalog-decorative-films-sm-image: '../img/sprites/sprites.png';
$catalog-decorative-films-sm: (180px, 50px, -180px, -50px, 40px, 40px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-decorative-films-sm', );
$catalog-decorative-films-name: 'catalog-decorative-films';
$catalog-decorative-films-x: 0px;
$catalog-decorative-films-y: 60px;
$catalog-decorative-films-offset-x: 0px;
$catalog-decorative-films-offset-y: -60px;
$catalog-decorative-films-width: 50px;
$catalog-decorative-films-height: 50px;
$catalog-decorative-films-total-width: 381px;
$catalog-decorative-films-total-height: 343px;
$catalog-decorative-films-image: '../img/sprites/sprites.png';
$catalog-decorative-films: (0px, 60px, 0px, -60px, 50px, 50px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-decorative-films', );
$catalog-heat-reflective-films-sm-name: 'catalog-heat-reflective-films-sm';
$catalog-heat-reflective-films-sm-x: 180px;
$catalog-heat-reflective-films-sm-y: 100px;
$catalog-heat-reflective-films-sm-offset-x: -180px;
$catalog-heat-reflective-films-sm-offset-y: -100px;
$catalog-heat-reflective-films-sm-width: 40px;
$catalog-heat-reflective-films-sm-height: 40px;
$catalog-heat-reflective-films-sm-total-width: 381px;
$catalog-heat-reflective-films-sm-total-height: 343px;
$catalog-heat-reflective-films-sm-image: '../img/sprites/sprites.png';
$catalog-heat-reflective-films-sm: (180px, 100px, -180px, -100px, 40px, 40px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-heat-reflective-films-sm', );
$catalog-heat-reflective-films-name: 'catalog-heat-reflective-films';
$catalog-heat-reflective-films-x: 120px;
$catalog-heat-reflective-films-y: 0px;
$catalog-heat-reflective-films-offset-x: -120px;
$catalog-heat-reflective-films-offset-y: 0px;
$catalog-heat-reflective-films-width: 50px;
$catalog-heat-reflective-films-height: 50px;
$catalog-heat-reflective-films-total-width: 381px;
$catalog-heat-reflective-films-total-height: 343px;
$catalog-heat-reflective-films-image: '../img/sprites/sprites.png';
$catalog-heat-reflective-films: (120px, 0px, -120px, 0px, 50px, 50px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-heat-reflective-films', );
$catalog-protective-films-sm-name: 'catalog-protective-films-sm';
$catalog-protective-films-sm-x: 51px;
$catalog-protective-films-sm-y: 120px;
$catalog-protective-films-sm-offset-x: -51px;
$catalog-protective-films-sm-offset-y: -120px;
$catalog-protective-films-sm-width: 40px;
$catalog-protective-films-sm-height: 40px;
$catalog-protective-films-sm-total-width: 381px;
$catalog-protective-films-sm-total-height: 343px;
$catalog-protective-films-sm-image: '../img/sprites/sprites.png';
$catalog-protective-films-sm: (51px, 120px, -51px, -120px, 40px, 40px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-protective-films-sm', );
$catalog-protective-films-name: 'catalog-protective-films';
$catalog-protective-films-x: 60px;
$catalog-protective-films-y: 60px;
$catalog-protective-films-offset-x: -60px;
$catalog-protective-films-offset-y: -60px;
$catalog-protective-films-width: 50px;
$catalog-protective-films-height: 50px;
$catalog-protective-films-total-width: 381px;
$catalog-protective-films-total-height: 343px;
$catalog-protective-films-image: '../img/sprites/sprites.png';
$catalog-protective-films: (60px, 60px, -60px, -60px, 50px, 50px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-protective-films', );
$catalog-slr-films-sm-name: 'catalog-slr-films-sm';
$catalog-slr-films-sm-x: 101px;
$catalog-slr-films-sm-y: 120px;
$catalog-slr-films-sm-offset-x: -101px;
$catalog-slr-films-sm-offset-y: -120px;
$catalog-slr-films-sm-width: 40px;
$catalog-slr-films-sm-height: 40px;
$catalog-slr-films-sm-total-width: 381px;
$catalog-slr-films-sm-total-height: 343px;
$catalog-slr-films-sm-image: '../img/sprites/sprites.png';
$catalog-slr-films-sm: (101px, 120px, -101px, -120px, 40px, 40px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-slr-films-sm', );
$catalog-slr-films-name: 'catalog-slr-films';
$catalog-slr-films-x: 0px;
$catalog-slr-films-y: 0px;
$catalog-slr-films-offset-x: 0px;
$catalog-slr-films-offset-y: 0px;
$catalog-slr-films-width: 50px;
$catalog-slr-films-height: 50px;
$catalog-slr-films-total-width: 381px;
$catalog-slr-films-total-height: 343px;
$catalog-slr-films-image: '../img/sprites/sprites.png';
$catalog-slr-films: (0px, 0px, 0px, 0px, 50px, 50px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-slr-films', );
$catalog-sunscreen-films-sm-name: 'catalog-sunscreen-films-sm';
$catalog-sunscreen-films-sm-x: 180px;
$catalog-sunscreen-films-sm-y: 0px;
$catalog-sunscreen-films-sm-offset-x: -180px;
$catalog-sunscreen-films-sm-offset-y: 0px;
$catalog-sunscreen-films-sm-width: 40px;
$catalog-sunscreen-films-sm-height: 40px;
$catalog-sunscreen-films-sm-total-width: 381px;
$catalog-sunscreen-films-sm-total-height: 343px;
$catalog-sunscreen-films-sm-image: '../img/sprites/sprites.png';
$catalog-sunscreen-films-sm: (180px, 0px, -180px, 0px, 40px, 40px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-sunscreen-films-sm', );
$catalog-sunscreen-films-name: 'catalog-sunscreen-films';
$catalog-sunscreen-films-x: 60px;
$catalog-sunscreen-films-y: 0px;
$catalog-sunscreen-films-offset-x: -60px;
$catalog-sunscreen-films-offset-y: 0px;
$catalog-sunscreen-films-width: 50px;
$catalog-sunscreen-films-height: 50px;
$catalog-sunscreen-films-total-width: 381px;
$catalog-sunscreen-films-total-height: 343px;
$catalog-sunscreen-films-image: '../img/sprites/sprites.png';
$catalog-sunscreen-films: (60px, 0px, -60px, 0px, 50px, 50px, 381px, 343px, '../img/sprites/sprites.png', 'catalog-sunscreen-films', );
$certificates-warranty-name: 'certificates-warranty';
$certificates-warranty-x: 278px;
$certificates-warranty-y: 186px;
$certificates-warranty-offset-x: -278px;
$certificates-warranty-offset-y: -186px;
$certificates-warranty-width: 30px;
$certificates-warranty-height: 36px;
$certificates-warranty-total-width: 381px;
$certificates-warranty-total-height: 343px;
$certificates-warranty-image: '../img/sprites/sprites.png';
$certificates-warranty: (278px, 186px, -278px, -186px, 30px, 36px, 381px, 343px, '../img/sprites/sprites.png', 'certificates-warranty', );
$clock-name: 'clock';
$clock-x: 120px;
$clock-y: 60px;
$clock-offset-x: -120px;
$clock-offset-y: -60px;
$clock-width: 47px;
$clock-height: 47px;
$clock-total-width: 381px;
$clock-total-height: 343px;
$clock-image: '../img/sprites/sprites.png';
$clock: (120px, 60px, -120px, -60px, 47px, 47px, 381px, 343px, '../img/sprites/sprites.png', 'clock', );
$close-hover-name: 'close-hover';
$close-hover-x: 368px;
$close-hover-y: 95px;
$close-hover-offset-x: -368px;
$close-hover-offset-y: -95px;
$close-hover-width: 12px;
$close-hover-height: 12px;
$close-hover-total-width: 381px;
$close-hover-total-height: 343px;
$close-hover-image: '../img/sprites/sprites.png';
$close-hover: (368px, 95px, -368px, -95px, 12px, 12px, 381px, 343px, '../img/sprites/sprites.png', 'close-hover', );
$close-white-name: 'close-white';
$close-white-x: 322px;
$close-white-y: 265px;
$close-white-offset-x: -322px;
$close-white-offset-y: -265px;
$close-white-width: 15px;
$close-white-height: 15px;
$close-white-total-width: 381px;
$close-white-total-height: 343px;
$close-white-image: '../img/sprites/sprites.png';
$close-white: (322px, 265px, -322px, -265px, 15px, 15px, 381px, 343px, '../img/sprites/sprites.png', 'close-white', );
$close-name: 'close';
$close-x: 368px;
$close-y: 73px;
$close-offset-x: -368px;
$close-offset-y: -73px;
$close-width: 12px;
$close-height: 12px;
$close-total-width: 381px;
$close-total-height: 343px;
$close-image: '../img/sprites/sprites.png';
$close: (368px, 73px, -368px, -73px, 12px, 12px, 381px, 343px, '../img/sprites/sprites.png', 'close', );
$customer-reviews-name: 'customer-reviews';
$customer-reviews-x: 278px;
$customer-reviews-y: 93px;
$customer-reviews-offset-x: -278px;
$customer-reviews-offset-y: -93px;
$customer-reviews-width: 32px;
$customer-reviews-height: 37px;
$customer-reviews-total-width: 381px;
$customer-reviews-total-height: 343px;
$customer-reviews-image: '../img/sprites/sprites.png';
$customer-reviews: (278px, 93px, -278px, -93px, 32px, 37px, 381px, 343px, '../img/sprites/sprites.png', 'customer-reviews', );
$dashed-angle-name: 'dashed-angle';
$dashed-angle-x: 190px;
$dashed-angle-y: 171px;
$dashed-angle-offset-x: -190px;
$dashed-angle-offset-y: -171px;
$dashed-angle-width: 26px;
$dashed-angle-height: 26px;
$dashed-angle-total-width: 381px;
$dashed-angle-total-height: 343px;
$dashed-angle-image: '../img/sprites/sprites.png';
$dashed-angle: (190px, 171px, -190px, -171px, 26px, 26px, 381px, 343px, '../img/sprites/sprites.png', 'dashed-angle', );
$free-shipping-name: 'free-shipping';
$free-shipping-x: 278px;
$free-shipping-y: 140px;
$free-shipping-offset-x: -278px;
$free-shipping-offset-y: -140px;
$free-shipping-width: 31px;
$free-shipping-height: 36px;
$free-shipping-total-width: 381px;
$free-shipping-total-height: 343px;
$free-shipping-image: '../img/sprites/sprites.png';
$free-shipping: (278px, 140px, -278px, -140px, 31px, 36px, 381px, 343px, '../img/sprites/sprites.png', 'free-shipping', );
$full-screen-arrow-left-hover-name: 'full-screen-arrow-left-hover';
$full-screen-arrow-left-hover-x: 151px;
$full-screen-arrow-left-hover-y: 120px;
$full-screen-arrow-left-hover-offset-x: -151px;
$full-screen-arrow-left-hover-offset-y: -120px;
$full-screen-arrow-left-hover-width: 16px;
$full-screen-arrow-left-hover-height: 39px;
$full-screen-arrow-left-hover-total-width: 381px;
$full-screen-arrow-left-hover-total-height: 343px;
$full-screen-arrow-left-hover-image: '../img/sprites/sprites.png';
$full-screen-arrow-left-hover: (151px, 120px, -151px, -120px, 16px, 39px, 381px, 343px, '../img/sprites/sprites.png', 'full-screen-arrow-left-hover', );
$full-screen-arrow-left-name: 'full-screen-arrow-left';
$full-screen-arrow-left-x: 322px;
$full-screen-arrow-left-y: 98px;
$full-screen-arrow-left-offset-x: -322px;
$full-screen-arrow-left-offset-y: -98px;
$full-screen-arrow-left-width: 16px;
$full-screen-arrow-left-height: 39px;
$full-screen-arrow-left-total-width: 381px;
$full-screen-arrow-left-total-height: 343px;
$full-screen-arrow-left-image: '../img/sprites/sprites.png';
$full-screen-arrow-left: (322px, 98px, -322px, -98px, 16px, 39px, 381px, 343px, '../img/sprites/sprites.png', 'full-screen-arrow-left', );
$full-screen-arrow-right-hover-name: 'full-screen-arrow-right-hover';
$full-screen-arrow-right-hover-x: 322px;
$full-screen-arrow-right-hover-y: 49px;
$full-screen-arrow-right-hover-offset-x: -322px;
$full-screen-arrow-right-hover-offset-y: -49px;
$full-screen-arrow-right-hover-width: 16px;
$full-screen-arrow-right-hover-height: 39px;
$full-screen-arrow-right-hover-total-width: 381px;
$full-screen-arrow-right-hover-total-height: 343px;
$full-screen-arrow-right-hover-image: '../img/sprites/sprites.png';
$full-screen-arrow-right-hover: (322px, 49px, -322px, -49px, 16px, 39px, 381px, 343px, '../img/sprites/sprites.png', 'full-screen-arrow-right-hover', );
$full-screen-arrow-right-name: 'full-screen-arrow-right';
$full-screen-arrow-right-x: 322px;
$full-screen-arrow-right-y: 0px;
$full-screen-arrow-right-offset-x: -322px;
$full-screen-arrow-right-offset-y: 0px;
$full-screen-arrow-right-width: 16px;
$full-screen-arrow-right-height: 39px;
$full-screen-arrow-right-total-width: 381px;
$full-screen-arrow-right-total-height: 343px;
$full-screen-arrow-right-image: '../img/sprites/sprites.png';
$full-screen-arrow-right: (322px, 0px, -322px, 0px, 16px, 39px, 381px, 343px, '../img/sprites/sprites.png', 'full-screen-arrow-right', );
$help-choosing-name: 'help-choosing';
$help-choosing-x: 0px;
$help-choosing-y: 171px;
$help-choosing-offset-x: 0px;
$help-choosing-offset-y: -171px;
$help-choosing-width: 40px;
$help-choosing-height: 40px;
$help-choosing-total-width: 381px;
$help-choosing-total-height: 343px;
$help-choosing-image: '../img/sprites/sprites.png';
$help-choosing: (0px, 171px, 0px, -171px, 40px, 40px, 381px, 343px, '../img/sprites/sprites.png', 'help-choosing', );
$high-altitude-name: 'high-altitude';
$high-altitude-x: 230px;
$high-altitude-y: 104px;
$high-altitude-offset-x: -230px;
$high-altitude-offset-y: -104px;
$high-altitude-width: 38px;
$high-altitude-height: 42px;
$high-altitude-total-width: 381px;
$high-altitude-total-height: 343px;
$high-altitude-image: '../img/sprites/sprites.png';
$high-altitude: (230px, 104px, -230px, -104px, 38px, 42px, 381px, 343px, '../img/sprites/sprites.png', 'high-altitude', );
$install-name: 'install';
$install-x: 45px;
$install-y: 221px;
$install-offset-x: -45px;
$install-offset-y: -221px;
$install-width: 35px;
$install-height: 35px;
$install-total-width: 381px;
$install-total-height: 343px;
$install-image: '../img/sprites/sprites.png';
$install: (45px, 221px, -45px, -221px, 35px, 35px, 381px, 343px, '../img/sprites/sprites.png', 'install', );
$large-surface-name: 'large-surface';
$large-surface-x: 230px;
$large-surface-y: 0px;
$large-surface-offset-x: -230px;
$large-surface-offset-y: 0px;
$large-surface-width: 38px;
$large-surface-height: 42px;
$large-surface-total-width: 381px;
$large-surface-total-height: 343px;
$large-surface-image: '../img/sprites/sprites.png';
$large-surface: (230px, 0px, -230px, 0px, 38px, 42px, 381px, 343px, '../img/sprites/sprites.png', 'large-surface', );
$lens-hover-name: 'lens-hover';
$lens-hover-x: 292px;
$lens-hover-y: 297px;
$lens-hover-offset-x: -292px;
$lens-hover-offset-y: -297px;
$lens-hover-width: 17px;
$lens-hover-height: 16px;
$lens-hover-total-width: 381px;
$lens-hover-total-height: 343px;
$lens-hover-image: '../img/sprites/sprites.png';
$lens-hover: (292px, 297px, -292px, -297px, 17px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'lens-hover', );
$lens-name: 'lens';
$lens-x: 265px;
$lens-y: 297px;
$lens-offset-x: -265px;
$lens-offset-y: -297px;
$lens-width: 17px;
$lens-height: 16px;
$lens-total-width: 381px;
$lens-total-height: 343px;
$lens-image: '../img/sprites/sprites.png';
$lens: (265px, 297px, -265px, -297px, 17px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'lens', );
$menu-arrow-name: 'menu-arrow';
$menu-arrow-x: 368px;
$menu-arrow-y: 159px;
$menu-arrow-offset-x: -368px;
$menu-arrow-offset-y: -159px;
$menu-arrow-width: 8px;
$menu-arrow-height: 14px;
$menu-arrow-total-width: 381px;
$menu-arrow-total-height: 343px;
$menu-arrow-image: '../img/sprites/sprites.png';
$menu-arrow: (368px, 159px, -368px, -159px, 8px, 14px, 381px, 343px, '../img/sprites/sprites.png', 'menu-arrow', );
$mob-menu-close-name: 'mob-menu-close';
$mob-menu-close-x: 368px;
$mob-menu-close-y: 50px;
$mob-menu-close-offset-x: -368px;
$mob-menu-close-offset-y: -50px;
$mob-menu-close-width: 13px;
$mob-menu-close-height: 13px;
$mob-menu-close-total-width: 381px;
$mob-menu-close-total-height: 343px;
$mob-menu-close-image: '../img/sprites/sprites.png';
$mob-menu-close: (368px, 50px, -368px, -50px, 13px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'mob-menu-close', );
$mob-menu-open-name: 'mob-menu-open';
$mob-menu-open-x: 24px;
$mob-menu-open-y: 327px;
$mob-menu-open-offset-x: -24px;
$mob-menu-open-offset-y: -327px;
$mob-menu-open-width: 15px;
$mob-menu-open-height: 14px;
$mob-menu-open-total-width: 381px;
$mob-menu-open-total-height: 343px;
$mob-menu-open-image: '../img/sprites/sprites.png';
$mob-menu-open: (24px, 327px, -24px, -327px, 15px, 14px, 381px, 343px, '../img/sprites/sprites.png', 'mob-menu-open', );
$mob-search-name: 'mob-search';
$mob-search-x: 238px;
$mob-search-y: 297px;
$mob-search-offset-x: -238px;
$mob-search-offset-y: -297px;
$mob-search-width: 17px;
$mob-search-height: 17px;
$mob-search-total-width: 381px;
$mob-search-total-height: 343px;
$mob-search-image: '../img/sprites/sprites.png';
$mob-search: (238px, 297px, -238px, -297px, 17px, 17px, 381px, 343px, '../img/sprites/sprites.png', 'mob-search', );
$ordering-name: 'ordering';
$ordering-x: 144px;
$ordering-y: 171px;
$ordering-offset-x: -144px;
$ordering-offset-y: -171px;
$ordering-width: 36px;
$ordering-height: 36px;
$ordering-total-width: 381px;
$ordering-total-height: 343px;
$ordering-image: '../img/sprites/sprites.png';
$ordering: (144px, 171px, -144px, -171px, 36px, 36px, 381px, 343px, '../img/sprites/sprites.png', 'ordering', );
$pagination-arrow-left-hover-name: 'pagination-arrow-left-hover';
$pagination-arrow-left-hover-x: 348px;
$pagination-arrow-left-hover-y: 124px;
$pagination-arrow-left-hover-offset-x: -348px;
$pagination-arrow-left-hover-offset-y: -124px;
$pagination-arrow-left-hover-width: 6px;
$pagination-arrow-left-hover-height: 13px;
$pagination-arrow-left-hover-total-width: 381px;
$pagination-arrow-left-hover-total-height: 343px;
$pagination-arrow-left-hover-image: '../img/sprites/sprites.png';
$pagination-arrow-left-hover: (348px, 124px, -348px, -124px, 6px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'pagination-arrow-left-hover', );
$pagination-arrow-left-unactive-name: 'pagination-arrow-left-unactive';
$pagination-arrow-left-unactive-x: 368px;
$pagination-arrow-left-unactive-y: 323px;
$pagination-arrow-left-unactive-offset-x: -368px;
$pagination-arrow-left-unactive-offset-y: -323px;
$pagination-arrow-left-unactive-width: 6px;
$pagination-arrow-left-unactive-height: 13px;
$pagination-arrow-left-unactive-total-width: 381px;
$pagination-arrow-left-unactive-total-height: 343px;
$pagination-arrow-left-unactive-image: '../img/sprites/sprites.png';
$pagination-arrow-left-unactive: (368px, 323px, -368px, -323px, 6px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'pagination-arrow-left-unactive', );
$pagination-arrow-left-name: 'pagination-arrow-left';
$pagination-arrow-left-x: 368px;
$pagination-arrow-left-y: 300px;
$pagination-arrow-left-offset-x: -368px;
$pagination-arrow-left-offset-y: -300px;
$pagination-arrow-left-width: 6px;
$pagination-arrow-left-height: 13px;
$pagination-arrow-left-total-width: 381px;
$pagination-arrow-left-total-height: 343px;
$pagination-arrow-left-image: '../img/sprites/sprites.png';
$pagination-arrow-left: (368px, 300px, -368px, -300px, 6px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'pagination-arrow-left', );
$pagination-arrow-right-hover-name: 'pagination-arrow-right-hover';
$pagination-arrow-right-hover-x: 368px;
$pagination-arrow-right-hover-y: 277px;
$pagination-arrow-right-hover-offset-x: -368px;
$pagination-arrow-right-hover-offset-y: -277px;
$pagination-arrow-right-hover-width: 6px;
$pagination-arrow-right-hover-height: 13px;
$pagination-arrow-right-hover-total-width: 381px;
$pagination-arrow-right-hover-total-height: 343px;
$pagination-arrow-right-hover-image: '../img/sprites/sprites.png';
$pagination-arrow-right-hover: (368px, 277px, -368px, -277px, 6px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'pagination-arrow-right-hover', );
$pagination-arrow-right-unactive-name: 'pagination-arrow-right-unactive';
$pagination-arrow-right-unactive-x: 368px;
$pagination-arrow-right-unactive-y: 254px;
$pagination-arrow-right-unactive-offset-x: -368px;
$pagination-arrow-right-unactive-offset-y: -254px;
$pagination-arrow-right-unactive-width: 6px;
$pagination-arrow-right-unactive-height: 13px;
$pagination-arrow-right-unactive-total-width: 381px;
$pagination-arrow-right-unactive-total-height: 343px;
$pagination-arrow-right-unactive-image: '../img/sprites/sprites.png';
$pagination-arrow-right-unactive: (368px, 254px, -368px, -254px, 6px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'pagination-arrow-right-unactive', );
$pagination-arrow-right-name: 'pagination-arrow-right';
$pagination-arrow-right-x: 368px;
$pagination-arrow-right-y: 231px;
$pagination-arrow-right-offset-x: -368px;
$pagination-arrow-right-offset-y: -231px;
$pagination-arrow-right-width: 6px;
$pagination-arrow-right-height: 13px;
$pagination-arrow-right-total-width: 381px;
$pagination-arrow-right-total-height: 343px;
$pagination-arrow-right-image: '../img/sprites/sprites.png';
$pagination-arrow-right: (368px, 231px, -368px, -231px, 6px, 13px, 381px, 343px, '../img/sprites/sprites.png', 'pagination-arrow-right', );
$professional-installers-name: 'professional-installers';
$professional-installers-x: 230px;
$professional-installers-y: 156px;
$professional-installers-offset-x: -230px;
$professional-installers-offset-y: -156px;
$professional-installers-width: 38px;
$professional-installers-height: 38px;
$professional-installers-total-width: 381px;
$professional-installers-total-height: 343px;
$professional-installers-image: '../img/sprites/sprites.png';
$professional-installers: (230px, 156px, -230px, -156px, 38px, 38px, 381px, 343px, '../img/sprites/sprites.png', 'professional-installers', );
$question-name: 'question';
$question-x: 348px;
$question-y: 147px;
$question-offset-x: -348px;
$question-offset-y: -147px;
$question-width: 6px;
$question-height: 9px;
$question-total-width: 381px;
$question-total-height: 343px;
$question-image: '../img/sprites/sprites.png';
$question: (348px, 147px, -348px, -147px, 6px, 9px, 381px, 343px, '../img/sprites/sprites.png', 'question', );
$readmore-name: 'readmore';
$readmore-x: 210px;
$readmore-y: 297px;
$readmore-offset-x: -210px;
$readmore-offset-y: -297px;
$readmore-width: 18px;
$readmore-height: 18px;
$readmore-total-width: 381px;
$readmore-total-height: 343px;
$readmore-image: '../img/sprites/sprites.png';
$readmore: (210px, 297px, -210px, -297px, 18px, 18px, 381px, 343px, '../img/sprites/sprites.png', 'readmore', );
$refresh-hover-name: 'refresh-hover';
$refresh-hover-x: 368px;
$refresh-hover-y: 117px;
$refresh-hover-offset-x: -368px;
$refresh-hover-offset-y: -117px;
$refresh-hover-width: 11px;
$refresh-hover-height: 11px;
$refresh-hover-total-width: 381px;
$refresh-hover-total-height: 343px;
$refresh-hover-image: '../img/sprites/sprites.png';
$refresh-hover: (368px, 117px, -368px, -117px, 11px, 11px, 381px, 343px, '../img/sprites/sprites.png', 'refresh-hover', );
$refresh-name: 'refresh';
$refresh-x: 368px;
$refresh-y: 138px;
$refresh-offset-x: -368px;
$refresh-offset-y: -138px;
$refresh-width: 11px;
$refresh-height: 11px;
$refresh-total-width: 381px;
$refresh-total-height: 343px;
$refresh-image: '../img/sprites/sprites.png';
$refresh: (368px, 138px, -368px, -138px, 11px, 11px, 381px, 343px, '../img/sprites/sprites.png', 'refresh', );
$retail-installation-name: 'retail-installation';
$retail-installation-x: 278px;
$retail-installation-y: 46px;
$retail-installation-offset-x: -278px;
$retail-installation-offset-y: -46px;
$retail-installation-width: 33px;
$retail-installation-height: 37px;
$retail-installation-total-width: 381px;
$retail-installation-total-height: 343px;
$retail-installation-image: '../img/sprites/sprites.png';
$retail-installation: (278px, 46px, -278px, -46px, 33px, 37px, 381px, 343px, '../img/sprites/sprites.png', 'retail-installation', );
$return-link-hover-name: 'return-link-hover';
$return-link-hover-x: 180px;
$return-link-hover-y: 150px;
$return-link-hover-offset-x: -180px;
$return-link-hover-offset-y: -150px;
$return-link-hover-width: 14px;
$return-link-hover-height: 10px;
$return-link-hover-total-width: 381px;
$return-link-hover-total-height: 343px;
$return-link-hover-image: '../img/sprites/sprites.png';
$return-link-hover: (180px, 150px, -180px, -150px, 14px, 10px, 381px, 343px, '../img/sprites/sprites.png', 'return-link-hover', );
$return-link-name: 'return-link';
$return-link-x: 204px;
$return-link-y: 150px;
$return-link-offset-x: -204px;
$return-link-offset-y: -150px;
$return-link-width: 14px;
$return-link-height: 10px;
$return-link-total-width: 381px;
$return-link-total-height: 343px;
$return-link-image: '../img/sprites/sprites.png';
$return-link: (204px, 150px, -204px, -150px, 14px, 10px, 381px, 343px, '../img/sprites/sprites.png', 'return-link', );
$reviews-angle-name: 'reviews-angle';
$reviews-angle-x: 246px;
$reviews-angle-y: 266px;
$reviews-angle-offset-x: -246px;
$reviews-angle-offset-y: -266px;
$reviews-angle-width: 22px;
$reviews-angle-height: 19px;
$reviews-angle-total-width: 381px;
$reviews-angle-total-height: 343px;
$reviews-angle-image: '../img/sprites/sprites.png';
$reviews-angle: (246px, 266px, -246px, -266px, 22px, 19px, 381px, 343px, '../img/sprites/sprites.png', 'reviews-angle', );
$reviews-clients-angle-name: 'reviews-clients-angle';
$reviews-clients-angle-x: 278px;
$reviews-clients-angle-y: 266px;
$reviews-clients-angle-offset-x: -278px;
$reviews-clients-angle-offset-y: -266px;
$reviews-clients-angle-width: 21px;
$reviews-clients-angle-height: 16px;
$reviews-clients-angle-total-width: 381px;
$reviews-clients-angle-total-height: 343px;
$reviews-clients-angle-image: '../img/sprites/sprites.png';
$reviews-clients-angle: (278px, 266px, -278px, -266px, 21px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'reviews-clients-angle', );
$select-big-hover-name: 'select-big-hover';
$select-big-hover-x: 348px;
$select-big-hover-y: 66px;
$select-big-hover-offset-x: -348px;
$select-big-hover-offset-y: -66px;
$select-big-hover-width: 10px;
$select-big-hover-height: 19px;
$select-big-hover-total-width: 381px;
$select-big-hover-total-height: 343px;
$select-big-hover-image: '../img/sprites/sprites.png';
$select-big-hover: (348px, 66px, -348px, -66px, 10px, 19px, 381px, 343px, '../img/sprites/sprites.png', 'select-big-hover', );
$select-big-name: 'select-big';
$select-big-x: 348px;
$select-big-y: 95px;
$select-big-offset-x: -348px;
$select-big-offset-y: -95px;
$select-big-width: 10px;
$select-big-height: 19px;
$select-big-total-width: 381px;
$select-big-total-height: 343px;
$select-big-image: '../img/sprites/sprites.png';
$select-big: (348px, 95px, -348px, -95px, 10px, 19px, 381px, 343px, '../img/sprites/sprites.png', 'select-big', );
$select-hover-name: 'select-hover';
$select-hover-x: 368px;
$select-hover-y: 207px;
$select-hover-offset-x: -368px;
$select-hover-offset-y: -207px;
$select-hover-width: 7px;
$select-hover-height: 14px;
$select-hover-total-width: 381px;
$select-hover-total-height: 343px;
$select-hover-image: '../img/sprites/sprites.png';
$select-hover: (368px, 207px, -368px, -207px, 7px, 14px, 381px, 343px, '../img/sprites/sprites.png', 'select-hover', );
$select-name: 'select';
$select-x: 368px;
$select-y: 183px;
$select-offset-x: -368px;
$select-offset-y: -183px;
$select-width: 7px;
$select-height: 14px;
$select-total-width: 381px;
$select-total-height: 343px;
$select-image: '../img/sprites/sprites.png';
$select: (368px, 183px, -368px, -183px, 7px, 14px, 381px, 343px, '../img/sprites/sprites.png', 'select', );
$share-link-hover-name: 'share-link-hover';
$share-link-hover-x: 319px;
$share-link-hover-y: 297px;
$share-link-hover-offset-x: -319px;
$share-link-hover-offset-y: -297px;
$share-link-hover-width: 14px;
$share-link-hover-height: 16px;
$share-link-hover-total-width: 381px;
$share-link-hover-total-height: 343px;
$share-link-hover-image: '../img/sprites/sprites.png';
$share-link-hover: (319px, 297px, -319px, -297px, 14px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'share-link-hover', );
$share-link-name: 'share-link';
$share-link-x: 0px;
$share-link-y: 327px;
$share-link-offset-x: 0px;
$share-link-offset-y: -327px;
$share-link-width: 14px;
$share-link-height: 16px;
$share-link-total-width: 381px;
$share-link-total-height: 343px;
$share-link-image: '../img/sprites/sprites.png';
$share-link: (0px, 327px, 0px, -327px, 14px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'share-link', );
$soon-possible-name: 'soon-possible';
$soon-possible-x: 230px;
$soon-possible-y: 52px;
$soon-possible-offset-x: -230px;
$soon-possible-offset-y: -52px;
$soon-possible-width: 38px;
$soon-possible-height: 42px;
$soon-possible-total-width: 381px;
$soon-possible-total-height: 343px;
$soon-possible-image: '../img/sprites/sprites.png';
$soon-possible: (230px, 52px, -230px, -52px, 38px, 42px, 381px, 343px, '../img/sprites/sprites.png', 'soon-possible', );
$spacebox-logo-sm-name: 'spacebox-logo-sm';
$spacebox-logo-sm-x: 215px;
$spacebox-logo-sm-y: 266px;
$spacebox-logo-sm-offset-x: -215px;
$spacebox-logo-sm-offset-y: -266px;
$spacebox-logo-sm-width: 21px;
$spacebox-logo-sm-height: 20px;
$spacebox-logo-sm-total-width: 381px;
$spacebox-logo-sm-total-height: 343px;
$spacebox-logo-sm-image: '../img/sprites/sprites.png';
$spacebox-logo-sm: (215px, 266px, -215px, -266px, 21px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'spacebox-logo-sm', );
$spacebox-logo-name: 'spacebox-logo';
$spacebox-logo-x: 0px;
$spacebox-logo-y: 120px;
$spacebox-logo-offset-x: 0px;
$spacebox-logo-offset-y: -120px;
$spacebox-logo-width: 41px;
$spacebox-logo-height: 41px;
$spacebox-logo-total-width: 381px;
$spacebox-logo-total-height: 343px;
$spacebox-logo-image: '../img/sprites/sprites.png';
$spacebox-logo: (0px, 120px, 0px, -120px, 41px, 41px, 381px, 343px, '../img/sprites/sprites.png', 'spacebox-logo', );
$testimonial-arrow-left-hover-name: 'testimonial-arrow-left-hover';
$testimonial-arrow-left-hover-x: 90px;
$testimonial-arrow-left-hover-y: 297px;
$testimonial-arrow-left-hover-offset-x: -90px;
$testimonial-arrow-left-hover-offset-y: -297px;
$testimonial-arrow-left-hover-width: 20px;
$testimonial-arrow-left-hover-height: 20px;
$testimonial-arrow-left-hover-total-width: 381px;
$testimonial-arrow-left-hover-total-height: 343px;
$testimonial-arrow-left-hover-image: '../img/sprites/sprites.png';
$testimonial-arrow-left-hover: (90px, 297px, -90px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-arrow-left-hover', );
$testimonial-arrow-left-name: 'testimonial-arrow-left';
$testimonial-arrow-left-x: 60px;
$testimonial-arrow-left-y: 297px;
$testimonial-arrow-left-offset-x: -60px;
$testimonial-arrow-left-offset-y: -297px;
$testimonial-arrow-left-width: 20px;
$testimonial-arrow-left-height: 20px;
$testimonial-arrow-left-total-width: 381px;
$testimonial-arrow-left-total-height: 343px;
$testimonial-arrow-left-image: '../img/sprites/sprites.png';
$testimonial-arrow-left: (60px, 297px, -60px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-arrow-left', );
$testimonial-arrow-right-hover-name: 'testimonial-arrow-right-hover';
$testimonial-arrow-right-hover-x: 0px;
$testimonial-arrow-right-hover-y: 297px;
$testimonial-arrow-right-hover-offset-x: 0px;
$testimonial-arrow-right-hover-offset-y: -297px;
$testimonial-arrow-right-hover-width: 20px;
$testimonial-arrow-right-hover-height: 20px;
$testimonial-arrow-right-hover-total-width: 381px;
$testimonial-arrow-right-hover-total-height: 343px;
$testimonial-arrow-right-hover-image: '../img/sprites/sprites.png';
$testimonial-arrow-right-hover: (0px, 297px, 0px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-arrow-right-hover', );
$testimonial-arrow-right-name: 'testimonial-arrow-right';
$testimonial-arrow-right-x: 180px;
$testimonial-arrow-right-y: 297px;
$testimonial-arrow-right-offset-x: -180px;
$testimonial-arrow-right-offset-y: -297px;
$testimonial-arrow-right-width: 20px;
$testimonial-arrow-right-height: 20px;
$testimonial-arrow-right-total-width: 381px;
$testimonial-arrow-right-total-height: 343px;
$testimonial-arrow-right-image: '../img/sprites/sprites.png';
$testimonial-arrow-right: (180px, 297px, -180px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-arrow-right', );
$testimonial-round-active-name: 'testimonial-round-active';
$testimonial-round-active-x: 150px;
$testimonial-round-active-y: 297px;
$testimonial-round-active-offset-x: -150px;
$testimonial-round-active-offset-y: -297px;
$testimonial-round-active-width: 20px;
$testimonial-round-active-height: 20px;
$testimonial-round-active-total-width: 381px;
$testimonial-round-active-total-height: 343px;
$testimonial-round-active-image: '../img/sprites/sprites.png';
$testimonial-round-active: (150px, 297px, -150px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-round-active', );
$testimonial-round-hover-name: 'testimonial-round-hover';
$testimonial-round-hover-x: 120px;
$testimonial-round-hover-y: 297px;
$testimonial-round-hover-offset-x: -120px;
$testimonial-round-hover-offset-y: -297px;
$testimonial-round-hover-width: 20px;
$testimonial-round-hover-height: 20px;
$testimonial-round-hover-total-width: 381px;
$testimonial-round-hover-total-height: 343px;
$testimonial-round-hover-image: '../img/sprites/sprites.png';
$testimonial-round-hover: (120px, 297px, -120px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-round-hover', );
$testimonial-round-name: 'testimonial-round';
$testimonial-round-x: 30px;
$testimonial-round-y: 297px;
$testimonial-round-offset-x: -30px;
$testimonial-round-offset-y: -297px;
$testimonial-round-width: 20px;
$testimonial-round-height: 20px;
$testimonial-round-total-width: 381px;
$testimonial-round-total-height: 343px;
$testimonial-round-image: '../img/sprites/sprites.png';
$testimonial-round: (30px, 297px, -30px, -297px, 20px, 20px, 381px, 343px, '../img/sprites/sprites.png', 'testimonial-round', );
$to-catalog-hover-name: 'to-catalog-hover';
$to-catalog-hover-x: 322px;
$to-catalog-hover-y: 147px;
$to-catalog-hover-offset-x: -322px;
$to-catalog-hover-offset-y: -147px;
$to-catalog-hover-width: 16px;
$to-catalog-hover-height: 16px;
$to-catalog-hover-total-width: 381px;
$to-catalog-hover-total-height: 343px;
$to-catalog-hover-image: '../img/sprites/sprites.png';
$to-catalog-hover: (322px, 147px, -322px, -147px, 16px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'to-catalog-hover', );
$to-catalog-name: 'to-catalog';
$to-catalog-x: 322px;
$to-catalog-y: 173px;
$to-catalog-offset-x: -322px;
$to-catalog-offset-y: -173px;
$to-catalog-width: 16px;
$to-catalog-height: 16px;
$to-catalog-total-width: 381px;
$to-catalog-total-height: 343px;
$to-catalog-image: '../img/sprites/sprites.png';
$to-catalog: (322px, 173px, -322px, -173px, 16px, 16px, 381px, 343px, '../img/sprites/sprites.png', 'to-catalog', );
$trash-name: 'trash';
$trash-x: 0px;
$trash-y: 221px;
$trash-offset-x: 0px;
$trash-offset-y: -221px;
$trash-width: 35px;
$trash-height: 35px;
$trash-total-width: 381px;
$trash-total-height: 343px;
$trash-image: '../img/sprites/sprites.png';
$trash: (0px, 221px, 0px, -221px, 35px, 35px, 381px, 343px, '../img/sprites/sprites.png', 'trash', );
$view-list-active-name: 'view-list-active';
$view-list-active-x: 0px;
$view-list-active-y: 266px;
$view-list-active-offset-x: 0px;
$view-list-active-offset-y: -266px;
$view-list-active-width: 33px;
$view-list-active-height: 21px;
$view-list-active-total-width: 381px;
$view-list-active-total-height: 343px;
$view-list-active-image: '../img/sprites/sprites.png';
$view-list-active: (0px, 266px, 0px, -266px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-list-active', );
$view-list-hover-name: 'view-list-hover';
$view-list-hover-x: 221px;
$view-list-hover-y: 221px;
$view-list-hover-offset-x: -221px;
$view-list-hover-offset-y: -221px;
$view-list-hover-width: 33px;
$view-list-hover-height: 21px;
$view-list-hover-total-width: 381px;
$view-list-hover-total-height: 343px;
$view-list-hover-image: '../img/sprites/sprites.png';
$view-list-hover: (221px, 221px, -221px, -221px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-list-hover', );
$view-list-sm-active-name: 'view-list-sm-active';
$view-list-sm-active-x: 178px;
$view-list-sm-active-y: 221px;
$view-list-sm-active-offset-x: -178px;
$view-list-sm-active-offset-y: -221px;
$view-list-sm-active-width: 33px;
$view-list-sm-active-height: 21px;
$view-list-sm-active-total-width: 381px;
$view-list-sm-active-total-height: 343px;
$view-list-sm-active-image: '../img/sprites/sprites.png';
$view-list-sm-active: (178px, 221px, -178px, -221px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-list-sm-active', );
$view-list-sm-hover-name: 'view-list-sm-hover';
$view-list-sm-hover-x: 135px;
$view-list-sm-hover-y: 221px;
$view-list-sm-hover-offset-x: -135px;
$view-list-sm-hover-offset-y: -221px;
$view-list-sm-hover-width: 33px;
$view-list-sm-hover-height: 21px;
$view-list-sm-hover-total-width: 381px;
$view-list-sm-hover-total-height: 343px;
$view-list-sm-hover-image: '../img/sprites/sprites.png';
$view-list-sm-hover: (135px, 221px, -135px, -221px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-list-sm-hover', );
$view-list-sm-name: 'view-list-sm';
$view-list-sm-x: 278px;
$view-list-sm-y: 232px;
$view-list-sm-offset-x: -278px;
$view-list-sm-offset-y: -232px;
$view-list-sm-width: 33px;
$view-list-sm-height: 21px;
$view-list-sm-total-width: 381px;
$view-list-sm-total-height: 343px;
$view-list-sm-image: '../img/sprites/sprites.png';
$view-list-sm: (278px, 232px, -278px, -232px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-list-sm', );
$view-list-name: 'view-list';
$view-list-x: 172px;
$view-list-y: 266px;
$view-list-offset-x: -172px;
$view-list-offset-y: -266px;
$view-list-width: 33px;
$view-list-height: 21px;
$view-list-total-width: 381px;
$view-list-total-height: 343px;
$view-list-image: '../img/sprites/sprites.png';
$view-list: (172px, 266px, -172px, -266px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-list', );
$view-table-active-name: 'view-table-active';
$view-table-active-x: 129px;
$view-table-active-y: 266px;
$view-table-active-offset-x: -129px;
$view-table-active-offset-y: -266px;
$view-table-active-width: 33px;
$view-table-active-height: 21px;
$view-table-active-total-width: 381px;
$view-table-active-total-height: 343px;
$view-table-active-image: '../img/sprites/sprites.png';
$view-table-active: (129px, 266px, -129px, -266px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-table-active', );
$view-table-hover-name: 'view-table-hover';
$view-table-hover-x: 86px;
$view-table-hover-y: 266px;
$view-table-hover-offset-x: -86px;
$view-table-hover-offset-y: -266px;
$view-table-hover-width: 33px;
$view-table-hover-height: 21px;
$view-table-hover-total-width: 381px;
$view-table-hover-total-height: 343px;
$view-table-hover-image: '../img/sprites/sprites.png';
$view-table-hover: (86px, 266px, -86px, -266px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-table-hover', );
$view-table-name: 'view-table';
$view-table-x: 43px;
$view-table-y: 266px;
$view-table-offset-x: -43px;
$view-table-offset-y: -266px;
$view-table-width: 33px;
$view-table-height: 21px;
$view-table-total-width: 381px;
$view-table-total-height: 343px;
$view-table-image: '../img/sprites/sprites.png';
$view-table: (43px, 266px, -43px, -266px, 33px, 21px, 381px, 343px, '../img/sprites/sprites.png', 'view-table', );
$spritesheet-width: 381px;
$spritesheet-height: 343px;
$spritesheet-image: '../img/sprites/sprites.png';
$spritesheet-sprites: ($advantages, $any-form-payment, $arrow-left-hover, $arrow-left, $arrow-right-hover, $arrow-right, $basket-hover, $basket, $best-film, $box, $catalog-decorative-films-sm, $catalog-decorative-films, $catalog-heat-reflective-films-sm, $catalog-heat-reflective-films, $catalog-protective-films-sm, $catalog-protective-films, $catalog-slr-films-sm, $catalog-slr-films, $catalog-sunscreen-films-sm, $catalog-sunscreen-films, $certificates-warranty, $clock, $close-hover, $close-white, $close, $customer-reviews, $dashed-angle, $free-shipping, $full-screen-arrow-left-hover, $full-screen-arrow-left, $full-screen-arrow-right-hover, $full-screen-arrow-right, $help-choosing, $high-altitude, $install, $large-surface, $lens-hover, $lens, $menu-arrow, $mob-menu-close, $mob-menu-open, $mob-search, $ordering, $pagination-arrow-left-hover, $pagination-arrow-left-unactive, $pagination-arrow-left, $pagination-arrow-right-hover, $pagination-arrow-right-unactive, $pagination-arrow-right, $professional-installers, $question, $readmore, $refresh-hover, $refresh, $retail-installation, $return-link-hover, $return-link, $reviews-angle, $reviews-clients-angle, $select-big-hover, $select-big, $select-hover, $select, $share-link-hover, $share-link, $soon-possible, $spacebox-logo-sm, $spacebox-logo, $testimonial-arrow-left-hover, $testimonial-arrow-left, $testimonial-arrow-right-hover, $testimonial-arrow-right, $testimonial-round-active, $testimonial-round-hover, $testimonial-round, $to-catalog-hover, $to-catalog, $trash, $view-list-active, $view-list-hover, $view-list-sm-active, $view-list-sm-hover, $view-list-sm, $view-list, $view-table-active, $view-table-hover, $view-table, );
$spritesheet: (381px, 343px, '../img/sprites/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
