/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$advantages-name: 'advantages';
$advantages-x: 144px;
$advantages-y: 171px;
$advantages-offset-x: -144px;
$advantages-offset-y: -171px;
$advantages-width: 36px;
$advantages-height: 36px;
$advantages-total-width: 357px;
$advantages-total-height: 340px;
$advantages-image: '../img/sprites/sprites.png';
$advantages: (144px, 171px, -144px, -171px, 36px, 36px, 357px, 340px, '../img/sprites/sprites.png', 'advantages', );
$any-form-payment-name: 'any-form-payment';
$any-form-payment-x: 0px;
$any-form-payment-y: 221px;
$any-form-payment-offset-x: 0px;
$any-form-payment-offset-y: -221px;
$any-form-payment-width: 34px;
$any-form-payment-height: 36px;
$any-form-payment-total-width: 357px;
$any-form-payment-total-height: 340px;
$any-form-payment-image: '../img/sprites/sprites.png';
$any-form-payment: (0px, 221px, 0px, -221px, 34px, 36px, 357px, 340px, '../img/sprites/sprites.png', 'any-form-payment', );
$arrow-left-hover-name: 'arrow-left-hover';
$arrow-left-hover-x: 321px;
$arrow-left-hover-y: 199px;
$arrow-left-hover-offset-x: -321px;
$arrow-left-hover-offset-y: -199px;
$arrow-left-hover-width: 10px;
$arrow-left-hover-height: 23px;
$arrow-left-hover-total-width: 357px;
$arrow-left-hover-total-height: 340px;
$arrow-left-hover-image: '../img/sprites/sprites.png';
$arrow-left-hover: (321px, 199px, -321px, -199px, 10px, 23px, 357px, 340px, '../img/sprites/sprites.png', 'arrow-left-hover', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 321px;
$arrow-left-y: 232px;
$arrow-left-offset-x: -321px;
$arrow-left-offset-y: -232px;
$arrow-left-width: 10px;
$arrow-left-height: 23px;
$arrow-left-total-width: 357px;
$arrow-left-total-height: 340px;
$arrow-left-image: '../img/sprites/sprites.png';
$arrow-left: (321px, 232px, -321px, -232px, 10px, 23px, 357px, 340px, '../img/sprites/sprites.png', 'arrow-left', );
$arrow-right-hover-name: 'arrow-right-hover';
$arrow-right-hover-x: 321px;
$arrow-right-hover-y: 265px;
$arrow-right-hover-offset-x: -321px;
$arrow-right-hover-offset-y: -265px;
$arrow-right-hover-width: 10px;
$arrow-right-hover-height: 23px;
$arrow-right-hover-total-width: 357px;
$arrow-right-hover-total-height: 340px;
$arrow-right-hover-image: '../img/sprites/sprites.png';
$arrow-right-hover: (321px, 265px, -321px, -265px, 10px, 23px, 357px, 340px, '../img/sprites/sprites.png', 'arrow-right-hover', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 347px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -347px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 10px;
$arrow-right-height: 23px;
$arrow-right-total-width: 357px;
$arrow-right-total-height: 340px;
$arrow-right-image: '../img/sprites/sprites.png';
$arrow-right: (347px, 0px, -347px, 0px, 10px, 23px, 357px, 340px, '../img/sprites/sprites.png', 'arrow-right', );
$basket-hover-name: 'basket-hover';
$basket-hover-x: 308px;
$basket-hover-y: 298px;
$basket-hover-offset-x: -308px;
$basket-hover-offset-y: -298px;
$basket-hover-width: 13px;
$basket-hover-height: 15px;
$basket-hover-total-width: 357px;
$basket-hover-total-height: 340px;
$basket-hover-image: '../img/sprites/sprites.png';
$basket-hover: (308px, 298px, -308px, -298px, 13px, 15px, 357px, 340px, '../img/sprites/sprites.png', 'basket-hover', );
$basket-name: 'basket';
$basket-x: 285px;
$basket-y: 298px;
$basket-offset-x: -285px;
$basket-offset-y: -298px;
$basket-width: 13px;
$basket-height: 15px;
$basket-total-width: 357px;
$basket-total-height: 340px;
$basket-image: '../img/sprites/sprites.png';
$basket: (285px, 298px, -285px, -298px, 13px, 15px, 357px, 340px, '../img/sprites/sprites.png', 'basket', );
$best-film-name: 'best-film';
$best-film-x: 230px;
$best-film-y: 156px;
$best-film-offset-x: -230px;
$best-film-offset-y: -156px;
$best-film-width: 38px;
$best-film-height: 38px;
$best-film-total-width: 357px;
$best-film-total-height: 340px;
$best-film-image: '../img/sprites/sprites.png';
$best-film: (230px, 156px, -230px, -156px, 38px, 38px, 357px, 340px, '../img/sprites/sprites.png', 'best-film', );
$catalog-decorative-films-sm-name: 'catalog-decorative-films-sm';
$catalog-decorative-films-sm-x: 101px;
$catalog-decorative-films-sm-y: 120px;
$catalog-decorative-films-sm-offset-x: -101px;
$catalog-decorative-films-sm-offset-y: -120px;
$catalog-decorative-films-sm-width: 40px;
$catalog-decorative-films-sm-height: 40px;
$catalog-decorative-films-sm-total-width: 357px;
$catalog-decorative-films-sm-total-height: 340px;
$catalog-decorative-films-sm-image: '../img/sprites/sprites.png';
$catalog-decorative-films-sm: (101px, 120px, -101px, -120px, 40px, 40px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-decorative-films-sm', );
$catalog-decorative-films-name: 'catalog-decorative-films';
$catalog-decorative-films-x: 0px;
$catalog-decorative-films-y: 60px;
$catalog-decorative-films-offset-x: 0px;
$catalog-decorative-films-offset-y: -60px;
$catalog-decorative-films-width: 50px;
$catalog-decorative-films-height: 50px;
$catalog-decorative-films-total-width: 357px;
$catalog-decorative-films-total-height: 340px;
$catalog-decorative-films-image: '../img/sprites/sprites.png';
$catalog-decorative-films: (0px, 60px, 0px, -60px, 50px, 50px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-decorative-films', );
$catalog-heat-reflective-films-sm-name: 'catalog-heat-reflective-films-sm';
$catalog-heat-reflective-films-sm-x: 180px;
$catalog-heat-reflective-films-sm-y: 0px;
$catalog-heat-reflective-films-sm-offset-x: -180px;
$catalog-heat-reflective-films-sm-offset-y: 0px;
$catalog-heat-reflective-films-sm-width: 40px;
$catalog-heat-reflective-films-sm-height: 40px;
$catalog-heat-reflective-films-sm-total-width: 357px;
$catalog-heat-reflective-films-sm-total-height: 340px;
$catalog-heat-reflective-films-sm-image: '../img/sprites/sprites.png';
$catalog-heat-reflective-films-sm: (180px, 0px, -180px, 0px, 40px, 40px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-heat-reflective-films-sm', );
$catalog-heat-reflective-films-name: 'catalog-heat-reflective-films';
$catalog-heat-reflective-films-x: 0px;
$catalog-heat-reflective-films-y: 0px;
$catalog-heat-reflective-films-offset-x: 0px;
$catalog-heat-reflective-films-offset-y: 0px;
$catalog-heat-reflective-films-width: 50px;
$catalog-heat-reflective-films-height: 50px;
$catalog-heat-reflective-films-total-width: 357px;
$catalog-heat-reflective-films-total-height: 340px;
$catalog-heat-reflective-films-image: '../img/sprites/sprites.png';
$catalog-heat-reflective-films: (0px, 0px, 0px, 0px, 50px, 50px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-heat-reflective-films', );
$catalog-protective-films-sm-name: 'catalog-protective-films-sm';
$catalog-protective-films-sm-x: 51px;
$catalog-protective-films-sm-y: 120px;
$catalog-protective-films-sm-offset-x: -51px;
$catalog-protective-films-sm-offset-y: -120px;
$catalog-protective-films-sm-width: 40px;
$catalog-protective-films-sm-height: 40px;
$catalog-protective-films-sm-total-width: 357px;
$catalog-protective-films-sm-total-height: 340px;
$catalog-protective-films-sm-image: '../img/sprites/sprites.png';
$catalog-protective-films-sm: (51px, 120px, -51px, -120px, 40px, 40px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-protective-films-sm', );
$catalog-protective-films-name: 'catalog-protective-films';
$catalog-protective-films-x: 60px;
$catalog-protective-films-y: 0px;
$catalog-protective-films-offset-x: -60px;
$catalog-protective-films-offset-y: 0px;
$catalog-protective-films-width: 50px;
$catalog-protective-films-height: 50px;
$catalog-protective-films-total-width: 357px;
$catalog-protective-films-total-height: 340px;
$catalog-protective-films-image: '../img/sprites/sprites.png';
$catalog-protective-films: (60px, 0px, -60px, 0px, 50px, 50px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-protective-films', );
$catalog-slr-films-sm-name: 'catalog-slr-films-sm';
$catalog-slr-films-sm-x: 0px;
$catalog-slr-films-sm-y: 171px;
$catalog-slr-films-sm-offset-x: 0px;
$catalog-slr-films-sm-offset-y: -171px;
$catalog-slr-films-sm-width: 40px;
$catalog-slr-films-sm-height: 40px;
$catalog-slr-films-sm-total-width: 357px;
$catalog-slr-films-sm-total-height: 340px;
$catalog-slr-films-sm-image: '../img/sprites/sprites.png';
$catalog-slr-films-sm: (0px, 171px, 0px, -171px, 40px, 40px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-slr-films-sm', );
$catalog-slr-films-name: 'catalog-slr-films';
$catalog-slr-films-x: 60px;
$catalog-slr-films-y: 60px;
$catalog-slr-films-offset-x: -60px;
$catalog-slr-films-offset-y: -60px;
$catalog-slr-films-width: 50px;
$catalog-slr-films-height: 50px;
$catalog-slr-films-total-width: 357px;
$catalog-slr-films-total-height: 340px;
$catalog-slr-films-image: '../img/sprites/sprites.png';
$catalog-slr-films: (60px, 60px, -60px, -60px, 50px, 50px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-slr-films', );
$catalog-sunscreen-films-sm-name: 'catalog-sunscreen-films-sm';
$catalog-sunscreen-films-sm-x: 180px;
$catalog-sunscreen-films-sm-y: 100px;
$catalog-sunscreen-films-sm-offset-x: -180px;
$catalog-sunscreen-films-sm-offset-y: -100px;
$catalog-sunscreen-films-sm-width: 40px;
$catalog-sunscreen-films-sm-height: 40px;
$catalog-sunscreen-films-sm-total-width: 357px;
$catalog-sunscreen-films-sm-total-height: 340px;
$catalog-sunscreen-films-sm-image: '../img/sprites/sprites.png';
$catalog-sunscreen-films-sm: (180px, 100px, -180px, -100px, 40px, 40px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-sunscreen-films-sm', );
$catalog-sunscreen-films-name: 'catalog-sunscreen-films';
$catalog-sunscreen-films-x: 120px;
$catalog-sunscreen-films-y: 0px;
$catalog-sunscreen-films-offset-x: -120px;
$catalog-sunscreen-films-offset-y: 0px;
$catalog-sunscreen-films-width: 50px;
$catalog-sunscreen-films-height: 50px;
$catalog-sunscreen-films-total-width: 357px;
$catalog-sunscreen-films-total-height: 340px;
$catalog-sunscreen-films-image: '../img/sprites/sprites.png';
$catalog-sunscreen-films: (120px, 0px, -120px, 0px, 50px, 50px, 357px, 340px, '../img/sprites/sprites.png', 'catalog-sunscreen-films', );
$certificates-warranty-name: 'certificates-warranty';
$certificates-warranty-x: 278px;
$certificates-warranty-y: 140px;
$certificates-warranty-offset-x: -278px;
$certificates-warranty-offset-y: -140px;
$certificates-warranty-width: 30px;
$certificates-warranty-height: 36px;
$certificates-warranty-total-width: 357px;
$certificates-warranty-total-height: 340px;
$certificates-warranty-image: '../img/sprites/sprites.png';
$certificates-warranty: (278px, 140px, -278px, -140px, 30px, 36px, 357px, 340px, '../img/sprites/sprites.png', 'certificates-warranty', );
$clock-name: 'clock';
$clock-x: 120px;
$clock-y: 60px;
$clock-offset-x: -120px;
$clock-offset-y: -60px;
$clock-width: 47px;
$clock-height: 47px;
$clock-total-width: 357px;
$clock-total-height: 340px;
$clock-image: '../img/sprites/sprites.png';
$clock: (120px, 60px, -120px, -60px, 47px, 47px, 357px, 340px, '../img/sprites/sprites.png', 'clock', );
$close-hover-name: 'close-hover';
$close-hover-x: 0px;
$close-hover-y: 328px;
$close-hover-offset-x: 0px;
$close-hover-offset-y: -328px;
$close-hover-width: 12px;
$close-hover-height: 12px;
$close-hover-total-width: 357px;
$close-hover-total-height: 340px;
$close-hover-image: '../img/sprites/sprites.png';
$close-hover: (0px, 328px, 0px, -328px, 12px, 12px, 357px, 340px, '../img/sprites/sprites.png', 'close-hover', );
$close-white-name: 'close-white';
$close-white-x: 234px;
$close-white-y: 267px;
$close-white-offset-x: -234px;
$close-white-offset-y: -267px;
$close-white-width: 15px;
$close-white-height: 15px;
$close-white-total-width: 357px;
$close-white-total-height: 340px;
$close-white-image: '../img/sprites/sprites.png';
$close-white: (234px, 267px, -234px, -267px, 15px, 15px, 357px, 340px, '../img/sprites/sprites.png', 'close-white', );
$close-name: 'close';
$close-x: 22px;
$close-y: 328px;
$close-offset-x: -22px;
$close-offset-y: -328px;
$close-width: 12px;
$close-height: 12px;
$close-total-width: 357px;
$close-total-height: 340px;
$close-image: '../img/sprites/sprites.png';
$close: (22px, 328px, -22px, -328px, 12px, 12px, 357px, 340px, '../img/sprites/sprites.png', 'close', );
$customer-reviews-name: 'customer-reviews';
$customer-reviews-x: 278px;
$customer-reviews-y: 47px;
$customer-reviews-offset-x: -278px;
$customer-reviews-offset-y: -47px;
$customer-reviews-width: 32px;
$customer-reviews-height: 37px;
$customer-reviews-total-width: 357px;
$customer-reviews-total-height: 340px;
$customer-reviews-image: '../img/sprites/sprites.png';
$customer-reviews: (278px, 47px, -278px, -47px, 32px, 37px, 357px, 340px, '../img/sprites/sprites.png', 'customer-reviews', );
$dashed-angle-name: 'dashed-angle';
$dashed-angle-x: 190px;
$dashed-angle-y: 171px;
$dashed-angle-offset-x: -190px;
$dashed-angle-offset-y: -171px;
$dashed-angle-width: 26px;
$dashed-angle-height: 26px;
$dashed-angle-total-width: 357px;
$dashed-angle-total-height: 340px;
$dashed-angle-image: '../img/sprites/sprites.png';
$dashed-angle: (190px, 171px, -190px, -171px, 26px, 26px, 357px, 340px, '../img/sprites/sprites.png', 'dashed-angle', );
$free-shipping-name: 'free-shipping';
$free-shipping-x: 278px;
$free-shipping-y: 94px;
$free-shipping-offset-x: -278px;
$free-shipping-offset-y: -94px;
$free-shipping-width: 31px;
$free-shipping-height: 36px;
$free-shipping-total-width: 357px;
$free-shipping-total-height: 340px;
$free-shipping-image: '../img/sprites/sprites.png';
$free-shipping: (278px, 94px, -278px, -94px, 31px, 36px, 357px, 340px, '../img/sprites/sprites.png', 'free-shipping', );
$full-screen-arrow-left-hover-name: 'full-screen-arrow-left-hover';
$full-screen-arrow-left-hover-x: 151px;
$full-screen-arrow-left-hover-y: 120px;
$full-screen-arrow-left-hover-offset-x: -151px;
$full-screen-arrow-left-hover-offset-y: -120px;
$full-screen-arrow-left-hover-width: 16px;
$full-screen-arrow-left-hover-height: 39px;
$full-screen-arrow-left-hover-total-width: 357px;
$full-screen-arrow-left-hover-total-height: 340px;
$full-screen-arrow-left-hover-image: '../img/sprites/sprites.png';
$full-screen-arrow-left-hover: (151px, 120px, -151px, -120px, 16px, 39px, 357px, 340px, '../img/sprites/sprites.png', 'full-screen-arrow-left-hover', );
$full-screen-arrow-left-name: 'full-screen-arrow-left';
$full-screen-arrow-left-x: 321px;
$full-screen-arrow-left-y: 98px;
$full-screen-arrow-left-offset-x: -321px;
$full-screen-arrow-left-offset-y: -98px;
$full-screen-arrow-left-width: 16px;
$full-screen-arrow-left-height: 39px;
$full-screen-arrow-left-total-width: 357px;
$full-screen-arrow-left-total-height: 340px;
$full-screen-arrow-left-image: '../img/sprites/sprites.png';
$full-screen-arrow-left: (321px, 98px, -321px, -98px, 16px, 39px, 357px, 340px, '../img/sprites/sprites.png', 'full-screen-arrow-left', );
$full-screen-arrow-right-hover-name: 'full-screen-arrow-right-hover';
$full-screen-arrow-right-hover-x: 321px;
$full-screen-arrow-right-hover-y: 49px;
$full-screen-arrow-right-hover-offset-x: -321px;
$full-screen-arrow-right-hover-offset-y: -49px;
$full-screen-arrow-right-hover-width: 16px;
$full-screen-arrow-right-hover-height: 39px;
$full-screen-arrow-right-hover-total-width: 357px;
$full-screen-arrow-right-hover-total-height: 340px;
$full-screen-arrow-right-hover-image: '../img/sprites/sprites.png';
$full-screen-arrow-right-hover: (321px, 49px, -321px, -49px, 16px, 39px, 357px, 340px, '../img/sprites/sprites.png', 'full-screen-arrow-right-hover', );
$full-screen-arrow-right-name: 'full-screen-arrow-right';
$full-screen-arrow-right-x: 321px;
$full-screen-arrow-right-y: 0px;
$full-screen-arrow-right-offset-x: -321px;
$full-screen-arrow-right-offset-y: 0px;
$full-screen-arrow-right-width: 16px;
$full-screen-arrow-right-height: 39px;
$full-screen-arrow-right-total-width: 357px;
$full-screen-arrow-right-total-height: 340px;
$full-screen-arrow-right-image: '../img/sprites/sprites.png';
$full-screen-arrow-right: (321px, 0px, -321px, 0px, 16px, 39px, 357px, 340px, '../img/sprites/sprites.png', 'full-screen-arrow-right', );
$help-choosing-name: 'help-choosing';
$help-choosing-x: 180px;
$help-choosing-y: 50px;
$help-choosing-offset-x: -180px;
$help-choosing-offset-y: -50px;
$help-choosing-width: 40px;
$help-choosing-height: 40px;
$help-choosing-total-width: 357px;
$help-choosing-total-height: 340px;
$help-choosing-image: '../img/sprites/sprites.png';
$help-choosing: (180px, 50px, -180px, -50px, 40px, 40px, 357px, 340px, '../img/sprites/sprites.png', 'help-choosing', );
$high-altitude-name: 'high-altitude';
$high-altitude-x: 230px;
$high-altitude-y: 52px;
$high-altitude-offset-x: -230px;
$high-altitude-offset-y: -52px;
$high-altitude-width: 38px;
$high-altitude-height: 42px;
$high-altitude-total-width: 357px;
$high-altitude-total-height: 340px;
$high-altitude-image: '../img/sprites/sprites.png';
$high-altitude: (230px, 52px, -230px, -52px, 38px, 42px, 357px, 340px, '../img/sprites/sprites.png', 'high-altitude', );
$large-surface-name: 'large-surface';
$large-surface-x: 230px;
$large-surface-y: 0px;
$large-surface-offset-x: -230px;
$large-surface-offset-y: 0px;
$large-surface-width: 38px;
$large-surface-height: 42px;
$large-surface-total-width: 357px;
$large-surface-total-height: 340px;
$large-surface-image: '../img/sprites/sprites.png';
$large-surface: (230px, 0px, -230px, 0px, 38px, 42px, 357px, 340px, '../img/sprites/sprites.png', 'large-surface', );
$lens-hover-name: 'lens-hover';
$lens-hover-x: 180px;
$lens-hover-y: 267px;
$lens-hover-offset-x: -180px;
$lens-hover-offset-y: -267px;
$lens-hover-width: 17px;
$lens-hover-height: 16px;
$lens-hover-total-width: 357px;
$lens-hover-total-height: 340px;
$lens-hover-image: '../img/sprites/sprites.png';
$lens-hover: (180px, 267px, -180px, -267px, 17px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'lens-hover', );
$lens-name: 'lens';
$lens-x: 207px;
$lens-y: 267px;
$lens-offset-x: -207px;
$lens-offset-y: -267px;
$lens-width: 17px;
$lens-height: 16px;
$lens-total-width: 357px;
$lens-total-height: 340px;
$lens-image: '../img/sprites/sprites.png';
$lens: (207px, 267px, -207px, -267px, 17px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'lens', );
$menu-arrow-name: 'menu-arrow';
$menu-arrow-x: 347px;
$menu-arrow-y: 91px;
$menu-arrow-offset-x: -347px;
$menu-arrow-offset-y: -91px;
$menu-arrow-width: 8px;
$menu-arrow-height: 14px;
$menu-arrow-total-width: 357px;
$menu-arrow-total-height: 340px;
$menu-arrow-image: '../img/sprites/sprites.png';
$menu-arrow: (347px, 91px, -347px, -91px, 8px, 14px, 357px, 340px, '../img/sprites/sprites.png', 'menu-arrow', );
$mob-menu-close-name: 'mob-menu-close';
$mob-menu-close-x: 284px;
$mob-menu-close-y: 267px;
$mob-menu-close-offset-x: -284px;
$mob-menu-close-offset-y: -267px;
$mob-menu-close-width: 13px;
$mob-menu-close-height: 13px;
$mob-menu-close-total-width: 357px;
$mob-menu-close-total-height: 340px;
$mob-menu-close-image: '../img/sprites/sprites.png';
$mob-menu-close: (284px, 267px, -284px, -267px, 13px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'mob-menu-close', );
$mob-menu-open-name: 'mob-menu-open';
$mob-menu-open-x: 259px;
$mob-menu-open-y: 267px;
$mob-menu-open-offset-x: -259px;
$mob-menu-open-offset-y: -267px;
$mob-menu-open-width: 15px;
$mob-menu-open-height: 14px;
$mob-menu-open-total-width: 357px;
$mob-menu-open-total-height: 340px;
$mob-menu-open-image: '../img/sprites/sprites.png';
$mob-menu-open: (259px, 267px, -259px, -267px, 15px, 14px, 357px, 340px, '../img/sprites/sprites.png', 'mob-menu-open', );
$mob-search-name: 'mob-search';
$mob-search-x: 210px;
$mob-search-y: 298px;
$mob-search-offset-x: -210px;
$mob-search-offset-y: -298px;
$mob-search-width: 17px;
$mob-search-height: 17px;
$mob-search-total-width: 357px;
$mob-search-total-height: 340px;
$mob-search-image: '../img/sprites/sprites.png';
$mob-search: (210px, 298px, -210px, -298px, 17px, 17px, 357px, 340px, '../img/sprites/sprites.png', 'mob-search', );
$ordering-name: 'ordering';
$ordering-x: 98px;
$ordering-y: 171px;
$ordering-offset-x: -98px;
$ordering-offset-y: -171px;
$ordering-width: 36px;
$ordering-height: 36px;
$ordering-total-width: 357px;
$ordering-total-height: 340px;
$ordering-image: '../img/sprites/sprites.png';
$ordering: (98px, 171px, -98px, -171px, 36px, 36px, 357px, 340px, '../img/sprites/sprites.png', 'ordering', );
$pagination-arrow-left-hover-name: 'pagination-arrow-left-hover';
$pagination-arrow-left-hover-x: 347px;
$pagination-arrow-left-hover-y: 278px;
$pagination-arrow-left-hover-offset-x: -347px;
$pagination-arrow-left-hover-offset-y: -278px;
$pagination-arrow-left-hover-width: 6px;
$pagination-arrow-left-hover-height: 13px;
$pagination-arrow-left-hover-total-width: 357px;
$pagination-arrow-left-hover-total-height: 340px;
$pagination-arrow-left-hover-image: '../img/sprites/sprites.png';
$pagination-arrow-left-hover: (347px, 278px, -347px, -278px, 6px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'pagination-arrow-left-hover', );
$pagination-arrow-left-unactive-name: 'pagination-arrow-left-unactive';
$pagination-arrow-left-unactive-x: 347px;
$pagination-arrow-left-unactive-y: 255px;
$pagination-arrow-left-unactive-offset-x: -347px;
$pagination-arrow-left-unactive-offset-y: -255px;
$pagination-arrow-left-unactive-width: 6px;
$pagination-arrow-left-unactive-height: 13px;
$pagination-arrow-left-unactive-total-width: 357px;
$pagination-arrow-left-unactive-total-height: 340px;
$pagination-arrow-left-unactive-image: '../img/sprites/sprites.png';
$pagination-arrow-left-unactive: (347px, 255px, -347px, -255px, 6px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'pagination-arrow-left-unactive', );
$pagination-arrow-left-name: 'pagination-arrow-left';
$pagination-arrow-left-x: 347px;
$pagination-arrow-left-y: 232px;
$pagination-arrow-left-offset-x: -347px;
$pagination-arrow-left-offset-y: -232px;
$pagination-arrow-left-width: 6px;
$pagination-arrow-left-height: 13px;
$pagination-arrow-left-total-width: 357px;
$pagination-arrow-left-total-height: 340px;
$pagination-arrow-left-image: '../img/sprites/sprites.png';
$pagination-arrow-left: (347px, 232px, -347px, -232px, 6px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'pagination-arrow-left', );
$pagination-arrow-right-hover-name: 'pagination-arrow-right-hover';
$pagination-arrow-right-hover-x: 347px;
$pagination-arrow-right-hover-y: 209px;
$pagination-arrow-right-hover-offset-x: -347px;
$pagination-arrow-right-hover-offset-y: -209px;
$pagination-arrow-right-hover-width: 6px;
$pagination-arrow-right-hover-height: 13px;
$pagination-arrow-right-hover-total-width: 357px;
$pagination-arrow-right-hover-total-height: 340px;
$pagination-arrow-right-hover-image: '../img/sprites/sprites.png';
$pagination-arrow-right-hover: (347px, 209px, -347px, -209px, 6px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'pagination-arrow-right-hover', );
$pagination-arrow-right-unactive-name: 'pagination-arrow-right-unactive';
$pagination-arrow-right-unactive-x: 347px;
$pagination-arrow-right-unactive-y: 186px;
$pagination-arrow-right-unactive-offset-x: -347px;
$pagination-arrow-right-unactive-offset-y: -186px;
$pagination-arrow-right-unactive-width: 6px;
$pagination-arrow-right-unactive-height: 13px;
$pagination-arrow-right-unactive-total-width: 357px;
$pagination-arrow-right-unactive-total-height: 340px;
$pagination-arrow-right-unactive-image: '../img/sprites/sprites.png';
$pagination-arrow-right-unactive: (347px, 186px, -347px, -186px, 6px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'pagination-arrow-right-unactive', );
$pagination-arrow-right-name: 'pagination-arrow-right';
$pagination-arrow-right-x: 347px;
$pagination-arrow-right-y: 163px;
$pagination-arrow-right-offset-x: -347px;
$pagination-arrow-right-offset-y: -163px;
$pagination-arrow-right-width: 6px;
$pagination-arrow-right-height: 13px;
$pagination-arrow-right-total-width: 357px;
$pagination-arrow-right-total-height: 340px;
$pagination-arrow-right-image: '../img/sprites/sprites.png';
$pagination-arrow-right: (347px, 163px, -347px, -163px, 6px, 13px, 357px, 340px, '../img/sprites/sprites.png', 'pagination-arrow-right', );
$professional-installers-name: 'professional-installers';
$professional-installers-x: 50px;
$professional-installers-y: 171px;
$professional-installers-offset-x: -50px;
$professional-installers-offset-y: -171px;
$professional-installers-width: 38px;
$professional-installers-height: 38px;
$professional-installers-total-width: 357px;
$professional-installers-total-height: 340px;
$professional-installers-image: '../img/sprites/sprites.png';
$professional-installers: (50px, 171px, -50px, -171px, 38px, 38px, 357px, 340px, '../img/sprites/sprites.png', 'professional-installers', );
$question-name: 'question';
$question-x: 347px;
$question-y: 301px;
$question-offset-x: -347px;
$question-offset-y: -301px;
$question-width: 6px;
$question-height: 9px;
$question-total-width: 357px;
$question-total-height: 340px;
$question-image: '../img/sprites/sprites.png';
$question: (347px, 301px, -347px, -301px, 6px, 9px, 357px, 340px, '../img/sprites/sprites.png', 'question', );
$refresh-hover-name: 'refresh-hover';
$refresh-hover-x: 44px;
$refresh-hover-y: 328px;
$refresh-hover-offset-x: -44px;
$refresh-hover-offset-y: -328px;
$refresh-hover-width: 11px;
$refresh-hover-height: 11px;
$refresh-hover-total-width: 357px;
$refresh-hover-total-height: 340px;
$refresh-hover-image: '../img/sprites/sprites.png';
$refresh-hover: (44px, 328px, -44px, -328px, 11px, 11px, 357px, 340px, '../img/sprites/sprites.png', 'refresh-hover', );
$refresh-name: 'refresh';
$refresh-x: 65px;
$refresh-y: 328px;
$refresh-offset-x: -65px;
$refresh-offset-y: -328px;
$refresh-width: 11px;
$refresh-height: 11px;
$refresh-total-width: 357px;
$refresh-total-height: 340px;
$refresh-image: '../img/sprites/sprites.png';
$refresh: (65px, 328px, -65px, -328px, 11px, 11px, 357px, 340px, '../img/sprites/sprites.png', 'refresh', );
$retail-installation-name: 'retail-installation';
$retail-installation-x: 278px;
$retail-installation-y: 0px;
$retail-installation-offset-x: -278px;
$retail-installation-offset-y: 0px;
$retail-installation-width: 33px;
$retail-installation-height: 37px;
$retail-installation-total-width: 357px;
$retail-installation-total-height: 340px;
$retail-installation-image: '../img/sprites/sprites.png';
$retail-installation: (278px, 0px, -278px, 0px, 33px, 37px, 357px, 340px, '../img/sprites/sprites.png', 'retail-installation', );
$return-link-hover-name: 'return-link-hover';
$return-link-hover-x: 180px;
$return-link-hover-y: 150px;
$return-link-hover-offset-x: -180px;
$return-link-hover-offset-y: -150px;
$return-link-hover-width: 14px;
$return-link-hover-height: 10px;
$return-link-hover-total-width: 357px;
$return-link-hover-total-height: 340px;
$return-link-hover-image: '../img/sprites/sprites.png';
$return-link-hover: (180px, 150px, -180px, -150px, 14px, 10px, 357px, 340px, '../img/sprites/sprites.png', 'return-link-hover', );
$return-link-name: 'return-link';
$return-link-x: 204px;
$return-link-y: 150px;
$return-link-offset-x: -204px;
$return-link-offset-y: -150px;
$return-link-width: 14px;
$return-link-height: 10px;
$return-link-total-width: 357px;
$return-link-total-height: 340px;
$return-link-image: '../img/sprites/sprites.png';
$return-link: (204px, 150px, -204px, -150px, 14px, 10px, 357px, 340px, '../img/sprites/sprites.png', 'return-link', );
$reviews-angle-name: 'reviews-angle';
$reviews-angle-x: 117px;
$reviews-angle-y: 267px;
$reviews-angle-offset-x: -117px;
$reviews-angle-offset-y: -267px;
$reviews-angle-width: 22px;
$reviews-angle-height: 19px;
$reviews-angle-total-width: 357px;
$reviews-angle-total-height: 340px;
$reviews-angle-image: '../img/sprites/sprites.png';
$reviews-angle: (117px, 267px, -117px, -267px, 22px, 19px, 357px, 340px, '../img/sprites/sprites.png', 'reviews-angle', );
$reviews-clients-angle-name: 'reviews-clients-angle';
$reviews-clients-angle-x: 149px;
$reviews-clients-angle-y: 267px;
$reviews-clients-angle-offset-x: -149px;
$reviews-clients-angle-offset-y: -267px;
$reviews-clients-angle-width: 21px;
$reviews-clients-angle-height: 16px;
$reviews-clients-angle-total-width: 357px;
$reviews-clients-angle-total-height: 340px;
$reviews-clients-angle-image: '../img/sprites/sprites.png';
$reviews-clients-angle: (149px, 267px, -149px, -267px, 21px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'reviews-clients-angle', );
$select-big-hover-name: 'select-big-hover';
$select-big-hover-x: 347px;
$select-big-hover-y: 62px;
$select-big-hover-offset-x: -347px;
$select-big-hover-offset-y: -62px;
$select-big-hover-width: 10px;
$select-big-hover-height: 19px;
$select-big-hover-total-width: 357px;
$select-big-hover-total-height: 340px;
$select-big-hover-image: '../img/sprites/sprites.png';
$select-big-hover: (347px, 62px, -347px, -62px, 10px, 19px, 357px, 340px, '../img/sprites/sprites.png', 'select-big-hover', );
$select-big-name: 'select-big';
$select-big-x: 347px;
$select-big-y: 33px;
$select-big-offset-x: -347px;
$select-big-offset-y: -33px;
$select-big-width: 10px;
$select-big-height: 19px;
$select-big-total-width: 357px;
$select-big-total-height: 340px;
$select-big-image: '../img/sprites/sprites.png';
$select-big: (347px, 33px, -347px, -33px, 10px, 19px, 357px, 340px, '../img/sprites/sprites.png', 'select-big', );
$select-hover-name: 'select-hover';
$select-hover-x: 347px;
$select-hover-y: 115px;
$select-hover-offset-x: -347px;
$select-hover-offset-y: -115px;
$select-hover-width: 7px;
$select-hover-height: 14px;
$select-hover-total-width: 357px;
$select-hover-total-height: 340px;
$select-hover-image: '../img/sprites/sprites.png';
$select-hover: (347px, 115px, -347px, -115px, 7px, 14px, 357px, 340px, '../img/sprites/sprites.png', 'select-hover', );
$select-name: 'select';
$select-x: 347px;
$select-y: 139px;
$select-offset-x: -347px;
$select-offset-y: -139px;
$select-width: 7px;
$select-height: 14px;
$select-total-width: 357px;
$select-total-height: 340px;
$select-image: '../img/sprites/sprites.png';
$select: (347px, 139px, -347px, -139px, 7px, 14px, 357px, 340px, '../img/sprites/sprites.png', 'select', );
$share-link-hover-name: 'share-link-hover';
$share-link-hover-x: 237px;
$share-link-hover-y: 298px;
$share-link-hover-offset-x: -237px;
$share-link-hover-offset-y: -298px;
$share-link-hover-width: 14px;
$share-link-hover-height: 16px;
$share-link-hover-total-width: 357px;
$share-link-hover-total-height: 340px;
$share-link-hover-image: '../img/sprites/sprites.png';
$share-link-hover: (237px, 298px, -237px, -298px, 14px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'share-link-hover', );
$share-link-name: 'share-link';
$share-link-x: 261px;
$share-link-y: 298px;
$share-link-offset-x: -261px;
$share-link-offset-y: -298px;
$share-link-width: 14px;
$share-link-height: 16px;
$share-link-total-width: 357px;
$share-link-total-height: 340px;
$share-link-image: '../img/sprites/sprites.png';
$share-link: (261px, 298px, -261px, -298px, 14px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'share-link', );
$soon-possible-name: 'soon-possible';
$soon-possible-x: 230px;
$soon-possible-y: 104px;
$soon-possible-offset-x: -230px;
$soon-possible-offset-y: -104px;
$soon-possible-width: 38px;
$soon-possible-height: 42px;
$soon-possible-total-width: 357px;
$soon-possible-total-height: 340px;
$soon-possible-image: '../img/sprites/sprites.png';
$soon-possible: (230px, 104px, -230px, -104px, 38px, 42px, 357px, 340px, '../img/sprites/sprites.png', 'soon-possible', );
$spacebox-logo-sm-name: 'spacebox-logo-sm';
$spacebox-logo-sm-x: 86px;
$spacebox-logo-sm-y: 267px;
$spacebox-logo-sm-offset-x: -86px;
$spacebox-logo-sm-offset-y: -267px;
$spacebox-logo-sm-width: 21px;
$spacebox-logo-sm-height: 20px;
$spacebox-logo-sm-total-width: 357px;
$spacebox-logo-sm-total-height: 340px;
$spacebox-logo-sm-image: '../img/sprites/sprites.png';
$spacebox-logo-sm: (86px, 267px, -86px, -267px, 21px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'spacebox-logo-sm', );
$spacebox-logo-name: 'spacebox-logo';
$spacebox-logo-x: 0px;
$spacebox-logo-y: 120px;
$spacebox-logo-offset-x: 0px;
$spacebox-logo-offset-y: -120px;
$spacebox-logo-width: 41px;
$spacebox-logo-height: 41px;
$spacebox-logo-total-width: 357px;
$spacebox-logo-total-height: 340px;
$spacebox-logo-image: '../img/sprites/sprites.png';
$spacebox-logo: (0px, 120px, 0px, -120px, 41px, 41px, 357px, 340px, '../img/sprites/sprites.png', 'spacebox-logo', );
$testimonial-arrow-left-hover-name: 'testimonial-arrow-left-hover';
$testimonial-arrow-left-hover-x: 90px;
$testimonial-arrow-left-hover-y: 298px;
$testimonial-arrow-left-hover-offset-x: -90px;
$testimonial-arrow-left-hover-offset-y: -298px;
$testimonial-arrow-left-hover-width: 20px;
$testimonial-arrow-left-hover-height: 20px;
$testimonial-arrow-left-hover-total-width: 357px;
$testimonial-arrow-left-hover-total-height: 340px;
$testimonial-arrow-left-hover-image: '../img/sprites/sprites.png';
$testimonial-arrow-left-hover: (90px, 298px, -90px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-arrow-left-hover', );
$testimonial-arrow-left-name: 'testimonial-arrow-left';
$testimonial-arrow-left-x: 60px;
$testimonial-arrow-left-y: 298px;
$testimonial-arrow-left-offset-x: -60px;
$testimonial-arrow-left-offset-y: -298px;
$testimonial-arrow-left-width: 20px;
$testimonial-arrow-left-height: 20px;
$testimonial-arrow-left-total-width: 357px;
$testimonial-arrow-left-total-height: 340px;
$testimonial-arrow-left-image: '../img/sprites/sprites.png';
$testimonial-arrow-left: (60px, 298px, -60px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-arrow-left', );
$testimonial-arrow-right-hover-name: 'testimonial-arrow-right-hover';
$testimonial-arrow-right-hover-x: 150px;
$testimonial-arrow-right-hover-y: 298px;
$testimonial-arrow-right-hover-offset-x: -150px;
$testimonial-arrow-right-hover-offset-y: -298px;
$testimonial-arrow-right-hover-width: 20px;
$testimonial-arrow-right-hover-height: 20px;
$testimonial-arrow-right-hover-total-width: 357px;
$testimonial-arrow-right-hover-total-height: 340px;
$testimonial-arrow-right-hover-image: '../img/sprites/sprites.png';
$testimonial-arrow-right-hover: (150px, 298px, -150px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-arrow-right-hover', );
$testimonial-arrow-right-name: 'testimonial-arrow-right';
$testimonial-arrow-right-x: 0px;
$testimonial-arrow-right-y: 298px;
$testimonial-arrow-right-offset-x: 0px;
$testimonial-arrow-right-offset-y: -298px;
$testimonial-arrow-right-width: 20px;
$testimonial-arrow-right-height: 20px;
$testimonial-arrow-right-total-width: 357px;
$testimonial-arrow-right-total-height: 340px;
$testimonial-arrow-right-image: '../img/sprites/sprites.png';
$testimonial-arrow-right: (0px, 298px, 0px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-arrow-right', );
$testimonial-round-active-name: 'testimonial-round-active';
$testimonial-round-active-x: 180px;
$testimonial-round-active-y: 298px;
$testimonial-round-active-offset-x: -180px;
$testimonial-round-active-offset-y: -298px;
$testimonial-round-active-width: 20px;
$testimonial-round-active-height: 20px;
$testimonial-round-active-total-width: 357px;
$testimonial-round-active-total-height: 340px;
$testimonial-round-active-image: '../img/sprites/sprites.png';
$testimonial-round-active: (180px, 298px, -180px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-round-active', );
$testimonial-round-hover-name: 'testimonial-round-hover';
$testimonial-round-hover-x: 120px;
$testimonial-round-hover-y: 298px;
$testimonial-round-hover-offset-x: -120px;
$testimonial-round-hover-offset-y: -298px;
$testimonial-round-hover-width: 20px;
$testimonial-round-hover-height: 20px;
$testimonial-round-hover-total-width: 357px;
$testimonial-round-hover-total-height: 340px;
$testimonial-round-hover-image: '../img/sprites/sprites.png';
$testimonial-round-hover: (120px, 298px, -120px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-round-hover', );
$testimonial-round-name: 'testimonial-round';
$testimonial-round-x: 30px;
$testimonial-round-y: 298px;
$testimonial-round-offset-x: -30px;
$testimonial-round-offset-y: -298px;
$testimonial-round-width: 20px;
$testimonial-round-height: 20px;
$testimonial-round-total-width: 357px;
$testimonial-round-total-height: 340px;
$testimonial-round-image: '../img/sprites/sprites.png';
$testimonial-round: (30px, 298px, -30px, -298px, 20px, 20px, 357px, 340px, '../img/sprites/sprites.png', 'testimonial-round', );
$to-catalog-hover-name: 'to-catalog-hover';
$to-catalog-hover-x: 321px;
$to-catalog-hover-y: 147px;
$to-catalog-hover-offset-x: -321px;
$to-catalog-hover-offset-y: -147px;
$to-catalog-hover-width: 16px;
$to-catalog-hover-height: 16px;
$to-catalog-hover-total-width: 357px;
$to-catalog-hover-total-height: 340px;
$to-catalog-hover-image: '../img/sprites/sprites.png';
$to-catalog-hover: (321px, 147px, -321px, -147px, 16px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'to-catalog-hover', );
$to-catalog-name: 'to-catalog';
$to-catalog-x: 321px;
$to-catalog-y: 173px;
$to-catalog-offset-x: -321px;
$to-catalog-offset-y: -173px;
$to-catalog-width: 16px;
$to-catalog-height: 16px;
$to-catalog-total-width: 357px;
$to-catalog-total-height: 340px;
$to-catalog-image: '../img/sprites/sprites.png';
$to-catalog: (321px, 173px, -321px, -173px, 16px, 16px, 357px, 340px, '../img/sprites/sprites.png', 'to-catalog', );
$view-list-active-name: 'view-list-active';
$view-list-active-x: 216px;
$view-list-active-y: 221px;
$view-list-active-offset-x: -216px;
$view-list-active-offset-y: -221px;
$view-list-active-width: 33px;
$view-list-active-height: 21px;
$view-list-active-total-width: 357px;
$view-list-active-total-height: 340px;
$view-list-active-image: '../img/sprites/sprites.png';
$view-list-active: (216px, 221px, -216px, -221px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-list-active', );
$view-list-hover-name: 'view-list-hover';
$view-list-hover-x: 173px;
$view-list-hover-y: 221px;
$view-list-hover-offset-x: -173px;
$view-list-hover-offset-y: -221px;
$view-list-hover-width: 33px;
$view-list-hover-height: 21px;
$view-list-hover-total-width: 357px;
$view-list-hover-total-height: 340px;
$view-list-hover-image: '../img/sprites/sprites.png';
$view-list-hover: (173px, 221px, -173px, -221px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-list-hover', );
$view-list-sm-active-name: 'view-list-sm-active';
$view-list-sm-active-x: 0px;
$view-list-sm-active-y: 267px;
$view-list-sm-active-offset-x: 0px;
$view-list-sm-active-offset-y: -267px;
$view-list-sm-active-width: 33px;
$view-list-sm-active-height: 21px;
$view-list-sm-active-total-width: 357px;
$view-list-sm-active-total-height: 340px;
$view-list-sm-active-image: '../img/sprites/sprites.png';
$view-list-sm-active: (0px, 267px, 0px, -267px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-list-sm-active', );
$view-list-sm-hover-name: 'view-list-sm-hover';
$view-list-sm-hover-x: 130px;
$view-list-sm-hover-y: 221px;
$view-list-sm-hover-offset-x: -130px;
$view-list-sm-hover-offset-y: -221px;
$view-list-sm-hover-width: 33px;
$view-list-sm-hover-height: 21px;
$view-list-sm-hover-total-width: 357px;
$view-list-sm-hover-total-height: 340px;
$view-list-sm-hover-image: '../img/sprites/sprites.png';
$view-list-sm-hover: (130px, 221px, -130px, -221px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-list-sm-hover', );
$view-list-sm-name: 'view-list-sm';
$view-list-sm-x: 87px;
$view-list-sm-y: 221px;
$view-list-sm-offset-x: -87px;
$view-list-sm-offset-y: -221px;
$view-list-sm-width: 33px;
$view-list-sm-height: 21px;
$view-list-sm-total-width: 357px;
$view-list-sm-total-height: 340px;
$view-list-sm-image: '../img/sprites/sprites.png';
$view-list-sm: (87px, 221px, -87px, -221px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-list-sm', );
$view-list-name: 'view-list';
$view-list-x: 44px;
$view-list-y: 221px;
$view-list-offset-x: -44px;
$view-list-offset-y: -221px;
$view-list-width: 33px;
$view-list-height: 21px;
$view-list-total-width: 357px;
$view-list-total-height: 340px;
$view-list-image: '../img/sprites/sprites.png';
$view-list: (44px, 221px, -44px, -221px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-list', );
$view-table-active-name: 'view-table-active';
$view-table-active-x: 278px;
$view-table-active-y: 217px;
$view-table-active-offset-x: -278px;
$view-table-active-offset-y: -217px;
$view-table-active-width: 33px;
$view-table-active-height: 21px;
$view-table-active-total-width: 357px;
$view-table-active-total-height: 340px;
$view-table-active-image: '../img/sprites/sprites.png';
$view-table-active: (278px, 217px, -278px, -217px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-table-active', );
$view-table-hover-name: 'view-table-hover';
$view-table-hover-x: 278px;
$view-table-hover-y: 186px;
$view-table-hover-offset-x: -278px;
$view-table-hover-offset-y: -186px;
$view-table-hover-width: 33px;
$view-table-hover-height: 21px;
$view-table-hover-total-width: 357px;
$view-table-hover-total-height: 340px;
$view-table-hover-image: '../img/sprites/sprites.png';
$view-table-hover: (278px, 186px, -278px, -186px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-table-hover', );
$view-table-name: 'view-table';
$view-table-x: 43px;
$view-table-y: 267px;
$view-table-offset-x: -43px;
$view-table-offset-y: -267px;
$view-table-width: 33px;
$view-table-height: 21px;
$view-table-total-width: 357px;
$view-table-total-height: 340px;
$view-table-image: '../img/sprites/sprites.png';
$view-table: (43px, 267px, -43px, -267px, 33px, 21px, 357px, 340px, '../img/sprites/sprites.png', 'view-table', );
$spritesheet-width: 357px;
$spritesheet-height: 340px;
$spritesheet-image: '../img/sprites/sprites.png';
$spritesheet-sprites: ($advantages, $any-form-payment, $arrow-left-hover, $arrow-left, $arrow-right-hover, $arrow-right, $basket-hover, $basket, $best-film, $catalog-decorative-films-sm, $catalog-decorative-films, $catalog-heat-reflective-films-sm, $catalog-heat-reflective-films, $catalog-protective-films-sm, $catalog-protective-films, $catalog-slr-films-sm, $catalog-slr-films, $catalog-sunscreen-films-sm, $catalog-sunscreen-films, $certificates-warranty, $clock, $close-hover, $close-white, $close, $customer-reviews, $dashed-angle, $free-shipping, $full-screen-arrow-left-hover, $full-screen-arrow-left, $full-screen-arrow-right-hover, $full-screen-arrow-right, $help-choosing, $high-altitude, $large-surface, $lens-hover, $lens, $menu-arrow, $mob-menu-close, $mob-menu-open, $mob-search, $ordering, $pagination-arrow-left-hover, $pagination-arrow-left-unactive, $pagination-arrow-left, $pagination-arrow-right-hover, $pagination-arrow-right-unactive, $pagination-arrow-right, $professional-installers, $question, $refresh-hover, $refresh, $retail-installation, $return-link-hover, $return-link, $reviews-angle, $reviews-clients-angle, $select-big-hover, $select-big, $select-hover, $select, $share-link-hover, $share-link, $soon-possible, $spacebox-logo-sm, $spacebox-logo, $testimonial-arrow-left-hover, $testimonial-arrow-left, $testimonial-arrow-right-hover, $testimonial-arrow-right, $testimonial-round-active, $testimonial-round-hover, $testimonial-round, $to-catalog-hover, $to-catalog, $view-list-active, $view-list-hover, $view-list-sm-active, $view-list-sm-hover, $view-list-sm, $view-list, $view-table-active, $view-table-hover, $view-table, );
$spritesheet: (357px, 340px, '../img/sprites/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
