<!-- [Breadcrumbs] -->
<div class="page--line hide-for-small show-for-large">
	<div class="row columns">
		<div class="small-48 columns">

      		<div class="right">
				{{#ifpage 'article' 'faq' 'catalog-item' 'catalognew-item'}}
					{{> share }}
				{{/ifpage}}
			</div>
			
			<div class="left">

				<nav aria-label="" role="navigation">
					<ul class="breadcrumbs">
						<li><a href="#">Новости</a></li>
						<li><span>25 Сентября 2015</span></li>
					</ul>
				</nav>

			</div>

		</div>
	</div>
</div>
<!-- [/Breadcrumbs] -->