<footer class="footer page--line {{#ifpage 'indexnew' 'catalognew' 'catalognew-list' 'catalognew-item'}}p-t-15{{/ifpage}}">
    <div class="row columns footer__top {{#ifpage 'indexnew' 'catalognew' 'catalognew-list' 'catalognew-item'}}footer__top--border{{/ifpage}}">
    	<div class="small-48 large-16 columns">
    		<nav class="btm-nav p-r-55">
    			<a class="btm-nav__title" href="">
    				<span class="decorate">Тонировка окон</span>
    			</a>
    			<ul class="menu vertical btm-nav__menu hide-for-small show-for-large">
    				<li><a href="">Монтаж пленки в квартирах и загородных домах</a></li>
    				<li><a href="">Монтаж пленки в офисах и банках</a></li>
    				<li><a href="">Монтаж пленки в торговых центрах</a></li>
    			</ul>
    		</nav>
    	</div>
    	<div class="small-48 large-12 columns">
    		<nav class="btm-nav p-r-55">
    			<a class="btm-nav__title" href="">
    				<span class="decorate">Купить пленку</span>
    			</a>
    			<ul class="menu vertical btm-nav__menu hide-for-small show-for-large">
    				<li><a href="">Солнцезащитная
					(зеркальная, тонировочная)</a></li>
    				<li><a href="">Декоративная</a></li>
    				<li><a href="">Бронирующая (защитная)</a></li>
    				<li><a href="">Теплоотражающие пленки</a></li>
    				<li><a href="">Теплоотражающая</a></li>
    			</ul>
    		</nav>
    	</div>
    	<div class="small-48 large-12 columns">
    		<nav class="btm-nav p-r-55">
    			<a class="btm-nav__title" href="">
    				<span class="decorate">Сделать заказ</span>
    			</a>
    			<ul class="menu vertical btm-nav__menu hide-for-small show-for-large">
    				<li><a href="">Доставка и оплата</a></li>
    				<li><a href="">Гарантии</a></li>
    				<li><a href="">Примеры работы</a></li>
					<li><a href="">Вызвать консультанта</a></li>
    			</ul>
    		</nav>
    	</div>
    	<div class="small-48 large-8 columns">
    		<nav class="btm-nav">
    			<a class="btm-nav__title" href="">
    				<span class="decorate">Ultrablock</span>
    			</a>
    			<ul class="menu vertical btm-nav__menu hide-for-small show-for-large">
    				<li><a href="">О компании</a></li>
    				<li><a href="">Отзывы</a></li>
    				<li><a href="">Новости</a></li>
					<li><a href="">Блог</a></li>
					<li><a href="">Ответы на вопросы</a></li>
    			</ul>
    		</nav>
    	</div>
    </div>
    <div class="row columns footer__btm">
    	<div class="small-48 large-16 columns hide-for-small show-for-large">
			<p class="copyright">
				<span>&copy; 2010-2015</span>
				<br />
				<span>Все права защищены. <a href="">Ultrablock.ru</a></span>
			</p>
    	</div>
		<div class="small-48 large-16 columns">
			
			<form class="header__search" action="" method="post">
				<input class="header__search-input" type="text" placeholder="Поиск по сайту..." /><button class="header__search-btn" type="submit"><i class="icons icons--lens"></i></button>
			</form>

		</div>
    	<div class="small-48 large-8 large-offset-8  columns">

            <div class="show-for-small hide-for-large">
                <div class="row footer__btm-nav">
                    <div class="small-12 columns text-left">
                        <a href="">Гарантии</a>
                    </div>
                    <div class="small-25 columns text-center">
                        <a href="">Доствка и оплата</a>
                    </div>
                    <div class="small-11 columns text-right">
                        <a href="">Справка</a>
                    </div>
                </div>

                <a class="footer__btm-phone" href=""><span class="decorate">8(495) <strong>781-23-45</strong></span></a>
                
                <span class="footer__btm-copyright">
                    &copy; 2010-2015 Ultrablock.ru
                </span>

            </div>

    		<p class="site-dev">
				<!--
				<a class="button button--blue button--xs" href="#">Задать вопрос</a>
				-->
    		</p>

    	</div>
    </div>
</footer>