
.delivery {
	position: relative;
	&__title {
		margin-bottom: rem-calc( 28px );
	}
	&__anons {
		&,
		& p {
			color: $gray-color;
			font-size: rem-calc( 30px );
			line-height: 1.50;
			@extend .font-helveticaneue-thin;
			strong {
				@extend .font-helveticaneue-bold;
				color: #000;
			}			
		}
		& p {
			margin-bottom: 0px;
		}
		& {
			margin-bottom: rem-calc( 42px );
		}
		br {
			display: none;
		}
	}
	&__text {
		margin-bottom: rem-calc( 80px );
		&,
		& p {
			color: $gray-color;
			font-size: rem-calc( 18px );
		}
	}
	&__title,
	&__anons,
	&__text {
		position: relative;
		z-index: 100;
	}
	&__bg {
		position: absolute;
		overflow: hidden;
		right: 0px;
		bottom: 0px;
		left: 0px;
		height: 580px;
		min-height: 580px;
		z-index: 10;
		&-line {
			background: #eef3f5;
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			height: 240px;
			z-index: 1;
		}
		&:after,
		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 10;
		}
		&:before {
			background: transparent url(../img/delivery-bg/delivery-bg.png) no-repeat 0% 0%;
			width: 607px;
			height: 284px;			
			bottom: 180px;
			right: 50%;
			margin-right: 300px;			
		}
		&:after {
			background: transparent url(../img/delivery-bg/delivery-bg-2.png) no-repeat 0% 0%;
			width: 879px;
			height: 580px;
			bottom: 0px;
			left: 50%;
			margin-left: 100px;	
		}
	}
}

/* [Mob Top Menu] */
@include breakpoint(medium down) {
	
	.delivery {
		&__anons {
			margin-bottom: rem-calc( 24px );
			&,
			& p {
				font-size: rem-calc( 22px );
				line-height: 1.25;
			}
			& p {
				margin-bottom: rem-calc( 10px );
			}
		}
		&__text {
			margin-bottom: rem-calc( 43px );
			&,
			& p {
				font-size: rem-calc( 15px );
				line-height: 1.55;
			}
		}
	}

}

