
.header {
	padding-top: rem-calc(38px);
	margin-bottom: rem-calc(38px);
	position: relative;
	z-index: 100;
	&__search {
		position: relative;
		@include placeholder {
		    color: $ltgray-color;
			font-weight:100;
		}
		&-input {
			background-color: #fcfcfc;
			color: $ltgray-color;
			font-size: 12px;
			height: 30px;
			border-radius: 15px;
			padding: 6px 6px 6px 32px;
			margin-left: -10px;
			margin-right: -10px;
			border-color: #d9d9d9 #e2e2e2 #e5e5e5;
			position: relative;
			z-index: 10;
		}
		&-btn {
			position: absolute;
			z-index: 20;
			top: 7px;
			left: 0px;
		}
	}
	&__text {
		&,
		p {
			margin: 0px;
		}
	}
	&--new {
		font-size: rem-calc(12px);
		color: $midgray-color;
		margin-bottom: rem-calc(10px);
		&-inner {
			margin-bottom: rem-calc(65px);
		}
		&,
		p {
			line-height: 1.7;
		}
		.header__text {
			max-width: 190px;
			a {
				color: $midgray-color;
			}
		}
		.header__phone {
			font-size: rem-calc(12px);
			p {
				margin: 0px 0px 5px;
			}
			.header__phone-num {
				font-size: rem-calc(20px);
				line-height: 1.1;
				margin: 0px 0px 8px;
			}
		}
	}
	&__menu-popup {
		font-size: rem-calc(16px);
		font-family: "helveticaneuecyrmedium";
		&>li {
			position: relative;
			float: left;
			clear: left;
			&:not(.menu-text)>a {
				padding: 0px;
			}
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}				
			}
			&:hover>a,
			a:hover,
			a.active {
				color: $red;
			}
			&+li {
				margin-top: 10px;
			}
			&:hover {
				.header__menu-popup__nested {
					display: block;
				}
			}
		}
		&__parent {
			display: inline-block;
			padding-right: 15px;
			&:before {
				@extend .before;
				position: absolute;
				top: 6px;
				right: 0px;
				border-width: 5px 3px;
				border-style: solid;
				border-color: $blue transparent transparent transparent;
			}
			&:hover:before {
				top: 0px;
				border-color: transparent transparent $red transparent;
			}
		}
		&__nested {
			background: white;
			position: absolute;
			top: -1.4em;
			left: 100%;
			width: 270px;
			padding: 18px 20px 29px;
			font-size: rem-calc(14px);
			line-height: 1.35;
			font-weight: normal;
			border-radius: 6px;
			box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.15);
			display: none;
			&:before {
				@extend .before;
				position: absolute;
				left: -20px;
				border-width: 10px;
				border-style: solid;
				border-color: transparent white transparent transparent;
			}
			&>li {
				a,
				a:hover,
				a.active {
					color: $midgray-color;
				}
				&+li {
					margin: 14px 0px 0px;
				}
			}
		}
	}
}
.header {

	#logo {
		&,
		img {
			display: block;
		}
	}
	.sticker__order {
		margin-top: -38px;
	}

	&__phone {
		color: $midgray-color;
		font-size: rem-calc(16px);
		line-height: 1.1;
		color: #777;
		strong {
			color: #000;
		}
	}
}

/* [Mob Top Menu] */
@include breakpoint(medium down) {
	
	.header {
		padding-top: 0px;
		margin-bottom: 0px;
	}
	.mobtop {
		&-logo {
			padding: rem-calc( 20px 0px );
			&,
			& img {
				display: block;
				margin-right: auto;
			}
		}
		&__btn {
			&-group {
				position: relative;
			}
			&-btn {
				&:not(:last-child) {
					display: block;
					width: 100%;
					padding-right: 46px;
				}
				&:last-child {
					width: 46px;
					overflow: hidden;
					position: absolute;
					top: 0px;
					right: 0px;
					bottom: 0px;					
				}
			}
		}
	}

	.mobphone {
		background: transparent url(../img/mobile/index-bg.png) no-repeat 50% 0%;
		background-size: cover;
		margin-left: rem-calc( -20px );
		margin-right: rem-calc( -20px );
		color: $gray-color;
		font-size: rem-calc( 22px );
		font-family: "helveticaneuecyrlight";
		color: $gray-color;
		text-align: center;
		padding: rem-calc( 32px 20px 40px );
		.hline {
			height: 4px;
			margin: rem-calc( 32px 0px 0px );
		}
		&,
		& p {
			line-height: 1.30;
		}
		&__text {
			text-align: left;
			max-width: rem-calc( 280px );
			margin-left: auto;
			margin-right: auto;
			p {
				margin: 0px;
			}
			a {
				text-decoration: none;
				strong {
					font-family: "helveticaneuecyrmedium";
					border-bottom: 1px solid;
				}
				&:hover {
					strong {
						border-bottom-color: transparent;
					}
				}
			}
			}
		&__phone {
			padding: rem-calc( 15x 0px 0px );
			font-size: rem-calc( 34px );
			font-family: "helveticaneuecyrlight";
			border-bottom: 1px dashed;
			text-decoration: none;
			line-height: 1.1;
			display: inline-block;
			&:hover {
				border-bottom-color: transparent;
			}
			strong {
				font-family: "helveticaneuecyrbold";
			}
		}
	}

}
