label {
	line-height: 1.1;
	display: inline-block;
	cursor: pointer;
}

.inputtextarea,
.form-control {
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin-bottom: 1.25rem;
	color: #333;
	font-size: 1rem;
	height: 40px;
	&--lg {
		margin-bottom: 1.25rem;
		font-size: 1rem;
		height: 40px;
	}
	&--sm {
		margin-bottom: 1.25rem;
		font-size: rem-calc(14px);
		padding: 7px 10px;
		height: 35px;
		margin: 0px;
	}
	&.error {
		border-color: $red;
	}
}
.inputtextarea {
	height: 136px;
}
.button {
	text-decoration: none;
	margin: 0px;
	&--empty {
		background: transparent;
		font-size: rem-calc(15px);
		color: $blue;
		border: 1px solid $blue;
		margin: 0px 0px;
		padding-left: 0px;
		padding-right: 0px;
		.icons {
			&.icons--svg {
				color: #fff;
				svg {
					fill: currentColor;
				}
			}
		}
	}
	&--frame {
		background: transparent;
		font-size: rem-calc(14px);
		color: $gray-color;
		border: 1px solid #bcc9cf;
		margin: 0px 0px;
		padding: rem-calc( 8px ) rem-calc( 12px );
		&:hover {
			background: transparent;
			border-color: $red;
			color: $red;
		}
		.icons {
			&.icons--svg {
				color: #fff;
				svg {
					fill: currentColor;
				}
			}
		}
	}
	&-group {
		.button:not(:last-child) {
			border-right: 0px;
		}
	}
	&.button--blue {
		background: $dkblue;
		border-color: $dkblue;
		font-family: "helveticaneuecyrmedium";
		color: #fff;
		&:hover {
			background: lighten($dkblue, 5%);
		}
		&:active {
			background: darken($dkblue, 5%);
		}
	}
	&.button--red {
		background: $red;
		border-color: $red;
		font-family: "helveticaneuecyrmedium";
		color: #fff;
		&:hover {
			background: lighten($red, 5%);
		}
		&:active {
			background: darken($red, 5%);
		}
	}
	&.button--100 {
		width: 100%;
	}
	&.button--lg {
		height: 70px;
		line-height: 38px;
		text-decoration: none;
		min-height: 60px;
		border-radius: 6px;
		font-size: rem-calc( 18px );
		padding: rem-calc( 15px ) rem-calc( 15px );
	}
	&.button--sm {
		text-decoration: none;
		height: 40px;
		min-height: 30px;
		border-radius: 5px;
		font-size: rem-calc( 14px );
		padding: rem-calc( 8px ) rem-calc( 12px );
	}
	&.button--xs {
		text-decoration: none;
		height: 35px;
		min-height: 35px;
		border-radius: 4px;
		font-size: rem-calc( 14px );
		line-height: 1.1;
		padding: rem-calc( 9px ) rem-calc( 12px );
	}
	&.button--square {
		border-radius: 0px;
	}
	
}

/* [Mob Top Menu] */
@include breakpoint(medium down) {
	.button {
		&.button--lg {
			height: 50px;
			line-height: 26px;
		}
	}
}
