/* Variables
   ========================================================================== */

$dark-color:      #222;
$base-color:      #333;
$gray-color:      #555;
$midgray-color:   #777;
$ltgray-color:    #999;

$blue:            #0073e6;
$dkblue:          #06c;
$red:             #d33;

$href-color:      #06c;
